@import "./index.css";

@media (max-width: 639px) {
	body {
		font-size: 0.875rem;
	}
}

html {
	font-size: initial !important;
	@apply bg-ui text-ui;
}

html:is(.htw-dark) {
	color-scheme: dark;
}

.htw-dark .dark\:htw-bg-gray-700 {
	@apply bg-ui;
  }
  