@import "./index.css";

@media (max-width: 639px) {
	body {
		font-size: 0.875rem;
	}
}

html {
	font-size: initial !important;
}

.histoire-generic-render-story {
	@apply h-auto;
	contain: layout;
}

.histoire-generic-render-story.dark,
.dark .htw-border {
	@apply bg-ui text-ui;
}

.htw-dark .bind-preview-bg {
	@apply bg-ui;
}

.htw-m-auto {
	margin-top: 0;
}
