@utility border {
	border-width: thin;
}



/* @layer utilities{

    .
}

@theme {
    --border-0: 0px;
    --border
}


const borderWidth = {
	0:       '0px',
	DEFAULT: 'thin',
	2:       '2px',
}

const boxShadow = {
	"border-t": "0 -2px 0 0 rgba(0, 0, 0, 1)",
	"border-b": "0 2px 0 0 rgba(0, 0, 0, 1)",
	"lg-up": "0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 -4px 6px -4px rgb(0 0 0 / 0.1)",
}



TODO: anschauen, wie wir boxShadow machen
 */