@import "./palette.css";

@layer base {

	:root {
		/* TODO color-scheme: light dark; -> Als default - Browser-Default...*/
		color-scheme: light;
		/* color-scheme: light dark; */

		--color-text-ui: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-text-ui-0: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-900));
		--color-text-ui-10: light-dark(var(--color-palette-neutral-300), var(--color-palette-neutral-700));
		--color-text-ui-25: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-500));
		--color-text-ui-50: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-300));
		--color-text-ui-75: light-dark(var(--color-palette-neutral-800), var(--color-palette-neutral-200));
		--color-text-ui-100: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-text-ui-hover: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-text-ui-secondary: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-500));
		--color-text-ui-secondary-hover: light-dark(var(--color-palette-brand-400), var(--color-palette-brand-300));
		--color-text-ui-brand: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-text-ui-brand-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-300));
		--color-text-ui-brand-secondary: light-dark(var(--color-palette-brand-300), var(--color-palette-brand-500));
		--color-text-ui-brand-secondary-hover: light-dark(var(--color-palette-brand-400), var(--color-palette-brand-400));
		--color-text-ui-statistic: light-dark(var(--color-palette-statistic-500), var(--color-palette-statistic-400));
		--color-text-ui-statistic-hover: light-dark(var(--color-palette-statistic-600), var(--color-palette-statistic-300));
		--color-text-ui-statistic-secondary: light-dark(var(--color-palette-statistic-300), var(--color-palette-statistic-500));
		--color-text-ui-statistic-secondary-hover: light-dark(var(--color-palette-statistic-400), var(--color-palette-statistic-400));
		--color-text-ui-selected: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-text-ui-selected-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-300));
		--color-text-ui-selected-secondary: light-dark(var(--color-palette-brand-300), var(--color-palette-brand-500));
		--color-text-ui-selected-secondary-hover: light-dark(var(--color-palette-brand-400), var(--color-palette-brand-400));
		--color-text-ui-danger: light-dark(var(--color-palette-danger-500), var(--color-palette-danger-400));
		--color-text-ui-danger-hover: light-dark(var(--color-palette-danger-600), var(--color-palette-danger-300));
		--color-text-ui-danger-secondary: light-dark(var(--color-palette-danger-300), var(--color-palette-danger-500));
		--color-text-ui-danger-secondary-hover: light-dark(var(--color-palette-danger-400), var(--color-palette-danger-400));
		--color-text-ui-success: light-dark(var(--color-palette-success-500), var(--color-palette-success-400));
		--color-text-ui-success-hover: light-dark(var(--color-palette-success-600), var(--color-palette-success-300));
		--color-text-ui-success-secondary: light-dark(var(--color-palette-success-300), var(--color-palette-success-500));
		--color-text-ui-success-secondary-hover: light-dark(var(--color-palette-success-400), var(--color-palette-success-400));
		--color-text-ui-warning: light-dark(var(--color-palette-warning-700), var(--color-palette-warning-700));
		--color-text-ui-warning-hover: light-dark(var(--color-palette-warning-800), var(--color-palette-warning-600));
		--color-text-ui-warning-secondary: light-dark(var(--color-palette-warning-500), var(--color-palette-warning-800));
		--color-text-ui-warning-secondary-hover: light-dark(var(--color-palette-warning-600), var(--color-palette-warning-700));
		--color-text-ui-caution: light-dark(var(--color-palette-caution-700), var(--color-palette-caution-700));
		--color-text-ui-caution-hover: light-dark(var(--color-palette-caution-800), var(--color-palette-caution-600));
		--color-text-ui-caution-secondary: light-dark(var(--color-palette-caution-500), var(--color-palette-caution-800));
		--color-text-ui-caution-secondary-hover: light-dark(var(--color-palette-caution-600), var(--color-palette-caution-700));
		--color-text-ui-neutral: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-300));
		--color-text-ui-neutral-hover: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-100));
		--color-text-ui-neutral-secondary: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-600));
		--color-text-ui-neutral-secondary-hover: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-500));
		--color-text-ui-disabled: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-850));
		--color-text-ui-disabled-secondary: light-dark(var(--color-palette-neutral-850), var(--color-palette-neutral-900));
		--color-text-ui-onbrand: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-text-ui-onbrand-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-text-ui-onbrand-secondary: light-dark(var(--color-palette-brand-200), var(--color-palette-brand-200));
		--color-text-ui-onbrand-secondary-hover: light-dark(var(--color-palette-brand-200), var(--color-palette-brand-200));
		--color-text-ui-onstatistic: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-text-ui-onstatistic-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-text-ui-onstatistic-secondary: light-dark(var(--color-palette-statistic-200), var(--color-palette-statistic-200));
		--color-text-ui-onstatistic-secondary-hover: light-dark(var(--color-palette-statistic-200), var(--color-palette-statistic-200));
		--color-text-ui-onselected: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-200));
		--color-text-ui-onselected-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-200));
		--color-text-ui-onselected-secondary: light-dark(var(--color-palette-brand-900), var(--color-palette-brand-100));
		--color-text-ui-onselected-secondary-hover: light-dark(var(--color-palette-brand-900), var(--color-palette-brand-900));
		--color-text-ui-ondanger: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-text-ui-ondanger-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-text-ui-ondanger-secondary: light-dark(var(--color-palette-danger-200), var(--color-palette-danger-200));
		--color-text-ui-ondanger-secondary-hover: light-dark(var(--color-palette-danger-200), var(--color-palette-danger-200));
		--color-text-ui-oncaution: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-text-ui-oncaution-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-text-ui-oncaution-secondary: light-dark(var(--color-palette-danger-200), var(--color-palette-danger-200));
		--color-text-ui-oncaution-secondary-hover: light-dark(var(--color-palette-danger-200), var(--color-palette-danger-200));
		--color-text-ui-onsuccess: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-text-ui-onsuccess-hover: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-text-ui-onsuccess-secondary: light-dark(var(--color-palette-success-200), var(--color-palette-success-200));
		--color-text-ui-onsuccess-secondary-hover: light-dark(var(--color-palette-success-200), var(--color-palette-success-200));
		--color-text-ui-onwarning: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-text-ui-onwarning-hover: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-text-ui-onwarning-secondary: light-dark(var(--color-palette-warning-900), var(--color-palette-warning-900));
		--color-text-ui-onwarning-secondary-hover: light-dark(var(--color-palette-warning-900), var(--color-palette-warning-900));
		--color-text-ui-onneutral: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-text-ui-onneutral-hover: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-text-ui-onneutral-secondary: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-400));
		--color-text-ui-onneutral-secondary-hover: light-dark(var(--color-palette-brand-400), var(--color-palette-brand-200));
		--color-text-ui-ondisabled: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-600));
		--color-text-ui-ondisabled-secondary: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-700));
		--color-text-uistatic: var(--color-palette-neutral-900);
		--color-text-uistatic-0: var(--color-palette-neutral-100);
		--color-text-uistatic-10: var(--color-palette-neutral-300);
		--color-text-uistatic-25: var(--color-palette-neutral-500);
		--color-text-uistatic-50: var(--color-palette-neutral-700);
		--color-text-uistatic-75: var(--color-palette-neutral-800);
		--color-text-uistatic-100: var(--color-palette-neutral-900);

		--color-icon-ui: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-icon-ui-0: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-900));
		--color-icon-ui-10: light-dark(var(--color-palette-neutral-300), var(--color-palette-neutral-700));
		--color-icon-ui-25: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-500));
		--color-icon-ui-50: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-300));
		--color-icon-ui-75: light-dark(var(--color-palette-neutral-800), var(--color-palette-neutral-200));
		--color-icon-ui-100: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-icon-ui-hover: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-icon-ui-secondary: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-500));
		--color-icon-ui-secondary-hover: light-dark(var(--color-palette-brand-400), var(--color-palette-brand-300));
		--color-icon-ui-brand: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-icon-ui-brand-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-300));
		--color-icon-ui-brand-secondary: light-dark(var(--color-palette-brand-300), var(--color-palette-brand-500));
		--color-icon-ui-brand-secondary-hover: light-dark(var(--color-palette-brand-400), var(--color-palette-brand-400));
		--color-icon-ui-statistic: light-dark(var(--color-palette-statistic-500), var(--color-palette-statistic-400));
		--color-icon-ui-statistic-hover: light-dark(var(--color-palette-statistic-600), var(--color-palette-statistic-300));
		--color-icon-ui-statistic-secondary: light-dark(var(--color-palette-statistic-300), var(--color-palette-statistic-500));
		--color-icon-ui-statistic-secondary-hover: light-dark(var(--color-palette-statistic-400), var(--color-palette-statistic-400));
		--color-icon-ui-selected: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-icon-ui-selected-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-300));
		--color-icon-ui-selected-secondary: light-dark(var(--color-palette-brand-300), var(--color-palette-brand-500));
		--color-icon-ui-selected-secondary-hover: light-dark(var(--color-palette-brand-400), var(--color-palette-brand-400));
		--color-icon-ui-danger: light-dark(var(--color-palette-danger-500), var(--color-palette-danger-400));
		--color-icon-ui-danger-hover: light-dark(var(--color-palette-danger-600), var(--color-palette-danger-300));
		--color-icon-ui-danger-secondary: light-dark(var(--color-palette-danger-300), var(--color-palette-danger-500));
		--color-icon-ui-danger-secondary-hover: light-dark(var(--color-palette-danger-400), var(--color-palette-danger-400));
		--color-icon-ui-success: light-dark(var(--color-palette-success-500), var(--color-palette-success-400));
		--color-icon-ui-success-hover: light-dark(var(--color-palette-success-600), var(--color-palette-success-300));
		--color-icon-ui-success-secondary: light-dark(var(--color-palette-success-300), var(--color-palette-success-500));
		--color-icon-ui-success-secondary-hover: light-dark(var(--color-palette-success-400), var(--color-palette-success-400));
		--color-icon-ui-warning: light-dark(var(--color-palette-warning-700), var(--color-palette-warning-700));
		--color-icon-ui-warning-hover: light-dark(var(--color-palette-warning-800), var(--color-palette-warning-600));
		--color-icon-ui-warning-secondary: light-dark(var(--color-palette-warning-500), var(--color-palette-warning-800));
		--color-icon-ui-warning-secondary-hover: light-dark(var(--color-palette-warning-600), var(--color-palette-warning-700));
		--color-icon-ui-caution: light-dark(var(--color-palette-caution-700), var(--color-palette-caution-700));
		--color-icon-ui-caution-hover: light-dark(var(--color-palette-caution-800), var(--color-palette-caution-600));
		--color-icon-ui-caution-secondary: light-dark(var(--color-palette-caution-500), var(--color-palette-caution-800));
		--color-icon-ui-caution-secondary-hover: light-dark(var(--color-palette-caution-600), var(--color-palette-caution-700));
		--color-icon-ui-neutral: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-300));
		--color-icon-ui-neutral-hover: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-100));
		--color-icon-ui-neutral-secondary: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-600));
		--color-icon-ui-neutral-secondary-hover: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-500));
		--color-icon-ui-disabled: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-850));
		--color-icon-ui-disabled-secondary: light-dark(var(--color-palette-neutral-850), var(--color-palette-neutral-900));
		--color-icon-ui-onbrand: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-icon-ui-onbrand-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-icon-ui-onbrand-secondary: light-dark(var(--color-palette-brand-200), var(--color-palette-brand-200));
		--color-icon-ui-onbrand-secondary-hover: light-dark(var(--color-palette-brand-200), var(--color-palette-brand-200));
		--color-icon-ui-onstatistic: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-icon-ui-onstatistic-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-icon-ui-onstatistic-secondary: light-dark(var(--color-palette-statistic-200), var(--color-palette-statistic-200));
		--color-icon-ui-onstatistic-secondary-hover: light-dark(var(--color-palette-statistic-200), var(--color-palette-statistic-200));
		--color-icon-ui-onselected: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-200));
		--color-icon-ui-onselected-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-200));
		--color-icon-ui-onselected-secondary: light-dark(var(--color-palette-brand-900), var(--color-palette-brand-100));
		--color-icon-ui-onselected-secondary-hover: light-dark(var(--color-palette-brand-900), var(--color-palette-brand-900));
		--color-icon-ui-ondanger: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-icon-ui-ondanger-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-icon-ui-ondanger-secondary: light-dark(var(--color-palette-danger-200), var(--color-palette-danger-200));
		--color-icon-ui-ondanger-secondary-hover: light-dark(var(--color-palette-danger-200), var(--color-palette-danger-200));
		--color-icon-ui-oncaution: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-icon-ui-oncaution-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-icon-ui-oncaution-secondary: light-dark(var(--color-palette-danger-200), var(--color-palette-danger-200));
		--color-icon-ui-oncaution-secondary-hover: light-dark(var(--color-palette-danger-200), var(--color-palette-danger-200));
		--color-icon-ui-onsuccess: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-icon-ui-onsuccess-hover: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-icon-ui-onsuccess-secondary: light-dark(var(--color-palette-success-200), var(--color-palette-success-200));
		--color-icon-ui-onsuccess-secondary-hover: light-dark(var(--color-palette-success-200), var(--color-palette-success-200));
		--color-icon-ui-onwarning: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-icon-ui-onwarning-hover: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-icon-ui-onwarning-secondary: light-dark(var(--color-palette-warning-900), var(--color-palette-warning-900));
		--color-icon-ui-onwarning-secondary-hover: light-dark(var(--color-palette-warning-900), var(--color-palette-warning-900));
		--color-icon-ui-onneutral: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-icon-ui-onneutral-hover: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-icon-ui-onneutral-secondary: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-400));
		--color-icon-ui-onneutral-secondary-hover: light-dark(var(--color-palette-brand-400), var(--color-palette-brand-200));
		--color-icon-ui-ondisabled: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-600));
		--color-icon-ui-ondisabled-secondary: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-700));
		--color-icon-uistatic: var(--color-palette-neutral-900);
		--color-icon-uistatic-0: var(--color-palette-neutral-100);
		--color-icon-uistatic-10: var(--color-palette-neutral-300);
		--color-icon-uistatic-25: var(--color-palette-neutral-500);
		--color-icon-uistatic-50: var(--color-palette-neutral-700);
		--color-icon-uistatic-75: var(--color-palette-neutral-800);
		--color-icon-uistatic-100: var(--color-palette-neutral-900);

		--color-bg-ui: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-800));
		--color-bg-ui-0: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-bg-ui-10: light-dark(var(--color-palette-neutral-800), var(--color-palette-neutral-300));
		--color-bg-ui-25: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-500));
		--color-bg-ui-50: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-700));
		--color-bg-ui-75: light-dark(var(--color-palette-neutral-300), var(--color-palette-neutral-800));
		--color-bg-ui-100: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-900));
		--color-bg-ui-hover: light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.13));
		--color-bg-ui-brand: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-500));
		--color-bg-ui-brand-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-400));
		--color-bg-ui-brand-secondary: light-dark(var(--color-palette-brand-50), var(--color-palette-brand-900));
		--color-bg-ui-statistic: light-dark(var(--color-palette-statistic-500), var(--color-palette-statistic-500));
		--color-bg-ui-statistic-hover: light-dark(var(--color-palette-statistic-600), var(--color-palette-statistic-400));
		--color-bg-ui-statistic-secondary: light-dark(var(--color-palette-statistic-50), var(--color-palette-statistic-50));
		--color-bg-ui-selected: light-dark(var(--color-palette-brand-50), var(--color-palette-brand-900));
		--color-bg-ui-selected-hover: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-500));
		--color-bg-ui-danger: light-dark(var(--color-palette-danger-500), var(--color-palette-danger-500));
		--color-bg-ui-danger-hover: light-dark(var(--color-palette-danger-600), var(--color-palette-danger-400));
		--color-bg-ui-danger-secondary: light-dark(var(--color-palette-danger-50), var(--color-palette-danger-50));
		--color-bg-ui-success: light-dark(var(--color-palette-success-500), var(--color-palette-success-500));
		--color-bg-ui-success-hover: light-dark(var(--color-palette-success-600), var(--color-palette-success-400));
		--color-bg-ui-success-secondary: light-dark(var(--color-palette-success-300), var(--color-palette-success-300));
		--color-bg-ui-warning: light-dark(var(--color-palette-warning-400), var(--color-palette-warning-500));
		--color-bg-ui-warning-hover: light-dark(var(--color-palette-warning-600), var(--color-palette-warning-300));
		--color-bg-ui-warning-secondary: light-dark(var(--color-palette-warning-50), var(--color-palette-warning-50));
		--color-bg-ui-caution: light-dark(var(--color-palette-caution-400), var(--color-palette-caution-500));
		--color-bg-ui-caution-hover: light-dark(var(--color-palette-caution-600), var(--color-palette-caution-300));
		--color-bg-ui-caution-secondary: light-dark(var(--color-palette-caution-50), var(--color-palette-caution-900));
		--color-bg-ui-neutral: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-750));
		--color-bg-ui-neutral-hover: light-dark(var(--color-palette-neutral-400), var(--color-palette-neutral-700));
		--color-bg-ui-neutral-secondary: light-dark(var(--color-palette-neutral-50), var(--color-palette-neutral-950));
		--color-bg-ui-disabled: light-dark(var(--color-palette-neutral-300), var(--color-palette-neutral-850));

		--color-bg-uistatic: var(--color-palette-neutral-100);
		--color-bg-uistatic-0: var(--color-palette-neutral-900);
		--color-bg-uistatic-10: var(--color-palette-neutral-800);
		--color-bg-uistatic-25: var(--color-palette-neutral-700);
		--color-bg-uistatic-50: var(--color-palette-neutral-500);
		--color-bg-uistatic-75: var(--color-palette-neutral-300);
		--color-bg-uistatic-100: var(--color-palette-neutral-100);

		--color-border-ui: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-500));
		--color-border-ui-0: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-900));
		--color-border-ui-10: light-dark(var(--color-palette-neutral-300), var(--color-palette-neutral-700));
		--color-border-ui-25: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-500));
		--color-border-ui-50: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-300));
		--color-border-ui-75: light-dark(var(--color-palette-neutral-800), var(--color-palette-neutral-200));
		--color-border-ui-100: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-border-ui-hover: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-300));
		--color-border-ui-brand: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-border-ui-brand-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-300));
		--color-border-ui-statistic: light-dark(var(--color-palette-statistic-500), var(--color-palette-statistic-400));
		--color-border-ui-statistic-hover: light-dark(var(--color-palette-statistic-600), var(--color-palette-statistic-300));
		--color-border-ui-selected: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-400));
		--color-border-ui-selected-hover: light-dark(var(--color-palette-brand-600), var(--color-palette-brand-300));
		--color-border-ui-danger: light-dark(var(--color-palette-danger-500), var(--color-palette-danger-400));
		--color-border-ui-danger-hover: light-dark(var(--color-palette-danger-600), var(--color-palette-danger-300));
		--color-border-ui-success: light-dark(var(--color-palette-success-500), var(--color-palette-success-400));
		--color-border-ui-success-hover: light-dark(var(--color-palette-success-600), var(--color-palette-success-300));
		--color-border-ui-warning: light-dark(var(--color-palette-warning-700), var(--color-palette-warning-700));
		--color-border-ui-warning-hover: light-dark(var(--color-palette-warning-800), var(--color-palette-warning-600));
		--color-border-ui-caution: light-dark(var(--color-palette-caution-700), var(--color-palette-caution-700));
		--color-border-ui-caution-hover: light-dark(var(--color-palette-caution-800), var(--color-palette-caution-600));
		--color-border-ui-neutral: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-700));
		--color-border-ui-neutral-hover: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-500));
		--color-border-ui-disabled: light-dark(var(--color-palette-neutral-850), var(--color-palette-neutral-850));
		--color-border-ui-onbrand: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-border-ui-onbrand-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-border-ui-onstatistic: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-border-ui-onstatistic-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-border-ui-onselected: light-dark(var(--color-palette-brand-700), var(--color-palette-brand-200));
		--color-border-ui-onselected-hover: light-dark(var(--color-palette-brand-700), var(--color-palette-brand-200));
		--color-border-ui-ondanger: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-border-ui-ondanger-hover: light-dark(var(--color-palette-neutral-200), var(--color-palette-neutral-200));
		--color-border-ui-onsuccess: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-border-ui-onsuccess-hover: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-200));
		--color-border-ui-onwarning: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-border-ui-onwarning-hover: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-border-ui-oncaution: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-border-ui-oncaution-hover: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-border-ui-onneutral: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-border-ui-onneutral-hover: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-300));
		--color-border-ui-ondisabled: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-850));

		--color-accent-ui: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-300));
		--color-accent-ui-brand: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-300));
		--color-accent-ui-statistic: light-dark(var(--color-palette-statistic-500), var(--color-palette-statistic-300));
		--color-accent-ui-selected: light-dark(var(--color-palette-brand-500), var(--color-palette-brand-300));
		--color-accent-ui-danger: light-dark(var(--color-palette-danger-500), var(--color-palette-danger-500));
		--color-accent-ui-success: light-dark(var(--color-palette-success-500), var(--color-palette-success-300));
		--color-accent-ui-warning: light-dark(var(--color-palette-warning-300), var(--color-palette-warning-300));
		--color-accent-ui-caution: light-dark(var(--color-palette-caution-300), var(--color-palette-caution-300));
		--color-accent-ui-neutral: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-200));
		--color-accent-ui-disabled: light-dark(var(--color-palette-neutral-600), var(--color-palette-neutral-600));
		--color-accent-ui-onbrand: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-accent-ui-onstatistic: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-accent-ui-onselected: light-dark(var(--color-palette-brand-700), var(--color-palette-brand-200));
		--color-accent-ui-ondanger: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-accent-ui-onsuccess: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-100));
		--color-accent-ui-onwarning: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-accent-ui-oncaution: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-900));
		--color-accent-ui-onneutral: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
		--color-accent-ui-ondisabled: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-700));

		--color-ring-ui: light-dark(var(--color-palette-brand-100), var(--color-palette-brand-100));
		--color-ring-ui-brand: light-dark(var(--color-palette-brand-100), var(--color-palette-brand-100));
		--color-ring-ui-statistic: light-dark(var(--color-palette-statistic-100), var(--color-palette-statistic-100));
		--color-ring-ui-danger: light-dark(var(--color-palette-danger-100), var(--color-palette-danger-100));
		--color-ring-ui-success: light-dark(var(--color-palette-success-100), var(--color-palette-success-100));
		--color-ring-ui-warning: light-dark(var(--color-palette-warning-100), var(--color-palette-warning-100));
		--color-ring-ui-caution: light-dark(var(--color-palette-caution-100), var(--color-palette-caution-100));
		--color-ring-ui-neutral: light-dark(rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.2));

		--color-shadow-ui-0: light-dark(var(--color-palette-neutral-100), var(--color-palette-neutral-900));
		--color-shadow-ui-10: light-dark(var(--color-palette-neutral-300), var(--color-palette-neutral-700));
		--color-shadow-ui-25: light-dark(var(--color-palette-neutral-500), var(--color-palette-neutral-500));
		--color-shadow-ui-50: light-dark(var(--color-palette-neutral-700), var(--color-palette-neutral-300));
		--color-shadow-ui-75: light-dark(var(--color-palette-neutral-800), var(--color-palette-neutral-200));
		--color-shadow-ui-100: light-dark(var(--color-palette-neutral-900), var(--color-palette-neutral-100));
	}

	.dark, .htw-dark {
		color-scheme: dark;
	}

	.light {
		color-scheme: light;
	}

}

@utility shadow-* {
	background-color: --value(--shadow-color-*);
}


@theme inline {

	--text-color-ui: var(--color-text-ui);
	--text-color-ui-0: var(--color-text-ui-0);
	--text-color-ui-10: var(--color-text-ui-10);
	--text-color-ui-25: var(--color-text-ui-25);
	--text-color-ui-50: var(--color-text-ui-50);
	--text-color-ui-75: var(--color-text-ui-75);
	--text-color-ui-100: var(--color-text-ui-100);
	--text-color-ui-hover: var(--color-text-ui-hover);
	--text-color-ui-secondary: var(--color-text-ui-secondary);
	--text-color-ui-secondary-hover: var(--color-text-ui-secondary-hover);
	--text-color-ui-brand: var(--color-text-ui-brand);
	--text-color-ui-brand-hover: var(--color-text-ui-brand-hover);
	--text-color-ui-brand-secondary: var(--color-text-ui-brand-secondary);
	--text-color-ui-brand-secondary-hover: var(--color-text-ui-brand-secondary-hover);
	--text-color-ui-statistic: var(--color-text-ui-statistic);
	--text-color-ui-statistic-hover: var(--color-text-ui-statistic-hover);
	--text-color-ui-statistic-secondary: var(--color-text-ui-statistic-secondary);
	--text-color-ui-statistic-secondary-hover: var(--color-text-ui-statistic-secondary-hover);
	--text-color-ui-selected: var(--color-text-ui-selected);
	--text-color-ui-selected-hover: var(--color-text-ui-selected-hover);
	--text-color-ui-selected-secondary: var(--color-text-ui-selected-secondary);
	--text-color-ui-selected-secondary-hover: var(--color-text-ui-selected-secondary-hover);
	--text-color-ui-danger: var(--color-text-ui-danger);
	--text-color-ui-danger-hover: var(--color-text-ui-danger-hover);
	--text-color-ui-danger-secondary: var(--color-text-ui-danger-secondary);
	--text-color-ui-danger-secondary-hover: var(--color-text-ui-danger-secondary-hover);
	--text-color-ui-success: var(--color-text-ui-success);
	--text-color-ui-success-hover: var(--color-text-ui-success-hover);
	--text-color-ui-success-secondary: var(--color-text-ui-success-secondary);
	--text-color-ui-success-secondary-hover: var(--color-text-ui-success-secondary-hover);
	--text-color-ui-warning: var(--color-text-ui-warning);
	--text-color-ui-warning-hover: var(--color-text-ui-warning-hover);
	--text-color-ui-warning-secondary: var(--color-text-ui-warning-secondary);
	--text-color-ui-warning-secondary-hover: var(--color-text-ui-warning-secondary-hover);
	--text-color-ui-caution: var(--color-text-ui-caution);
	--text-color-ui-caution-hover: var(--color-text-ui-caution-hover);
	--text-color-ui-caution-secondary: var(--color-text-ui-caution-secondary);
	--text-color-ui-caution-secondary-hover: var(--color-text-ui-caution-secondary-hover);
	--text-color-ui-neutral: var(--color-text-ui-neutral);
	--text-color-ui-neutral-hover: var(--color-text-ui-neutral-hover);
	--text-color-ui-neutral-secondary: var(--color-text-ui-neutral-secondary);
	--text-color-ui-neutral-secondary-hover: var(--color-text-ui-neutral-secondary-hover);
	--text-color-ui-disabled: var(--color-text-ui-disabled);
	--text-color-ui-disabled-secondary: var(--color-text-ui-disabled-secondary);
	--text-color-ui-onbrand: var(--color-text-ui-onbrand);
	--text-color-ui-onbrand-hover: var(--color-text-ui-onbrand-hover);
	--text-color-ui-onbrand-secondary: var(--color-text-ui-onbrand-secondary);
	--text-color-ui-onbrand-secondary-hover: var(--color-text-ui-onbrand-secondary-hover);
	--text-color-ui-onstatistic: var(--color-text-ui-onstatistic);
	--text-color-ui-onstatistic-hover: var(--color-text-ui-onstatistic-hover);
	--text-color-ui-onstatistic-secondary: var(--color-text-ui-onstatistic-secondary);
	--text-color-ui-onstatistic-secondary-hover: var(--color-text-ui-onstatistic-secondary-hover);
	--text-color-ui-onselected: var(--color-text-ui-onselected);
	--text-color-ui-onselected-hover: var(--color-text-ui-onselected-hover);
	--text-color-ui-onselected-secondary: var(--color-text-ui-onselected-secondary);
	--text-color-ui-onselected-secondary-hover: var(--color-text-ui-onselected-secondary-hover);
	--text-color-ui-ondanger: var(--color-text-ui-ondanger);
	--text-color-ui-ondanger-hover: var(--color-text-ui-ondanger-hover);
	--text-color-ui-ondanger-secondary: var(--color-text-ui-ondanger-secondary);
	--text-color-ui-ondanger-secondary-hover: var(--color-text-ui-ondanger-secondary-hover);
	--text-color-ui-oncaution: var(--color-text-ui-oncaution);
	--text-color-ui-oncaution-hover: var(--color-text-ui-oncaution-hover);
	--text-color-ui-oncaution-secondary: var(--color-text-ui-oncaution-secondary);
	--text-color-ui-oncaution-secondary-hover: var(--color-text-ui-oncaution-secondary-hover);
	--text-color-ui-onsuccess: var(--color-text-ui-onsuccess);
	--text-color-ui-onsuccess-hover: var(--color-text-ui-onsuccess-hover);
	--text-color-ui-onsuccess-secondary: var(--color-text-ui-onsuccess-secondary);
	--text-color-ui-onsuccess-secondary-hover: var(--color-text-ui-onsuccess-secondary-hover);
	--text-color-ui-onwarning: var(--color-text-ui-onwarning);
	--text-color-ui-onwarning-hover: var(--color-text-ui-onwarning-hover);
	--text-color-ui-onwarning-secondary: var(--color-text-ui-onwarning-secondary);
	--text-color-ui-onwarning-secondary-hover: var(--color-text-ui-onwarning-secondary-hover);
	--text-color-ui-onneutral: var(--color-text-ui-onneutral);
	--text-color-ui-onneutral-hover: var(--color-text-ui-onneutral-hover);
	--text-color-ui-onneutral-secondary: var(--color-text-ui-onneutral-secondary);
	--text-color-ui-onneutral-secondary-hover: var(--color-text-ui-onneutral-secondary-hover);
	--text-color-ui-ondisabled: var(--color-text-ui-ondisabled);
	--text-color-ui-ondisabled-secondary: var(--color-text-ui-ondisabled-secondary);
	--text-color-uistatic: var(--color-text-uistatic);
	--text-color-uistatic-0: var(--color-text-uistatic-0);
	--text-color-uistatic-10: var(--color-text-uistatic-10);
	--text-color-uistatic-25: var(--color-text-uistatic-25);
	--text-color-uistatic-50: var(--color-text-uistatic-50);
	--text-color-uistatic-75: var(--color-text-uistatic-75);
	--text-color-uistatic-100: var(--color-text-uistatic-100);

	--border-color-ui: var(--color-border-ui);
	--border-color-ui-0: var(--color-border-ui-0);
	--border-color-ui-10: var(--color-border-ui-10);
	--border-color-ui-25: var(--color-border-ui-25);
	--border-color-ui-50: var(--color-border-ui-50);
	--border-color-ui-75: var(--color-border-ui-75);
	--border-color-ui-100: var(--color-border-ui-100);
	--border-color-ui-hover: var(--color-border-ui-hover);
	--border-color-ui-brand: var(--color-border-ui-brand);
	--border-color-ui-brand-hover: var(--color-border-ui-brand-hover);
	--border-color-ui-statistic: var(--color-border-ui-statistic);
	--border-color-ui-statistic-hover: var(--color-border-ui-statistic-hover);
	--border-color-ui-selected: var(--color-border-ui-selected);
	--border-color-ui-selected-hover: var(--color-border-ui-selected-hover);
	--border-color-ui-danger: var(--color-border-ui-danger);
	--border-color-ui-danger-hover: var(--color-border-ui-danger-hover);
	--border-color-ui-success: var(--color-border-ui-success);
	--border-color-ui-success-hover: var(--color-border-ui-success-hover);
	--border-color-ui-warning: var(--color-border-ui-warning);
	--border-color-ui-warning-hover: var(--color-border-ui-warning-hover);
	--border-color-ui-caution: var(--color-border-ui-caution);
	--border-color-ui-caution-hover: var(--color-border-ui-caution-hover);
	--border-color-ui-neutral: var(--color-border-ui-neutral);
	--border-color-ui-neutral-hover: var(--color-border-ui-neutral-hover);
	--border-color-ui-disabled: var(--color-border-ui-disabled);
	--border-color-ui-onbrand: var(--color-border-ui-onbrand);
	--border-color-ui-onbrand-hover: var(--color-border-ui-onbrand-hover);
	--border-color-ui-onstatistic: var(--color-border-ui-onstatistic);
	--border-color-ui-onstatistic-hover: var(--color-border-ui-onstatistic-hover);
	--border-color-ui-onselected: var(--color-border-ui-onselected);
	--border-color-ui-onselected-hover: var(--color-border-ui-onselected-hover);
	--border-color-ui-ondanger: var(--color-border-ui-ondanger);
	--border-color-ui-ondanger-hover: var(--color-border-ui-ondanger-hover);
	--border-color-ui-onsuccess: var(--color-border-ui-onsuccess);
	--border-color-ui-onsuccess-hover: var(--color-border-ui-onsuccess-hover);
	--border-color-ui-onwarning: var(--color-border-ui-onwarning);
	--border-color-ui-onwarning-hover: var(--color-border-ui-onwarning-hover);
	--border-color-ui-oncaution: var(--color-border-ui-oncaution);
	--border-color-ui-oncaution-hover: var(--color-border-ui-oncaution-hover);
	--border-color-ui-onneutral: var(--color-border-ui-onneutral);
	--border-color-ui-onneutral-hover: var(--color-border-ui-onneutral-hover);
	--border-color-ui-ondisabled: var(--color-border-ui-ondisabled);

	--background-color-ui: var(--color-bg-ui);
	--background-color-ui-0: var(--color-bg-ui-0);
	--background-color-ui-10: var(--color-bg-ui-10);
	--background-color-ui-25: var(--color-bg-ui-25);
	--background-color-ui-50: var(--color-bg-ui-50);
	--background-color-ui-75: var(--color-bg-ui-75);
	--background-color-ui-100: var(--color-bg-ui-100);
	--background-color-ui-hover: var(--color-bg-ui-hover);
	--background-color-ui-brand: var(--color-bg-ui-brand);
	--background-color-ui-brand-hover: var(--color-bg-ui-brand-hover);
	--background-color-ui-brand-secondary: var(--color-bg-ui-brand-secondary);
	--background-color-ui-statistic: var(--color-bg-ui-statistic);
	--background-color-ui-statistic-hover: var(--color-bg-ui-statistic-hover);
	--background-color-ui-statistic-secondary: var(--color-bg-ui-statistic-secondary);
	--background-color-ui-selected: var(--color-bg-ui-selected);
	--background-color-ui-selected-hover: var(--color-bg-ui-selected-hover);
	--background-color-ui-danger: var(--color-bg-ui-danger);
	--background-color-ui-danger-hover: var(--color-bg-ui-danger-hover);
	--background-color-ui-danger-secondary: var(--color-bg-ui-danger-secondary);
	--background-color-ui-success: var(--color-bg-ui-success);
	--background-color-ui-success-hover: var(--color-bg-ui-success-hover);
	--background-color-ui-success-secondary: var(--color-bg-ui-success-secondary);
	--background-color-ui-warning: var(--color-bg-ui-warning);
	--background-color-ui-warning-hover: var(--color-bg-ui-warning-hover);
	--background-color-ui-warning-secondary: var(--color-bg-ui-warning-secondary);
	--background-color-ui-caution: var(--color-bg-ui-caution);
	--background-color-ui-caution-hover: var(--color-bg-ui-caution-hover);
	--background-color-ui-caution-secondary: var(--color-bg-ui-caution-secondary);
	--background-color-ui-neutral: var(--color-bg-ui-neutral);
	--background-color-ui-neutral-hover: var(--color-bg-ui-neutral-hover);
	--background-color-ui-neutral-secondary: var(--color-bg-ui-neutral-secondary);
	--background-color-ui-disabled: var(--color-bg-ui-disabled);
	--background-color-uistatic: var(--color-bg-uistatic);
	--background-color-uistatic-0: var(--color-bg-uistatic-0);
	--background-color-uistatic-10: var(--color-bg-uistatic-10);
	--background-color-uistatic-25: var(--color-bg-uistatic-25);
	--background-color-uistatic-50: var(--color-bg-uistatic-50);
	--background-color-uistatic-75: var(--color-bg-uistatic-75);
	--background-color-uistatic-100: var(--color-bg-uistatic-100);


	--accent-color-ui: var(--color-accent-ui);
	--accent-color-ui-brand: var(--color-accent-ui-brand);
	--accent-color-ui-statistic: var(--color-accent-ui-statistic);
	--accent-color-ui-selected: var(--color-accent-ui-selected);
	--accent-color-ui-danger: var(--color-accent-ui-danger);
	--accent-color-ui-success: var(--color-accent-ui-success);
	--accent-color-ui-warning: var(--color-accent-ui-warning);
	--accent-color-ui-caution: var(--color-accent-ui-caution);
	--accent-color-ui-neutral: var(--color-accent-ui-neutral);
	--accent-color-ui-disabled: var(--color-accent-ui-disabled);
	--accent-color-ui-onbrand: var(--color-accent-ui-onbrand);
	--accent-color-ui-onstatistic: var(--color-accent-ui-onstatistic);
	--accent-color-ui-onselected: var(--color-accent-ui-onselected);
	--accent-color-ui-ondanger: var(--color-accent-ui-ondanger);
	--accent-color-ui-onsuccess: var(--color-accent-ui-onsuccess);
	--accent-color-ui-onwarning: var(--color-accent-ui-onwarning);
	--accent-color-ui-oncaution: var(--color-accent-ui-oncaution);
	--accent-color-ui-onneutral: var(--color-accent-ui-onneutral);
	--accent-color-ui-ondisabled: var(--color-accent-ui-ondisabled);

	--ring-color-ui: var(--color-ring-ui);
	--ring-color-ui-brand: var(--color-ring-ui-brand);
	--ring-color-ui-statistic: var(--color-ring-ui-statistic);
	--ring-color-ui-danger: var(--color-ring-ui-danger);
	--ring-color-ui-success: var(--color-ring-ui-success);
	--ring-color-ui-warning: var(--color-ring-ui-warning);
	--ring-color-ui-caution: var(--color-ring-ui-caution);
	--ring-color-ui-neutral: var(--color-ring-ui-neutral);

	--icon-color-ui: var(--color-icon-ui);
	--icon-color-ui-0: var(--color-icon-ui-0);
	--icon-color-ui-10: var(--color-icon-ui-10);
	--icon-color-ui-25: var(--color-icon-ui-25);
	--icon-color-ui-50: var(--color-icon-ui-50);
	--icon-color-ui-75: var(--color-icon-ui-75);
	--icon-color-ui-100: var(--color-icon-ui-100);
	--icon-color-ui-hover: var(--color-icon-ui-hover);
	--icon-color-ui-secondary: var(--color-icon-ui-secondary);
	--icon-color-ui-secondary-hover: var(--color-icon-ui-secondary-hover);
	--icon-color-ui-brand: var(--color-icon-ui-brand);
	--icon-color-ui-brand-hover: var(--color-icon-ui-brand-hover);
	--icon-color-ui-brand-secondary: var(--color-icon-ui-brand-secondary);
	--icon-color-ui-brand-secondary-hover: var(--color-icon-ui-brand-secondary-hover);
	--icon-color-ui-statistic: var(--color-icon-ui-statistic);
	--icon-color-ui-statistic-hover: var(--color-icon-ui-statistic-hover);
	--icon-color-ui-statistic-secondary: var(--color-icon-ui-statistic-secondary);
	--icon-color-ui-statistic-secondary-hover: var(--color-icon-ui-statistic-secondary-hover);
	--icon-color-ui-selected: var(--color-icon-ui-selected);
	--icon-color-ui-selected-hover: var(--color-icon-ui-selected-hover);
	--icon-color-ui-selected-secondary: var(--color-icon-ui-selected-secondary);
	--icon-color-ui-selected-secondary-hover: var(--color-icon-ui-selected-secondary-hover);
	--icon-color-ui-danger: var(--color-icon-ui-danger);
	--icon-color-ui-danger-hover: var(--color-icon-ui-danger-hover);
	--icon-color-ui-danger-secondary: var(--color-icon-ui-danger-secondary);
	--icon-color-ui-danger-secondary-hover: var(--color-icon-ui-danger-secondary-hover);
	--icon-color-ui-success: var(--color-icon-ui-success);
	--icon-color-ui-success-hover: var(--color-icon-ui-success-hover);
	--icon-color-ui-success-secondary: var(--color-icon-ui-success-secondary);
	--icon-color-ui-success-secondary-hover: var(--color-icon-ui-success-secondary-hover);
	--icon-color-ui-warning: var(--color-icon-ui-warning);
	--icon-color-ui-warning-hover: var(--color-icon-ui-warning-hover);
	--icon-color-ui-warning-secondary: var(--color-icon-ui-warning-secondary);
	--icon-color-ui-warning-secondary-hover: var(--color-icon-ui-warning-secondary-hover);
	--icon-color-ui-caution: var(--color-icon-ui-caution);
	--icon-color-ui-caution-hover: var(--color-icon-ui-caution-hover);
	--icon-color-ui-caution-secondary: var(--color-icon-ui-caution-secondary);
	--icon-color-ui-caution-secondary-hover: var(--color-icon-ui-caution-secondary-hover);
	--icon-color-ui-neutral: var(--color-icon-ui-neutral);
	--icon-color-ui-neutral-hover: var(--color-icon-ui-neutral-hover);
	--icon-color-ui-neutral-secondary: var(--color-icon-ui-neutral-secondary);
	--icon-color-ui-neutral-secondary-hover: var(--color-icon-ui-neutral-secondary-hover);
	--icon-color-ui-disabled: var(--color-icon-ui-disabled);
	--icon-color-ui-disabled-secondary: var(--color-icon-ui-disabled-secondary);
	--icon-color-ui-onbrand: var(--color-icon-ui-onbrand);
	--icon-color-ui-onbrand-hover: var(--color-icon-ui-onbrand-hover);
	--icon-color-ui-onbrand-secondary: var(--color-icon-ui-onbrand-secondary);
	--icon-color-ui-onbrand-secondary-hover: var(--color-icon-ui-onbrand-secondary-hover);
	--icon-color-ui-onstatistic: var(--color-icon-ui-onstatistic);
	--icon-color-ui-onstatistic-hover: var(--color-icon-ui-onstatistic-hover);
	--icon-color-ui-onstatistic-secondary: var(--color-icon-ui-onstatistic-secondary);
	--icon-color-ui-onstatistic-secondary-hover: var(--color-icon-ui-onstatistic-secondary-hover);
	--icon-color-ui-onselected: var(--color-icon-ui-onselected);
	--icon-color-ui-onselected-hover: var(--color-icon-ui-onselected-hover);
	--icon-color-ui-onselected-secondary: var(--color-icon-ui-onselected-secondary);
	--icon-color-ui-onselected-secondary-hover: var(--color-icon-ui-onselected-secondary-hover);
	--icon-color-ui-ondanger: var(--color-icon-ui-ondanger);
	--icon-color-ui-ondanger-hover: var(--color-icon-ui-ondanger-hover);
	--icon-color-ui-ondanger-secondary: var(--color-icon-ui-ondanger-secondary);
	--icon-color-ui-ondanger-secondary-hover: var(--color-icon-ui-ondanger-secondary-hover);
	--icon-color-ui-oncaution: var(--color-icon-ui-oncaution);
	--icon-color-ui-oncaution-hover: var(--color-icon-ui-oncaution-hover);
	--icon-color-ui-oncaution-secondary: var(--color-icon-ui-oncaution-secondary);
	--icon-color-ui-oncaution-secondary-hover: var(--color-icon-ui-oncaution-secondary-hover);
	--icon-color-ui-onsuccess: var(--color-icon-ui-onsuccess);
	--icon-color-ui-onsuccess-hover: var(--color-icon-ui-onsuccess-hover);
	--icon-color-ui-onsuccess-secondary: var(--color-icon-ui-onsuccess-secondary);
	--icon-color-ui-onsuccess-secondary-hover: var(--color-icon-ui-onsuccess-secondary-hover);
	--icon-color-ui-onwarning: var(--color-icon-ui-onwarning);
	--icon-color-ui-onwarning-hover: var(--color-icon-ui-onwarning-hover);
	--icon-color-ui-onwarning-secondary: var(--color-icon-ui-onwarning-secondary);
	--icon-color-ui-onwarning-secondary-hover: var(--color-icon-ui-onwarning-secondary-hover);
	--icon-color-ui-onneutral: var(--color-icon-ui-onneutral);
	--icon-color-ui-onneutral-hover: var(--color-icon-ui-onneutral-hover);
	--icon-color-ui-onneutral-secondary: var(--color-icon-ui-onneutral-secondary);
	--icon-color-ui-onneutral-secondary-hover: var(--color-icon-ui-onneutral-secondary-hover);
	--icon-color-ui-ondisabled: var(--color-icon-ui-ondisabled);
	--icon-color-ui-ondisabled-secondary: var(--color-icon-ui-ondisabled-secondary);
	--icon-color-uistatic: var(--color-icon-uistatic);
	--icon-color-uistatic-0: var(--color-icon-uistatic-0);
	--icon-color-uistatic-10: var(--color-icon-uistatic-10);
	--icon-color-uistatic-25: var(--color-icon-uistatic-25);
	--icon-color-uistatic-50: var(--color-icon-uistatic-50);
	--icon-color-uistatic-75: var(--color-icon-uistatic-75);
	--icon-color-uistatic-100: var(--color-icon-uistatic-100);

	--shadow-color-ui-0: var(--color-shadow-ui-0);
	--shadow-color-ui-10: var(--color-shadow-ui-10);
	--shadow-color-ui-25: var(--color-shadow-ui-25);
	--shadow-color-ui-50: var(--color-shadow-ui-50);
	--shadow-color-ui-75: var(--color-shadow-ui-75);
	--shadow-color-ui-100: var(--color-shadow-ui-100);
	
}
