:root {
    --color-bg-ui: theme('colors.palette.neutral.100');
    --color-bg-ui-hover: theme('colors.palette.neutral.300');
    --color-bg-ui-brand: theme('colors.palette.brand.500');
    --color-bg-ui-brand-hover: theme('colors.palette.brand.600');
    --color-bg-ui-statistic: theme('colors.palette.statistic.500');
    --color-bg-ui-statistic-hover: theme('colors.palette.statistic.600');
    --color-bg-ui-selected: theme('colors.palette.brand.200');
    --color-bg-ui-selected-hover: theme('colors.palette.brand.300');
    --color-bg-ui-danger: theme('colors.palette.danger.500');
    --color-bg-ui-danger-hover: theme('colors.palette.danger.600');
    --color-bg-ui-success: theme('colors.palette.success.500');
    --color-bg-ui-success-hover: theme('colors.palette.success.600');
    --color-bg-ui-warning: theme('colors.palette.warning.500');
    --color-bg-ui-warning-hover: theme('colors.palette.warning.600');
    --color-bg-ui-neutral: theme('colors.palette.neutral.300');
    --color-bg-ui-neutral-hover: theme('colors.palette.neutral.400');
    --color-bg-ui-disabled: theme('colors.palette.neutral.500');

    --color-text-ui: theme('colors.palette.neutral.900');
    --color-text-ui-hover: theme('colors.palette.brand.500');
    --color-text-ui-secondary: theme('colors.palette.neutral.500');
    --color-text-ui-secondary-hover: theme('colors.palette.brand.300');
    --color-text-ui-brand: theme('colors.palette.brand.500');
    --color-text-ui-brand-hover: theme('colors.palette.brand.600');
    --color-text-ui-brand-secondary: theme('colors.palette.brand.300');
    --color-text-ui-brand-secondary-hover: theme('colors.palette.brand.400');
    --color-text-ui-statistic: theme('colors.palette.statistic.500');
    --color-text-ui-statistic-hover: theme('colors.palette.statistic.600');
    --color-text-ui-statistic-secondary: theme('colors.palette.statistic.300');
    --color-text-ui-statistic-secondary-hover: theme('colors.palette.statistic.400');
    --color-text-ui-selected: theme('colors.palette.brand.500');
    --color-text-ui-selected-hover: theme('colors.palette.brand.600');
    --color-text-ui-selected-secondary: theme('colors.palette.brand.400');
    --color-text-ui-selected-secondary-hover: theme('colors.palette.brand.500');
    --color-text-ui-danger: theme('colors.palette.danger.500');
    --color-text-ui-danger-hover: theme('colors.palette.danger.600');
    --color-text-ui-danger-secondary: theme('colors.palette.danger.300');
    --color-text-ui-danger-secondary-hover: theme('colors.palette.danger.400');
    --color-text-ui-success: theme('colors.palette.success.500');
    --color-text-ui-success-hover: theme('colors.palette.success.600');
    --color-text-ui-success-secondary: theme('colors.palette.success.300');
    --color-text-ui-success-secondary-hover: theme('colors.palette.success.400');
    --color-text-ui-warning: theme('colors.palette.warning.500');
    --color-text-ui-warning-hover: theme('colors.palette.warning.600');
    --color-text-ui-warning-secondary: theme('colors.palette.warning.300');
    --color-text-ui-warning-secondary-hover: theme('colors.palette.warning.500');
    --color-text-ui-neutral: theme('colors.palette.neutral.900');
    --color-text-ui-neutral-hover: theme('colors.palette.neutral.700');
    --color-text-ui-neutral-secondary: theme('colors.palette.neutral.600');
    --color-text-ui-neutral-secondary-hover: theme('colors.palette.neutral.500');
    --color-text-ui-disabled: theme('colors.palette.neutral.400');
    --color-text-ui-disabled-secondary: theme('colors.palette.neutral.300');
    --color-text-ui-onbrand: theme('colors.palette.neutral.100');
    --color-text-ui-onbrand-hover: theme('colors.palette.neutral.100');
    --color-text-ui-onbrand-secondary: theme('colors.palette.brand.200');
    --color-text-ui-onbrand-secondary-hover: theme('colors.palette.brand.300');
    --color-text-ui-onstatistic: theme('colors.palette.neutral.100');
    --color-text-ui-onstatistic-hover: theme('colors.palette.neutral.100');
    --color-text-ui-onstatistic-secondary: theme('colors.palette.statistic.200');
    --color-text-ui-onstatistic-secondary-hover: theme('colors.palette.statistic.300');
    --color-text-ui-onselected: theme('colors.palette.brand.600');
    --color-text-ui-onselected-hover: theme('colors.palette.brand.600');
    --color-text-ui-onselected-secondary: theme('colors.palette.brand.500');
    --color-text-ui-onselected-secondary-hover: theme('colors.palette.brand.500');
    --color-text-ui-ondanger: theme('colors.palette.neutral.100');
    --color-text-ui-ondanger-hover: theme('colors.palette.neutral.100');
    --color-text-ui-ondanger-secondary: theme('colors.palette.danger.200');
    --color-text-ui-ondanger-secondary-hover: theme('colors.palette.danger.200');
    --color-text-ui-onsuccess: theme('colors.palette.neutral.100');
    --color-text-ui-onsuccess-hover: theme('colors.palette.neutral.100');
    --color-text-ui-onsuccess-secondary: theme('colors.palette.success.200');
    --color-text-ui-onsuccess-secondary-hover: theme('colors.palette.success.200');
    --color-text-ui-onwarning: theme('colors.palette.neutral.900');
    --color-text-ui-onwarning-hover: theme('colors.palette.neutral.900');
    --color-text-ui-onwarning-secondary: theme('colors.palette.warning.800');
    --color-text-ui-onwarning-secondary-hover: theme('colors.palette.warning.800');
    --color-text-ui-onneutral: theme('colors.palette.neutral.900');
    --color-text-ui-onneutral-hover: theme('colors.palette.neutral.900');
    --color-text-ui-onneutral-secondary: theme('colors.palette.neutral.600');
    --color-text-ui-onneutral-secondary-hover: theme('colors.palette.neutral.700');
    --color-text-ui-ondisabled: theme('colors.palette.neutral.700');
    --color-text-ui-ondisabled-secondary: theme('colors.palette.neutral.600');
    
    --color-border-ui: theme('colors.palette.neutral.900');
    --color-border-ui-hover: theme('colors.palette.brand.500');
    --color-border-ui-secondary: theme('colors.palette.neutral.500');
    --color-border-ui-secondary-hover: theme('colors.palette.brand.300');
    --color-border-ui-brand: theme('colors.palette.brand.500');
    --color-border-ui-brand-hover: theme('colors.palette.brand.600');
    --color-border-ui-brand-secondary: theme('colors.palette.brand.300');
    --color-border-ui-brand-secondary-hover: theme('colors.palette.brand.400');
    --color-border-ui-statistic: theme('colors.palette.statistic.500');
    --color-border-ui-statistic-hover: theme('colors.palette.statistic.600');
    --color-border-ui-statistic-secondary: theme('colors.palette.statistic.300');
    --color-border-ui-statistic-secondary-hover: theme('colors.palette.statistic.400');
    --color-border-ui-selected: theme('colors.palette.brand.500');
    --color-border-ui-selected-hover: theme('colors.palette.brand.600');
    --color-border-ui-selected-secondary: theme('colors.palette.brand.400');
    --color-border-ui-selected-secondary-hover: theme('colors.palette.brand.500');
    --color-border-ui-danger: theme('colors.palette.danger.500');
    --color-border-ui-danger-hover: theme('colors.palette.danger.600');
    --color-border-ui-danger-secondary: theme('colors.palette.danger.300');
    --color-border-ui-danger-secondary-hover: theme('colors.palette.danger.400');
    --color-border-ui-success: theme('colors.palette.success.500');
    --color-border-ui-success-hover: theme('colors.palette.success.600');
    --color-border-ui-success-secondary: theme('colors.palette.success.300');
    --color-border-ui-success-secondary-hover: theme('colors.palette.success.400');
    --color-border-ui-warning: theme('colors.palette.warning.500');
    --color-border-ui-warning-hover: theme('colors.palette.warning.600');
    --color-border-ui-warning-secondary: theme('colors.palette.warning.300');
    --color-border-ui-warning-secondary-hover: theme('colors.palette.warning.500');
    --color-border-ui-neutral: theme('colors.palette.neutral.900');
    --color-border-ui-neutral-hover: theme('colors.palette.neutral.700');
    --color-border-ui-neutral-secondary: theme('colors.palette.neutral.600');
    --color-border-ui-neutral-secondary-hover: theme('colors.palette.neutral.500');
    --color-border-ui-disabled: theme('colors.palette.neutral.400');
    --color-border-ui-disabled-secondary: theme('colors.palette.neutral.300');
    --color-border-ui-onbrand: theme('colors.palette.neutral.100');
    --color-border-ui-onbrand-hover: theme('colors.palette.neutral.100');
    --color-border-ui-onbrand-secondary: theme('colors.palette.brand.200');
    --color-border-ui-onbrand-secondary-hover: theme('colors.palette.brand.300');
    --color-border-ui-onstatistic: theme('colors.palette.neutral.100');
    --color-border-ui-onstatistic-hover: theme('colors.palette.neutral.100');
    --color-border-ui-onstatistic-secondary: theme('colors.palette.statistic.200');
    --color-border-ui-onstatistic-secondary-hover: theme('colors.palette.statistic.300');
    --color-border-ui-onselected: theme('colors.palette.brand.500');
    --color-border-ui-onselected-hover: theme('colors.palette.brand.600');
    --color-border-ui-onselected-secondary: theme('colors.palette.brand.400');
    --color-border-ui-onselected-secondary-hover: theme('colors.palette.brand.400');
    --color-border-ui-ondanger: theme('colors.palette.neutral.100');
    --color-border-ui-ondanger-hover: theme('colors.palette.neutral.100');
    --color-border-ui-ondanger-secondary: theme('colors.palette.danger.200');
    --color-border-ui-ondanger-secondary-hover: theme('colors.palette.danger.300');
    --color-border-ui-onsuccess: theme('colors.palette.neutral.100');
    --color-border-ui-onsuccess-hover: theme('colors.palette.neutral.100');
    --color-border-ui-onsuccess-secondary: theme('colors.palette.success.200');
    --color-border-ui-onsuccess-secondary-hover: theme('colors.palette.success.300');
    --color-border-ui-onwarning: theme('colors.palette.neutral.900');
    --color-border-ui-onwarning-hover: theme('colors.palette.neutral.900');
    --color-border-ui-onwarning-secondary: theme('colors.palette.warning.700');
    --color-border-ui-onwarning-secondary-hover: theme('colors.palette.warning.600');
    --color-border-ui-onneutral: theme('colors.palette.neutral.900');
    --color-border-ui-onneutral-hover: theme('colors.palette.neutral.900');
    --color-border-ui-onneutral-secondary: theme('colors.palette.neutral.600');
    --color-border-ui-onneutral-secondary-hover: theme('colors.palette.neutral.700');
    --color-border-ui-ondisabled: theme('colors.palette.neutral.700');
    --color-border-ui-ondisabled-secondary: theme('colors.palette.neutral.600');
}

.htw-dark,
.dark {
    --color-bg-ui: theme('colors.palette.neutral.800');
    --color-bg-ui-hover: theme('colors.palette.neutral.700');
    --color-bg-ui-brand: theme('colors.palette.brand.500');
    --color-bg-ui-brand-hover: theme('colors.palette.brand.400');
    --color-bg-ui-statistic: theme('colors.palette.statistic.500');
    --color-bg-ui-statistic-hover: theme('colors.palette.statistic.400');
    --color-bg-ui-selected: theme('colors.palette.brand.800');
    --color-bg-ui-selected-hover: theme('colors.palette.brand.600');
    --color-bg-ui-danger: theme('colors.palette.danger.500');
    --color-bg-ui-danger-hover: theme('colors.palette.danger.400');
    --color-bg-ui-success: theme('colors.palette.success.500');
    --color-bg-ui-success-hover: theme('colors.palette.success.400');
    --color-bg-ui-warning: theme('colors.palette.warning.500');
    --color-bg-ui-warning-hover: theme('colors.palette.warning.300');
    --color-bg-ui-neutral: theme('colors.palette.neutral.700');
    --color-bg-ui-neutral-hover: theme('colors.palette.neutral.600');
    --color-bg-ui-disabled: theme('colors.palette.neutral.700');
    
    --color-text-ui: theme('colors.palette.neutral.100');
    --color-text-ui-hover: theme('colors.palette.brand.400');
    --color-text-ui-secondary: theme('colors.palette.neutral.600');
    --color-text-ui-secondary-hover: theme('colors.palette.brand.300');
    --color-text-ui-brand: theme('colors.palette.brand.500');
    --color-text-ui-brand-hover: theme('colors.palette.brand.600');
    --color-text-ui-brand-secondary: theme('colors.palette.brand.300');
    --color-text-ui-brand-secondary-hover: theme('colors.palette.brand.400');
    --color-text-ui-statistic: theme('colors.palette.statistic.500');
    --color-text-ui-statistic-hover: theme('colors.palette.statistic.600');
    --color-text-ui-statistic-secondary: theme('colors.palette.statistic.300');
    --color-text-ui-statistic-secondary-hover: theme('colors.palette.statistic.400');
    --color-text-ui-selected: theme('colors.palette.brand.200');
    --color-text-ui-selected-hover: theme('colors.palette.brand.400');
    --color-text-ui-selected-secondary: theme('colors.palette.brand.400');
    --color-text-ui-selected-secondary-hover: theme('colors.palette.brand.500');
    --color-text-ui-danger: theme('colors.palette.danger.500');
    --color-text-ui-danger-hover: theme('colors.palette.danger.400');
    --color-text-ui-danger-secondary: theme('colors.palette.danger.600');
    --color-text-ui-danger-secondary-hover: theme('colors.palette.danger.500');
    --color-text-ui-success: theme('colors.palette.success.500');
    --color-text-ui-success-hover: theme('colors.palette.success.400');
    --color-text-ui-success-secondary: theme('colors.palette.success.600');
    --color-text-ui-success-secondary-hover: theme('colors.palette.success.500');
    --color-text-ui-warning: theme('colors.palette.warning.500');
    --color-text-ui-warning-hover: theme('colors.palette.warning.300');
    --color-text-ui-warning-secondary: theme('colors.palette.warning.700');
    --color-text-ui-warning-secondary-hover: theme('colors.palette.warning.500');
    --color-text-ui-neutral: theme('colors.palette.neutral.100');
    --color-text-ui-neutral-hover: theme('colors.palette.neutral.500');
    --color-text-ui-neutral-secondary: theme('colors.palette.neutral.600');
    --color-text-ui-neutral-secondary-hover: theme('colors.palette.neutral.500');
    --color-text-ui-disabled: theme('colors.palette.neutral.700');
    --color-text-ui-disabled-secondary: theme('colors.palette.neutral.700');
    --color-text-ui-onbrand: theme('colors.palette.neutral.100');
    --color-text-ui-onbrand-hover: theme('colors.palette.neutral.100');
    --color-text-ui-onbrand-secondary: theme('colors.palette.brand.200');
    --color-text-ui-onbrand-secondary-hover: theme('colors.palette.brand.200');
    --color-text-ui-onstatistic: theme('colors.palette.neutral.100');
    --color-text-ui-onstatistic-hover: theme('colors.palette.neutral.100');
    --color-text-ui-onstatistic-secondary: theme('colors.palette.statistic.200');
    --color-text-ui-onstatistic-secondary-hover: theme('colors.palette.statistic.200');
    --color-text-ui-onselected: theme('colors.palette.brand.200');
    --color-text-ui-onselected-hover: theme('colors.palette.brand.200');
    --color-text-ui-onselected-secondary: theme('colors.palette.brand.400');
    --color-text-ui-onselected-secondary-hover: theme('colors.palette.brand.400');
    --color-text-ui-ondanger: theme('colors.palette.neutral.100');
    --color-text-ui-ondanger-hover: theme('colors.palette.neutral.100');
    --color-text-ui-ondanger-secondary: theme('colors.palette.danger.200');
    --color-text-ui-ondanger-secondary-hover: theme('colors.palette.danger.200');
    --color-text-ui-onsuccess: theme('colors.palette.neutral.100');
    --color-text-ui-onsuccess-hover: theme('colors.palette.neutral.100');
    --color-text-ui-onsuccess-secondary: theme('colors.palette.success.200');
    --color-text-ui-onsuccess-secondary-hover: theme('colors.palette.success.200');
    --color-text-ui-onwarning: theme('colors.palette.neutral.900');
    --color-text-ui-onwarning-hover: theme('colors.palette.neutral.900');
    --color-text-ui-onwarning-secondary: theme('colors.palette.warning.800');
    --color-text-ui-onwarning-secondary-hover: theme('colors.palette.warning.800');
    --color-text-ui-onneutral: theme('colors.palette.neutral.100');
    --color-text-ui-onneutral-hover: theme('colors.palette.neutral.100');
    --color-text-ui-onneutral-secondary: theme('colors.palette.neutral.500');
    --color-text-ui-onneutral-secondary-hover: theme('colors.palette.neutral.500');
    --color-text-ui-ondisabled: theme('colors.palette.neutral.500');
    --color-text-ui-ondisabled-secondary: theme('colors.palette.neutral.600');
    
    --color-border-ui: theme('colors.palette.neutral.100');
    --color-border-ui-hover: theme('colors.palette.brand.400');
    --color-border-ui-secondary: theme('colors.palette.neutral.600');
    --color-border-ui-secondary-hover: theme('colors.palette.brand.300');
    --color-border-ui-brand: theme('colors.palette.brand.500');
    --color-border-ui-brand-hover: theme('colors.palette.brand.600');
    --color-border-ui-brand-secondary: theme('colors.palette.brand.300');
    --color-border-ui-brand-secondary-hover: theme('colors.palette.brand.400');
    --color-border-ui-statistic: theme('colors.palette.statistic.500');
    --color-border-ui-statistic-hover: theme('colors.palette.statistic.600');
    --color-border-ui-statistic-secondary: theme('colors.palette.statistic.300');
    --color-border-ui-statistic-secondary-hover: theme('colors.palette.statistic.400');
    --color-border-ui-selected: theme('colors.palette.brand.200');
    --color-border-ui-selected-hover: theme('colors.palette.brand.400');
    --color-border-ui-selected-secondary: theme('colors.palette.brand.400');
    --color-border-ui-selected-secondary-hover: theme('colors.palette.brand.500');
    --color-border-ui-danger: theme('colors.palette.danger.500');
    --color-border-ui-danger-hover: theme('colors.palette.danger.400');
    --color-border-ui-danger-secondary: theme('colors.palette.danger.600');
    --color-border-ui-danger-secondary-hover: theme('colors.palette.danger.500');
    --color-border-ui-success: theme('colors.palette.success.500');
    --color-border-ui-success-hover: theme('colors.palette.success.400');
    --color-border-ui-success-secondary: theme('colors.palette.success.600');
    --color-border-ui-success-secondary-hover: theme('colors.palette.success.500');
    --color-border-ui-warning: theme('colors.palette.warning.500');
    --color-border-ui-warning-hover: theme('colors.palette.warning.300');
    --color-border-ui-warning-secondary: theme('colors.palette.warning.700');
    --color-border-ui-warning-secondary-hover: theme('colors.palette.warning.500');
    --color-border-ui-neutral: theme('colors.palette.neutral.100');
    --color-border-ui-neutral-hover: theme('colors.palette.neutral.500');
    --color-border-ui-neutral-secondary: theme('colors.palette.neutral.600');
    --color-border-ui-neutral-secondary-hover: theme('colors.palette.neutral.500');
    --color-border-ui-disabled: theme('colors.palette.neutral.700');
    --color-border-ui-disabled-secondary: theme('colors.palette.neutral.700');
    --color-border-ui-onbrand: theme('colors.palette.neutral.100');
    --color-border-ui-onbrand-hover: theme('colors.palette.neutral.100');
    --color-border-ui-onbrand-secondary: theme('colors.palette.brand.200');
    --color-border-ui-onbrand-secondary-hover: theme('colors.palette.brand.300');
    --color-border-ui-onstatistic: theme('colors.palette.neutral.100');
    --color-border-ui-onstatistic-hover: theme('colors.palette.neutral.100');
    --color-border-ui-onstatistic-secondary: theme('colors.palette.statistic.200');
    --color-border-ui-onstatistic-secondary-hover: theme('colors.palette.statistic.300');
    --color-border-ui-onselected: theme('colors.palette.brand.200');
    --color-border-ui-onselected-hover: theme('colors.palette.brand.300');
    --color-border-ui-onselected-secondary: theme('colors.palette.brand.400');
    --color-border-ui-onselected-secondary-hover: theme('colors.palette.brand.500');
    --color-border-ui-ondanger: theme('colors.palette.neutral.100');
    --color-border-ui-ondanger-hover: theme('colors.palette.neutral.100');
    --color-border-ui-ondanger-secondary: theme('colors.palette.danger.200');
    --color-border-ui-ondanger-secondary-hover: theme('colors.palette.danger.300');
    --color-border-ui-onsuccess: theme('colors.palette.neutral.100');
    --color-border-ui-onsuccess-hover: theme('colors.palette.neutral.100');
    --color-border-ui-onsuccess-secondary: theme('colors.palette.success.200');
    --color-border-ui-onsuccess-secondary-hover: theme('colors.palette.success.300');
    --color-border-ui-onwarning: theme('colors.palette.neutral.900');
    --color-border-ui-onwarning-hover: theme('colors.palette.neutral.900');
    --color-border-ui-onwarning-secondary: theme('colors.palette.warning.700');
    --color-border-ui-onwarning-secondary-hover: theme('colors.palette.warning.600');
    --color-border-ui-onneutral: theme('colors.palette.neutral.100');
    --color-border-ui-onneutral-hover: theme('colors.palette.neutral.100');
    --color-border-ui-onneutral-secondary: theme('colors.palette.neutral.500');
    --color-border-ui-onneutral-secondary-hover: theme('colors.palette.neutral.500');
    --color-border-ui-ondisabled: theme('colors.palette.neutral.500');
    --color-border-ui-ondisabled-secondary: theme('colors.palette.neutral.600');
}

@media (prefers-color-scheme: dark) {
    :root {
        
    }
}