@import "tailwindcss";

@import "./colors.css";
@import "./borders.css";
@import "./dimensions.css";
@import "./fonts.css";
@import "./screens.css";
@import "./icons.css";

@import "../../ui/SvwsDocsUiColors.css";
@import "../../ui/SvwsUiAvatar.css";
@import "../../ui/SvwsUiBadge.css";
@import "../../ui/SvwsUiNotification.css";
@import "../../ui/SvwsUiSpinner.css";
@import "../../ui/SvwsUiTooltip.css";
@import "../../ui/controls/SvwsUiButton.css";
@import "../../ui/controls/SvwsUiCheckbox.css";
@import "../../ui/controls/SvwsUiDropdownList.css";
@import "../../ui/controls/SvwsUiInputNumber.css";
@import "../../ui/controls/SvwsUiMultiSelect.css";
@import "../../ui/controls/SvwsUiRadioOption.css";
@import "../../ui/controls/SvwsUiSelect.css";
@import "../../ui/controls/SvwsUiTextareaInput.css";
@import "../../ui/controls/SvwsUiTextInput.css";
@import "../../ui/controls/UiFileInput.css";
@import "../../ui/layout/SvwsUiAppLayout.css";
@import "../../ui/layout/UiCard.css";
@import "../../ui/layout/SvwsUiContentCard.css";
@import "../../ui/layout/SvwsUiDashboardTile.css";
@import "../../ui/layout/SvwsUiHeader.css";
@import "../../ui/layout/SvwsUiInputWrapper.css";
@import "../../ui/layout/SvwsUiSpacing.css";
@import "../../ui/layout/SvwsUiTable.css";
@import "../../ui/layout/UiPage.css";
@import "../../ui/modal/SvwsUiModal.css";
@import "../../ui/nav/SvwsUiMenu.css";
@import "../../ui/nav/SvwsUiMenuHeader.css";
@import "../../ui/nav/SvwsUiMenuItem.css";
@import "../../ui/nav/SvwsUiSecondaryMenu.css";
@import "../../ui/nav/SvwsUiSubNav.css";
@import "../../ui/nav/SvwsUiTabBar.css";
@import "../../ui/nav/SvwsUiTabBarVertical.css";

@import "../../components/stundenplan/StundenplanAnsicht.css";

@plugin "@tailwindcss/typography";

/* TODO: Prüfen, inwieweit die unteren Definitionen nicht besser bei den UI-Komponenten platziert werden können. */
@layer base {

	.secondary-menu--header .input-wrapper {
		@apply max-2xl:grid-cols-1;
	}

	.focus-region {
		border: 1px solid transparent;
		border-radius: 6px;
	
		&.highlighted {
			border: 1px solid rgba(255, 0, 0, .5);
			box-shadow: inset 0 0 3px rgba(255, 0, 0, .5);
		}
	}
	
	.region-enumeration {
		position: fixed;
		z-index: 1000;
		color: rgba(255, 0, 0, .65);
		padding: 0 0 0 5px;
		font-weight: bold;
		font-size: x-large;
		pointer-events: none;
		margin-top: -4px;
	
		&.sub-nav {
			margin-top: -7px;
		}
	}

	/* Buttons haben seit v4 keinen Pointer mehr: */
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	html {
		@apply antialiased text-ui;
	}

	.text-sm-bold {
		@apply uppercase;
	}

	hr {
		@apply border-0 border-t-2 border-solid border-ui-contrast-10;
	}

	.svws-ui-badge {
		@apply rounded-sm border border-ui-contrast-10 font-medium text-ui-contrast-100 bg-ui line-clamp-1 break-all inline-flex leading-none;
		padding: 0.05rem 0.25rem;
		margin: -0.125rem auto -0.125rem -0.125rem;
	}

	.svws-ui-badge-transparent {
		@apply rounded-sm border border-ui-contrast-10 font-medium text-ui-contrast-100 line-clamp-1 break-all inline-flex leading-none;
		padding: 0.05rem 0.25rem;
		margin: -0.125rem auto -0.125rem -0.125rem;
	}

	.icon {
		@apply inline-block;
	}

}
