@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white: 255, 255, 255; /* #ffffff */
		--color-black: 44, 44, 44; /* #2C2C2C */
		--color-gray: 102, 102, 102; /* #666666 */
		--color-primary: 34, 133, 213; /* #2285d5 */
		--color-light: 242, 244, 245; /* ##f5f4f2 CONTRAST good, flipped to blue */
		--color-dark-20: 195, 195, 195; /* #c8d0d6 */
		--color-dark: 43, 68, 82; /* #2b4452 */
		--color-error: 225, 29, 72; /* #e11d48 // color-rose-600 */
		--color-success: 132, 204, 22; /* #84cc16, color-lime-500  */
		--color-highlight: 255, 246, 147; /* #fff693 */
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-black: 28, 28, 28; /* #2C2C2C */
		}
	}
}

html {
	@apply antialiased text-black dark:text-white;
}

html.dark {
	--color-black: 28, 28, 28; /* #2C2C2C */
}

.text-sm-bold {
	@apply uppercase;
}

.icon {
	line-height: 1 !important;
}

hr {
	@apply border-0 border-t-2 border-solid border-black/10 dark:border-white/10;
}

.svws-ui-badge {
	@apply rounded border border-black/10 font-medium text-black line-clamp-1 break-all inline-flex leading-none;
	background-color: var(--background-color);
	padding: 0.05rem 0.25rem;
	margin: -0.125rem auto -0.125rem -0.125rem;
}
