:root {
	--color-palette-neutral-50: rgba(255, 255, 255, 0.9);
	--color-palette-neutral-100: rgba(255, 255, 255, 1);
	--color-palette-neutral-200: rgba(244, 244, 245, 1);
	--color-palette-neutral-300: rgba(234, 234, 236, 1);
	--color-palette-neutral-400: rgba(226, 226, 228, 1);
	--color-palette-neutral-500: rgba(213, 213, 216, 1);
	--color-palette-neutral-600: rgba(165, 165, 167, 1);
	--color-palette-neutral-700: rgba(91, 91, 93, 1);
	--color-palette-neutral-750: rgba(65, 65, 67, 1);
	--color-palette-neutral-800: rgba(38, 38, 39, 1);
	--color-palette-neutral-850: rgba(165, 165, 167, 0.2);
	--color-palette-neutral-900: rgba(0, 0, 0, 1);
	--color-palette-neutral-950: rgba(0, 0, 0, 0.8);

	--color-palette-brand-50: rgba(27, 119, 193, 0.15);
	--color-palette-brand-100: rgba(27, 119, 193, 0.5);
	--color-palette-brand-200: rgba(166, 206, 247, 1);
	--color-palette-brand-300: rgba(121, 180, 238, 1);
	--color-palette-brand-400: rgba(66, 146, 217, 1);
	--color-palette-brand-500: rgba(27, 119, 193, 1);
	--color-palette-brand-600: rgba(0, 82, 144, 1);
	--color-palette-brand-700: rgba(0, 70, 126, 1);
	--color-palette-brand-800: rgba(0, 60, 109, 1);
	--color-palette-brand-900: rgba(0, 42, 81, 1);

	--color-palette-statistic-50: rgba(159, 55, 254, 0.15);
	--color-palette-statistic-100: rgba(159, 55, 254, 0.5);
	--color-palette-statistic-200: rgba(224, 188, 255, 1);
	--color-palette-statistic-300: rgba(208, 151, 255, 1);
	--color-palette-statistic-400: rgba(184, 101, 255, 1);
	--color-palette-statistic-500: rgba(159, 55, 254, 1);
	--color-palette-statistic-600: rgba(118, 8, 199, 1);
	--color-palette-statistic-700: rgba(102, 0, 174, 1);
	--color-palette-statistic-800: rgba(88, 0, 152, 1);
	--color-palette-statistic-900: rgba(63, 0, 112, 1);

	--color-palette-success-50: rgba(43, 133, 0, 0.15);
	--color-palette-success-100: rgba(43, 133, 0, 0.5);
	--color-palette-success-200: rgba(189, 241, 136, 1);
	--color-palette-success-300: rgba(134, 226, 41, 1);
	--color-palette-success-400: rgba(91, 180, 0, 1);
	--color-palette-success-500: rgba(43, 133, 0, 1);
	--color-palette-success-600: rgba(0, 94, 0, 1);
	--color-palette-success-700: rgba(0, 69, 0, 1);
	--color-palette-success-900: rgba(0, 50, 0, 1);

	--color-palette-danger-50: rgba(225, 28, 72, 0.15);
	--color-palette-danger-100: rgba(225, 28, 72, 0.4);
	--color-palette-danger-200: rgba(255, 200, 201, 1);
	--color-palette-danger-300: rgba(255, 142, 150, 1);
	--color-palette-danger-400: rgba(254, 87, 107, 1);
	--color-palette-danger-500: rgba(225, 28, 72, 1);
	--color-palette-danger-600: rgba(192, 0, 52, 1);
	--color-palette-danger-700: rgba(165, 0, 40, 1);
	--color-palette-danger-800: rgba(142, 0, 32, 1);
	--color-palette-danger-900: rgba(106, 0, 20, 1);

	--color-palette-warning-50: rgba(232, 191, 0, 0.15);
	--color-palette-warning-100: rgba(232, 191, 0, 0.5);
	--color-palette-warning-200: rgba(254, 235, 149, 1);
	--color-palette-warning-300: rgba(246, 215, 76, 1);
	--color-palette-warning-400: rgba(232, 191, 0, 1);
	--color-palette-warning-500: rgba(208, 172, 7, 1);
	--color-palette-warning-600: rgba(192, 158, 2, 1);
	--color-palette-warning-700: rgba(167, 139, 6, 1);
	--color-palette-warning-800: rgba(137, 114, 5, 1);
	--color-palette-warning-900: rgba(82, 68, 3, 1);

	--color-palette-caution-50: rgba(255, 247, 236, 1);
	--color-palette-caution-100: rgba(255, 238, 211, 1);
	--color-palette-caution-200: rgba(255, 217, 165, 1);
	--color-palette-caution-300: rgba(255, 189, 109, 1);
	--color-palette-caution-400: rgba(255, 150, 50, 1);
	--color-palette-caution-500: rgba(255, 118, 10, 1);
	--color-palette-caution-600: rgba(255, 93, 0, 1);
	--color-palette-caution-700: rgba(204, 66, 2, 1);
	--color-palette-caution-800: rgba(161, 51, 11, 1);
	--color-palette-caution-900: rgba(130, 45, 12, 1);

}
