@media (max-width: 639px) {
	body {
		font-size: 0.875rem;
	}
}

html {
	font-size: initial !important;
}

.histoire-generic-render-story {
	contain: layout;
}

.histoire-generic-render-story.dark {
	@apply bg-black text-white;
}

.htw-dark .bind-preview-bg {
	@apply bg-black !important;
}

.htw-m-auto {
	margin-top: 0;
}
