@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white: 255, 255, 255; /* #ffffff */
		--color-black: 44, 44, 44; /* #2C2C2C */
		--color-gray: 102, 102, 102; /* #666666 */
		--color-primary: 50, 156, 213; /* #329cd5 */
		--color-light: 240, 244, 247; /* #f0f4f7 */
		--color-dark-20: 200, 208, 214; /* #c8d0d6 */
		--color-dark-80: 66, 85, 97; /* #425561 */
		--color-dark: 43, 68, 82; /* #2b4452 */
		--color-error: 235, 97, 97; /* #eb6161 */
		--color-error-light: 247, 219, 216; /* #f7dbd8 */
		--color-success: 182, 230, 92; /* #b6e65c */
		--color-highlight: 255, 246, 147; /* #fff693 */
	}
}

html {
	@apply antialiased text-black;
}

.text-sm-bold {
	@apply uppercase;
}
