<html lang="de" xmlns:th="http://www.thymeleaf.org">
	<head th:with="mediaPrint = ${Parameter.ausgabeformat == 2}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Kursliste mit Schülerstammdaten</title>
		<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-pdf.css}" href="../css/reporting-pdf.css" />
		<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-seite-hoch-koepfe-fuesse.css}" href="../css/reporting-seite-hoch-koepfe-fuesse.css" />
		<link rel="stylesheet" th:href="@{css/reporting-styles.css}" href="../css/reporting-styles.css" />
		<link rel="stylesheet" th:href="@{kurse/KursSchuelerStammdatenliste.css}" href="../kurse/KursSchuelerStammdatenliste.css" />
	</head>

	<body th:with="mediaPrint = ${Parameter.ausgabeformat == 2}">
		<div class="start-new-page" th:each="kurs,iterationVarKurs : ${Kurse}">
			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<th:block th:if="${mediaPrint}">
				<div class="pageTopLeft" th:utext="${Schule.bezeichnungSchuleMehrzeiligHtml}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
				<div class="pageTopRight" th:utext="'Kurs: ' + ${kurs.kuerzel()} + '<br/>Kursleitung: ' + ${kurs.kursleitung() != null ? kurs.kursleitung().kuerzel() : '---'} + '<br/>Schulnummer: ' + ${Schule.schulnummer()}">Kurs: GE-GK2<br/><br/>Schulnummer: 123456</div>
				<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}">Gedruckt am: 02.02.2022</div>
				<div class="pageBottomRight"><span th:text="'Gesamtdruck Kurs ' + ${iterationVarKurs.count} + '/' + ${#lists.size(Parameter.idsHauptdaten)}">Gesamtdruck Kurs 13/57</span></div>
			</th:block>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<table class="fixed-100 p-0">
				<colgroup>
					<col style="width: 14%;" />
					<col style="width: 2%;" />
					<col style="width: 20%;" />
					<col style="width: 2%;" />
					<col style="width: 10%;" />
					<col style="width: 2%;" />
					<col style="width: 10%;" />
					<col style="width: 2%;" />
					<col style="width: 38%;" />
				</colgroup>
				<thead>
				<tr>
					<td colspan="9" class="bo-b-grey"><h2>Kursliste</h2></td>
				</tr>
				</thead>
				<tbody>
				<tr><td colspan="9" class="p-t-25of100"></td></tr>
				<tr>
					<td class="f-bold ta-lb" th:text="${kurs.kuerzel()}">GE-GK2</td>
					<td></td>
					<td class="f-bold ta-lb" th:text="${kurs.auflistungLehrkraefte()}">ABC</td>
					<td></td>
					<td class="f-bold ta-lb" th:text="${kurs.kursartAllg()}">GK</td>
					<td></td>
					<td class="f-small ta-cb" th:text="${kurs.schueler().size()}">23</td>
					<td></td>
					<td class="f-small ta-lb" th:text="${((kurs.bezeichnungZeugnis() != null) ? kurs.bezeichnungZeugnis() : kurs.fach().bezeichnungZeugnis())}">Lateinisch</td>
				</tr>
				<tr>
					<td class="cell-small-grey">Kursbezeichnung</td>
					<td></td>
					<td class="cell-small-grey">Lehrkräfte</td>
					<td></td>
					<td class="cell-small-grey">Kursart</td>
					<td></td>
					<td class="cell-small-grey ta-c">Anzahl SuS.</td>
					<td></td>
					<td class="cell-small-grey">Zeugnisbezeichnung</td>
				</tr>
				<tr><td colspan="9" class="p-b-25of100"></td></tr>
				</tbody>
			</table>

			<table class="fixed-100 p-0">
				<colgroup>
					<col style="width: 4%;"/>
					<col style="width: 14%;"/>
					<col style="width: 15%;"/>
					<col style="width: 4%;"/>
					<col style="width: 10%;"/>
					<col style="width: 24%;"/>
					<col style="width: 8%;"/>
					<col style="width: 14%;"/>
					<col style="width: 7%;"/>
				</colgroup>
				<thead>
				<tr>
					<td class="head-small-grey"></td>
					<td class="head-small-grey">Name</td>
					<td class="head-small-grey">Vorname</td>
					<td class="head-small-grey ta-c">Ges.</td>
					<td class="head-small-grey">Geb. am</td>
					<td class="head-small-grey">Straße</td>
					<td class="head-small-grey ta-r">PLZ</td>
					<td class="head-small-grey">Ort</td>
					<td class="head-small-grey ta-r">Klasse</td>
				</tr>
				</thead>
				<tr th:each="schueler,iterationVarSchueler : ${kurs.schueler()}" th:classappend="${iterationVarSchueler.odd} ? 'bg-lightgrey'">
					<td class="f-small ta-r bo-t-grey p-tb-0-lr-1" th:text="${iterationVarSchueler.count + '. '}">1. </td>
					<td class="f-small bo-t-grey p-tb-0-lr-1" th:text="${schueler.nachname()}">Mustermann</td>
					<td class="f-small bo-t-grey p-tb-0-lr-1" th:text="${Parameter.detailLevel == 0 ? schueler.vorname() : schueler.vornamen()}">Maximilian Moritz</td>
					<td class="f-small bo-t-grey p-tb-0-lr-1 ta-c" th:text="${schueler.geschlecht().kuerzel}">m</td>
					<td class="f-small bo-t-grey p-tb-0-lr-1" th:text="${#convert.toDateDE(schueler.geburtsdatum())}">07.08.2010</td>
					<td class="f-small bo-t-grey p-tb-0-lr-1" th:text="${schueler.strassenname() + (!schueler.hausnummer().isEmpty() ? (' ' + schueler.hausnummer() + (!schueler.hausnummerZusatz().isEmpty() ? schueler.hausnummerZusatz() : '')) : '')}">Musterstraße 13a</td>
					<td class="f-small bo-t-grey p-tb-0-lr-1 ta-r" th:text="${schueler.wohnort().plz}">12345</td>
					<td class="f-small bo-t-grey p-tb-0-lr-1" th:text="${schueler.wohnort().ortsname}">Musterstadt</td>
					<td class="f-small bo-t-grey p-tb-0-lr-1 ta-r" th:text="${(schueler.auswahlLernabschnitt().klasse().kuerzel())}">07A</td>
				</tr>
			</table>
		</div>
	</body>
</html>
