# Source: https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Gradle.gitlab-ci.yml

# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Gradle.gitlab-ci.yml

# This is the Gradle build system for JVM applications
# https://gradle.org/
# https://github.com/gradle/gradle

image: eclipse-temurin:17

# Disable the Gradle daemon for Continuous Integration servers as correctness
# is usually a priority over speed in CI environments. Using a fresh
# runtime for each build is more reliable since the runtime is completely
# isolated from any previous builds.
variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.logging.level=debug"

cache: &global_cache
  key: "$CI_COMMIT_REF_NAME"
  policy: pull-push
  paths:
    - ./**/build
    - .gradle_user
    - .gradle

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle_user
  - ./gradlew --version
  - java --version

stages:
  - build
  - analyze

build:
  stage: build
  script: ./gradlew --build-cache build
  cache:
    <<: *global_cache
    policy: pull    
  artifacts:
    when: always
    reports:
      junit: ./**/build/test-results/test/**/TEST-*.xml

sonarqube_analysis:
  stage: analyze
  only:
    refs: 
      - dev
  when: manual
  script: ./gradlew sonarqube -Dsonar.projectKey=svws-server -Dsonar.host.url=$SONAR_URL -Dsonar.login=$SONAR_LOGIN -Dsonar.password=$SONAR_PASSWORD