[Unit]
Description=SVWS Server
After=mysql.service

[Service]
WorkingDirectory=${APP_PATH}
ExecStart=java -cp "svws-server-app-*.jar:${APP_PATH}/app/*:${APP_PATH}/app/lib/*" de.nrw.schule.svws.server.jetty.Main
User=svws
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
