.sidebar--menu-item {
	@apply flex items-center flex-col cursor-pointer p-1 rounded-sm my-1;
	padding: 0.25rem 0.1rem;

	@media (orientation: portrait) {
		@apply my-0 px-1 min-w-[4.5rem] justify-center;
	}

	&:last-child {
		@apply mb-0;
	}

	span.icon-lg {
		@apply -mb-2;
	}
}

.sidebar--menu-item--active {
	@apply bg-ui-selected text-ui-onselected;

	&:focus {
		@apply outline-hidden;
	}

	&:hover,
	&:focus-visible {
		@apply bg-ui-selected text-ui-onselected;
	}

	&:focus-visible {
		@apply ring-3 ring-ui-brand;
	}

	.icon-lg {
		@apply icon-ui-brand;
	}
}

.sidebar--menu-item:hover,
.sidebar--menu-item:focus,
.sidebar--menu--body .sidebar--menu-item:hover,
.sidebar--menu--body .sidebar--menu-item:focus,
.sidebar--menu--footer .sidebar--menu-item:hover,
.sidebar--menu--footer .sidebar--menu-item:focus {
	&:not(.sidebar--menu-item--active) {
		@apply bg-ui-hover;
		color: var(--color-palette-neutral-400);

	
	}
}

.sidebar--menu-item--label {
	@apply text-ellipsis max-w-full overflow-hidden;
	font-size: 0.78rem;
}

@media (min-width: 1920px) {
	.sidebar--menu .sidebar--menu-item--label {
		font-size: 0.9rem;
	}
}

.secondary-menu--content .sidebar--menu-item {
	@apply text-ui;
	@apply px-3 inline-block my-1;

	&:focus {
		@apply outline-hidden;
	}

	&:hover,
	&:focus-visible {
		@apply bg-ui-hover;
	}
}

.secondary-menu--content .sidebar--menu-item--active {
	@apply bg-ui-selected text-ui-onselected;
}

.secondary-menu--content .sidebar--menu-item--label {
	@apply text-base;
}

.sidebar--menu-item--icon {
	font-size: 1.2rem;

	@media (min-width: 1280px) {
		font-size: 1.3rem;
	}

	@media (min-width: 2000px) {
		font-size: 1.35rem;
	}
}


.sidebar--menu-item--subline {
	@apply text-sm font-normal;

	@media (orientation: portrait) {
		@apply text-base;
	}
}

.sidebar--menu-item--disabled {
	&,
	&:hover,
	&:focus {
		@apply bg-ui-disabled text-ui-disabled !border-ui-disabled;
		@apply pointer-events-none;
	}
}
