<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:with="istDruckausgabe = ${Parameter.istDruckausgabe()}">
	<head th:replace="~{fragments/reportHtmlHead :: htmlHead(
		title='Raum-Stundenplan',
		htmlTemplatePfad=${Parameter.htmlTemplateDefinition().getPfadHtmlTemplate()},
		namePageCSS='reporting-A4-hoch.css')}">
		<title></title>
	</head>

	<body>
		<div class="reset-page-counter start-new-page"
			 th:each="plan,iterationVarPlan : ${RaeumeStundenplaene}"
			 th:with="mitPausenzeiten = ${VorlageParameter.get('mitPausenzeiten')}">

			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<!--headerRight: Der Abschnitt und die Schulnummer werden über das Fragment hinzugefügt-->
			<th:block th:replace="~{fragments/reportPageHeaderFooter :: pageHeaderFooter(
				headerRight='Stundenplan' +
					'<br/>Gültig ab: ' + ${plan.stundenplan().gueltigAb()} +
					'<br/>Raum: ' + ${plan.raum().kuerzel()},
				footerRight='Druck ' + ${iterationVarPlan.count} + '/' + ${#lists.size(RaeumeStundenplaene)})}">
			</th:block>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<!-- Für jede Woche, die im Stundenplan definiert, wird ein Block erzeugt. -->
			<th:block th:each="wochennummer : ${#numbers.sequence(1, plan.stundenplan().wochenperiodizitaet())}"
				 th:with="wochentyp = ${(plan.stundenplan().wochenperiodizitaet() == 1 ? 0 : wochennummer)}">
				<table class="fixed-100 mp-0" style="page-break-inside: avoid;" th:with="
						spaltenzahl = ${(plan.stundenplan().unterrichtsrasterWochentage().size() + 1)},
						tageSpaltenbreite = ${95/plan.stundenplan().unterrichtsrasterWochentage().size()},
						ersteSpaltenbreite = ${100 - (tageSpaltenbreite * plan.stundenplan().unterrichtsrasterWochentage().size())}">
					<colgroup>
						<col th:style="${'width: ' + ersteSpaltenbreite + '%;'}" />
						<col th:each="i : ${#numbers.sequence(2, spaltenzahl)}" th:style="${'width: ' + tageSpaltenbreite + '%;'}" />
					</colgroup>
					<thead>
						<!-- Angaben zum Schüler und Wochen -->
						<tr th:if="${wochennummer == 1}">
							<td th:colspan="${spaltenzahl}" style="border-bottom: 1px grey solid; vertical-align: middle"><h3 class="m-t-0" th:text="${plan.raum().kuerzel()}">A123</h3></td>
						</tr>
						<tr th:if="${wochennummer == 1}" style="height: 3px;">
							<td th:colspan="${spaltenzahl}"></td>
						</tr>
						<tr th:if="${wochentyp > 0}">
							<td th:colspan="${spaltenzahl}"><h3 th:text="${plan.stundenplan().wochenbezeichnung(wochennummer) + '-Woche'}">A-Woche</h3></td>
						</tr>
						<!-- Spaltenköpfe -->
						<tr>
							<th scope="col" class="head-small-grey head-black-lines-small-all ta-cm"></th>
							<th scope="col" class="head-small-grey head-black-lines-small-all ta-cm" style="font-weight: bolder;" th:each="tag : ${plan.stundenplan().unterrichtsrasterWochentage()}" th:text="${tag.beschreibung}">Donnerstag</th>
						</tr>
					</thead>
					<tbody>
						<!-- Pro Element im Pausenraster wird eine Pausenzeile und eine Unterrichtszeile ausgegeben. Ausgenommen die letzte Zeile, da wird nur eine Pausenzeile erzeugt. -->
						<th:block th:each="zeilePausenraster,iterationVarZeilePausenraster : ${plan.stundenplan().rasterPausenNachStundeUndTagen()}">
							<tr th:if="${mitPausenzeiten && zeilePausenraster.dauerZeileInMinutenUnterrichtOderPausen() > 0}">
								<!-- Zeilenkopf für Pausen ist leer -->
								<td class="mp-0 ta-cm" style="min-height: 1mm;"></td>
							</tr>
							<tr th:if="${!iterationVarZeilePausenraster.last}" th:with="zeileUnterrichtsraster = ${plan.stundenplan().rasterUnterrichteNachStundeUndTagen().get(iterationVarZeilePausenraster.index)}">
								<!-- Zeilenkopf für Unterrichtsraster enthält Stundennummer -->
								<td class="head-small-grey head-black-lines-small-all ta-cm mp-0" style="min-height: 9mm; font-weight: bolder;" th:text="${plan.stundenplan().unterrichtsrasterStundennummern().get(iterationVarZeilePausenraster.index)}">1</td>
								<td class="bo-black mp-0"
									th:each="rasterelementZumTag : ${zeileUnterrichtsraster.rasterElemente()}"
									th:with="unterrichte = ${rasterelementZumTag.unterrichtsrasterstunde().unterrichteRaum(plan.raum().id(), wochentyp, true)}">
									<!-- Pro Stunde wird eine kleine Tabelle mit den Unterrichten und Pausen eingefügt -->
									<table class="fixed-100 mp-0">
										<colgroup>
											<col style="width: 3%;" />
											<col style="width: 55%;" />
											<col style="width: 4%;" />
											<col style="width: 35%;" />
											<col style="width: 3%;" />
										</colgroup>
										<th:block th:each="unterricht,iterationvarUnterricht : ${unterrichte}">
											<tr>
												<th class="f-small ta-lm"></th>
                                                <th th:if="${unterricht.kurs() == null}" colspan="3" class="f-small ta-lm" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}" th:text="${unterricht.klassenAuflistungJahrgangParallelitaetKurz()}">09ABC</th>
												<th th:if="${unterricht.kurs() != null}" colspan="3" class="f-small ta-lm" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}" th:text="${unterricht.klassenAuflistungJahrgangParallelitaetKurz() + ' (' + unterricht.kurs().kuerzel() + ')'}">09ABC (IF-WPI)</th>
												<th class="f-small ta-lm"></th>
											</tr>
											<tr>
												<td></td>
												<td class="f-small ta-lm" th:text="${unterricht.lehrkraefteAuflistung()}">ABC</td>
												<td class="f-small ta-cm"></td>
                                                <td class="f-small ta-rm" th:text="${unterricht.fach().kuerzel()}">D</td>
												<td></td>
											</tr>
										</th:block>
									</table>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</th:block>
		</div>
	</body>
</html>
