<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:with="istDruckausgabe = ${Parameter.istDruckausgabe()}">
	<head th:replace="~{fragments/reportHtmlHead :: htmlHead(
		title='Lehrer-Stundenplan',
		htmlTemplatePfad=${Parameter.htmlTemplateDefinition().getPfadHtmlTemplate()},
		namePageCSS='reporting-A4-hoch.css')}">
		<title></title>
	</head>

	<body>
		<div class="reset-page-counter start-new-page"
			 th:with="mitPausenaufsichten = ${VorlageParameter.get('mitPausenaufsichten')},
			          mitPausenzeiten = ${VorlageParameter.get('mitPausenzeiten') || mitPausenaufsichten },
					  mitFachkuerzelStattFachbezeichnung = ${VorlageParameter.get('mitFachkuerzelStattFachbezeichnung')},
					  plan = ${LehrerStundenplaene.get(0)}">

			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<!--headerRight: Der Abschnitt und die Schulnummer werden über das Fragment hinzugefügt-->
			<th:block th:replace="~{fragments/reportPageHeaderFooter :: pageHeaderFooter(
				headerRight='Stundenplan' +
					'<br/>Gültig ab: ' + ${plan.stundenplan().gueltigAb()} +
					'<br/>Lehrkräfte: ' + ${LehrerStundenplaeneAuflistungKuerzel})}">
			</th:block>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<!-- Für jede Woche, die im Stundenplan definiert, wird ein Block erzeugt. -->
			<th:block th:each="wochennummer : ${#numbers.sequence(1, plan.stundenplan().wochenperiodizitaet())}"
				 th:with="wochentyp = ${(plan.stundenplan().wochenperiodizitaet() == 1 ? 0 : wochennummer)}">
				<table class="fixed-100 mp-0" style="page-break-inside: avoid;" th:with="
						spaltenzahl = ${(plan.stundenplan().unterrichtsrasterWochentage().size() + 1)},
						tageSpaltenbreite = ${95/plan.stundenplan().unterrichtsrasterWochentage().size()},
						ersteSpaltenbreite = ${100 - (tageSpaltenbreite * plan.stundenplan().unterrichtsrasterWochentage().size())}">
					<colgroup>
						<col th:style="${'width: ' + ersteSpaltenbreite + '%;'}" />
						<col th:each="i : ${#numbers.sequence(2, spaltenzahl)}" th:style="${'width: ' + tageSpaltenbreite + '%;'}" />
					</colgroup>
					<thead>
						<!-- Angaben zu den Lehrkräften und Wochen -->
						<tr th:if="${wochennummer == 1}">
							<td th:colspan="${spaltenzahl}" style="border-bottom: 1px grey solid; vertical-align: middle"><h3 class="m-t-0" th:text="${LehrerStundenplaeneAuflistungKuerzel}">ABC,DEF,HIJ,KLM</h3></td>
						</tr>
						<tr th:if="${wochennummer == 1}" style="height: 3px;">
							<td th:colspan="${spaltenzahl}"></td>
						</tr>
						<tr th:if="${wochentyp > 0}">
							<td th:colspan="${spaltenzahl}"><h3 th:text="${plan.stundenplan().wochenbezeichnung(wochennummer) + '-Woche'}">A-Woche</h3></td>
						</tr>
						<!-- Spaltenköpfe -->
						<tr>
							<th scope="col" class="head-small-grey head-black-lines-small-all ta-cm"></th>
							<th scope="col" class="head-small-grey head-black-lines-small-all ta-cm" style="font-weight: bolder;" th:each="tag : ${plan.stundenplan().unterrichtsrasterWochentage()}" th:text="${tag.beschreibung}">Donnerstag</th>
						</tr>
					</thead>
					<tbody>
						<!-- Pro Element im Pausenraster wird eine Pausenzeile und eine Unterrichtszeile ausgegeben. Ausgenommen die letzte Zeile, da wird nur eine Pausenzeile erzeugt. -->
						<th:block th:each="zeilePausenraster,iterationVarZeilePausenraster : ${plan.stundenplan().rasterPausenNachStundeUndTagen()}"
								  th:with="habenPausenaufsichtInZeile = ${zeilePausenraster.habenLehrkraeftePausenaufsichtInZeile(Parameter.idsDetaildaten, wochentyp, true)}">
							<tr th:if="${((mitPausenaufsichten && habenPausenaufsichtInZeile) || mitPausenzeiten) && zeilePausenraster.dauerZeileInMinutenUnterrichtOderPausen() > 0}">
								<!-- Zeilenkopf für Pausen ist leer -->
								<td class="mp-0 ta-cm" style="min-height: 1mm;"></td>
								<th:block th:each="rasterelementZumTag : ${zeilePausenraster.rasterElemente()}"
										  th:with="pausenaufsichten = ${rasterelementZumTag.pausenaufsichtenByLehrkraeftenUndWochentyp(Parameter.idsDetaildaten, wochentyp, true)},
												   habenPausenaufsichtInElement = ${!pausenaufsichten.isEmpty()}">
									<td class="mp-0 ta-cm">
										<!-- Pro Zeile wird eine kleine Tabelle mit den Pausenaufsichten eingefügt -->
										<table th:if="${mitPausenaufsichten}" class="fixed-100 mp-0">
											<colgroup>
												<col style="width: 3%;" />
												<col style="width: 55%;" />
												<col style="width: 4%;" />
												<col style="width: 35%;" />
												<col style="width: 3%;" />
											</colgroup>
											<th:block th:each="pausenaufsicht,iterationvarPausenaufsicht : ${pausenaufsichten}">
												<tr>
													<th class="f-tiny ta-lm"></th>
													<th colspan="3" class="f-tiny f-bold ta-cm bg-lightgrey" th:classappend="${!iterationvarPausenaufsicht.first ? ' bo-t-grey' : ''}" th:text="${pausenaufsicht.aufsichtsbereichKuerzel() + ' (' + pausenaufsicht.lehrkraft().kuerzel() + ')' }">Mensa (ABC)</th>
													<th class="f-tiny ta-rm"></th>
												</tr>
											</th:block>
										</table>
									</td>
								</th:block>
							</tr>
							<tr th:if="${!iterationVarZeilePausenraster.last}" th:with="zeileUnterrichtsraster = ${plan.stundenplan().rasterUnterrichteNachStundeUndTagen().get(iterationVarZeilePausenraster.index)}">
								<!-- Zeilenkopf für Unterrichtsraster enthält Stundennummer -->
								<td class="head-small-grey head-black-lines-small-all ta-cm mp-0" style="min-height: 7mm; font-weight: bolder;" th:text="${plan.stundenplan().unterrichtsrasterStundennummern().get(iterationVarZeilePausenraster.index)}">1</td>
								<td class="bo-black mp-0"
									th:each="rasterelementZumTag : ${zeileUnterrichtsraster.rasterElemente()}"
									th:with="unterrichte = ${rasterelementZumTag.unterrichtsrasterstunde().unterrichteLehrkraefte(Parameter.idsDetaildaten, wochentyp, true)},
											pausenaufsichten = ${rasterelementZumTag.pausenaufsichtenByLehrkraeftenUndWochentyp(Parameter.idsDetaildaten, wochentyp, true)}">
									<!-- Pro Stunde wird eine kleine Tabelle mit den Unterrichten und Pausen eingefügt -->
									<table class="fixed-100 mp-0">
										<colgroup>
											<col style="width: 3%;" />
											<col style="width: 55%;" />
											<col style="width: 4%;" />
											<col style="width: 35%;" />
											<col style="width: 3%;" />
										</colgroup>
										<th:block th:each="unterricht,iterationvarUnterricht : ${unterrichte}">
											<tr>
												<th class="f-small ta-l"></th>
												<th class="f-small ta-l" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}" th:text="${unterricht.klassenAuflistungJahrgangParallelitaetKurz()}">10A</th>
												<th class="f-small ta-c" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}"></th>
												<th class="f-small ta-r" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}" th:text="${unterricht.raeumeAuflistung()}">A123</th>
												<th class="f-small ta-l"></th>
											</tr>
											<tr>
												<td></td>
												<td th:if="${unterricht.kurs() == null}" class="f-small ta-l" th:text="${mitFachkuerzelStattFachbezeichnung ? unterricht.fach().kuerzel() : unterricht.fach().bezeichnung()}">Mathematik</td>
												<td th:if="${unterricht.kurs() != null}" class="f-small ta-l" th:text="${unterricht.kurs().kuerzel()}">M-GK2</td>
												<td class="f-small ta-l"></td>
												<td class="f-small ta-r" th:text="${unterricht.lehrkraefteAuflistung()}">ABC</td>
												<td></td>
											</tr>
										</th:block>
										<th:block th:if="${mitPausenaufsichten}" th:each="pausenaufsicht,iterationvarPausenaufsicht : ${pausenaufsichten}">
											<tr>
												<td class="f-tiny f-bold ta-lm"></td>
												<td colspan="3" class="f-tiny f-bold ta-cm bg-lightgrey" th:classappend="${(!iterationvarPausenaufsicht.first || unterrichte.size() > 0) ? ' bo-t-grey' : ''}" th:text="${pausenaufsicht.aufsichtsbereichKuerzel() + ' (' + pausenaufsicht.lehrkraft().kuerzel() + ')' }">Mensa (ABC)</td>
												<td class="f-tiny f-bold ta-rm"></td>
											</tr>
										</th:block>
									</table>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</th:block>
		</div>
	</body>
</html>
