<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:with="istDruckausgabe = ${Parameter.istDruckausgabe()}">
	<head th:replace="~{fragments/reportHtmlHead :: htmlHead(
		title='Schüler-Stundenplan',
		htmlTemplatePfad=${Parameter.htmlTemplateDefinition().getPfadHtmlTemplate()},
		namePageCSS='reporting-A4-hoch.css')}">
		<title></title>
	</head>

	<body>
		<div class="reset-page-counter start-new-page"
			 th:each="plan,iterationVarPlan : ${SchuelerStundenplaene}"
			 th:with="lernabschnittZumStundenplan =${plan.schueler().aktiverLernabschnittInSchuljahresabschnitt(plan.stundenplan().schuljahresabschnitt())},
			          hatLernabschnittJahrgangKlasse = ${(lernabschnittZumStundenplan != null) && (lernabschnittZumStundenplan.jahrgang() != null) && (lernabschnittZumStundenplan.klasse() != null)},
				      istSchuelerSek2oWB = ${hatLernabschnittJahrgangKlasse ? lernabschnittZumStundenplan.jahrgang().istJahrgangImBereichSek2OderWeiterbildung() : false},
				      mitPausenzeiten = ${VorlageParameter.get('mitPausenzeiten')},
					  mitFachStattKursbezeichnung = ${VorlageParameter.get('mitFachStattKursbezeichnung') && !istSchuelerSek2oWB},
					  mitFachkuerzelStattFachbezeichnung = ${VorlageParameter.get('mitFachkuerzelStattFachbezeichnung')},
					  mitIndividuelleKursart = ${VorlageParameter.get('mitIndividuelleKursart')}">

			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<!--headerRight: Der Abschnitt und die Schulnummer werden über das Fragment hinzugefügt-->
			<th:block th:replace="~{fragments/reportPageHeaderFooter :: pageHeaderFooter(
				headerRight='Stundenplan' +
					'<br/>Gültig ab: ' + ${plan.stundenplan().gueltigAb()} +
					'<br/>' + ${plan.schueler().nachnameVorname() + (hatLernabschnittJahrgangKlasse ? ' (' +  lernabschnittZumStundenplan.klasse().kuerzel() + ')' : '')},
				footerRight='Druck ' + ${iterationVarPlan.count} + '/' + ${#lists.size(SchuelerStundenplaene)})}">
			</th:block>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<!-- Für jede Woche, die im Stundenplan definiert, wird ein Block erzeugt. -->
			<th:block th:each="wochennummer : ${#numbers.sequence(1, plan.stundenplan().wochenperiodizitaet())}"
				 th:with="wochentyp = ${(plan.stundenplan().wochenperiodizitaet() == 1 ? 0 : wochennummer)}">
				<table class="fixed-100 mp-0" style="page-break-inside: avoid;" th:with="
						spaltenzahl = ${(plan.stundenplan().unterrichtsrasterWochentage().size() + 1)},
						tageSpaltenbreite = ${95/plan.stundenplan().unterrichtsrasterWochentage().size()},
						ersteSpaltenbreite = ${100 - (tageSpaltenbreite * plan.stundenplan().unterrichtsrasterWochentage().size())}">
					<colgroup>
						<col th:style="${'width: ' + ersteSpaltenbreite + '%;'}" />
						<col th:each="i : ${#numbers.sequence(2, spaltenzahl)}" th:style="${'width: ' + tageSpaltenbreite + '%;'}" />
					</colgroup>
					<thead>
						<!-- Angaben zum Schüler und Wochen -->
						<tr th:if="${wochennummer == 1}">
							<td th:colspan="${spaltenzahl - 1}" style="border-bottom: 1px grey solid; vertical-align: middle"><h3 class="m-t-0" th:text="${plan.schueler().nachnameVorname()}">Mustermann, Thomas</h3></td>
                            <td class="ta-r" style="border-bottom: 1px grey solid; vertical-align: middle"><h3 class="m-t-0" th:text="${hatLernabschnittJahrgangKlasse ? lernabschnittZumStundenplan.klasse().kuerzel() : ''}">10A</h3></td>
						</tr>
						<tr th:if="${wochennummer == 1}" style="height: 3px;">
							<td th:colspan="${spaltenzahl}"></td>
						</tr>
						<tr th:if="${wochentyp > 0}">
							<td th:colspan="${spaltenzahl}"><h3 th:text="${plan.stundenplan().wochenbezeichnung(wochennummer) + '-Woche'}">A-Woche</h3></td>
						</tr>
						<!-- Spaltenköpfe -->
						<tr>
							<th scope="col" class="head-small-grey head-black-lines-small-all ta-cm"></th>
							<th scope="col" class="head-small-grey head-black-lines-small-all ta-cm" style="font-weight: bolder;" th:each="tag : ${plan.stundenplan().unterrichtsrasterWochentage()}" th:text="${tag.beschreibung}">Donnerstag</th>
						</tr>
					</thead>
					<tbody>
						<!-- Pro Element im Pausenraster wird eine Pausenzeile und eine Unterrichtszeile ausgegeben. Ausgenommen die letzte Zeile, da wird nur eine Pausenzeile erzeugt. -->
						<th:block th:each="zeilePausenraster,iterationVarZeilePausenraster : ${plan.stundenplan().rasterPausenNachStundeUndTagen()}">
							<tr th:if="${mitPausenzeiten && zeilePausenraster.dauerZeileInMinutenUnterrichtOderPausen() > 0}">
								<!-- Zeilenkopf für Pausen ist leer -->
								<td class="mp-0 ta-cm" style="min-height: 1mm;"></td>
							</tr>
							<tr th:if="${!iterationVarZeilePausenraster.last}" th:with="zeileUnterrichtsraster = ${plan.stundenplan().rasterUnterrichteNachStundeUndTagen().get(iterationVarZeilePausenraster.index)}">
								<!-- Zeilenkopf für Unterrichtsraster enthält Stundennummer -->
								<td class="head-small-grey head-black-lines-small-all ta-cm mp-0" style="min-height: 7mm; font-weight: bolder;" th:text="${plan.stundenplan().unterrichtsrasterStundennummern().get(iterationVarZeilePausenraster.index)}">1</td>
								<td class="bo-black mp-0"
									th:each="rasterelementZumTag : ${zeileUnterrichtsraster.rasterElemente()}"
									th:with="unterrichte = ${rasterelementZumTag.unterrichtsrasterstunde().unterrichteSchueler(plan.schueler().id(), wochentyp, true)}">
									<!-- Pro Stunde wird eine kleine Tabelle mit den Unterrichten und Pausen eingefügt -->
									<table class="fixed-100 mp-0">
										<colgroup>
											<col style="width: 3%;" />
											<col style="width: 55%;" />
											<col style="width: 4%;" />
											<col style="width: 35%;" />
											<col style="width: 3%;" />
										</colgroup>
										<th:block th:each="unterricht,iterationvarUnterricht : ${unterrichte}">
											<tr>
												<th scope="col" class="f-small ta-lm"></th>
                                                <td th:if="${unterricht.kurs() == null}" colspan="3" class="f-small ta-l" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}" th:text="${mitFachkuerzelStattFachbezeichnung ? unterricht.fach().kuerzel() : unterricht.fach().bezeichnung()}">Mathematik</td>
                                                <th:block th:if="${(unterricht.kurs() != null)}">
                                                    <th:block th:if="${(mitFachStattKursbezeichnung)}"
															  th:with="kursFachausgabe = ${mitFachkuerzelStattFachbezeichnung ? unterricht.kurs().fach().kuerzel() : unterricht.kurs().fach().bezeichnung()}">
														<td th:if="${mitIndividuelleKursart}" colspan="3" class="f-small ta-lm" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}"><span th:text="${kursFachausgabe}">Informatik</span><span class="f-very-tiny f-ital" th:text="${' (' + unterricht.kurs().schuelerIndividuelleKursart(plan.schueler().id()) + ')'}"> (WPII)</span></td>
                                                        <td th:if="${!mitIndividuelleKursart}" colspan="3" class="f-small ta-lm" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}" th:text="${kursFachausgabe}">Informatik</td>
                                                    </th:block>
                                                    <th:block th:if="${(!mitFachStattKursbezeichnung)}">
                                                        <td class="f-small ta-lm" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}" th:text="${unterricht.kurs().kuerzel()}">M-GK2</td>
                                                        <td class="f-small ta-cm" th:classappend="${!iterationvarUnterricht.first ? ' bo-t-grey' : ''}"></td>
                                                        <td th:if="${mitIndividuelleKursart}" class="f-very-tiny f-ital ta-rm" th:text="${unterricht.kurs().schuelerIndividuelleKursart(plan.schueler().id())}">GKS</td>
                                                        <td th:if="${!mitIndividuelleKursart}" class="f-very-tiny f-ital ta-rm"></td>
                                                    </th:block>
                                                </th:block>
												<td class="f-small ta-lm"></td>
											</tr>
											<tr>
												<td></td>
												<td class="f-small ta-lm" th:text="${unterricht.lehrkraefteAuflistung()}">ABC</td>
												<td class="f-small ta-cm"></td>
                                                <td class="f-small ta-rm" th:text="${unterricht.raeumeAuflistung()}">A123</td>
												<td></td>
											</tr>
										</th:block>
									</table>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</th:block>
		</div>
	</body>
</html>
