<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Schüler mit Klausuren</title>
	<link rel="stylesheet" href="GostKlausurplanungSchuelerMitKlausuren.css"/>
</head>

<body>
<div class="start-new-page" th:each="schueler,itStatSchueler : ${GostKlausurplan.schuelerGefiltert()}">
	<!--<div class="start-new-page" th:each="schueler,itStatSchueler : ${GostKlausurplan.schuelerGefiltert(Parameter.idsDetaildaten)}">-->
	<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
	<div class="pageTopLeft" th:utext="${Schule.bezeichnungSchuleMehrzeiligHtml}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
	<div class="pageTopRight"
		 th:utext="'Klausurplanung ' + ${Schule.auswahlSchuljahresabschnitt().textSchuljahresabschnittKurz()} + '<br/>Schulnummer: ' + ${Schule.schulnummer()}">
		Klausurplanung<br/><br/>Schulnummer: 123456
	</div>
	<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}">Gedruckt am: 02.02.2022</div>
	<div class="pageBottomRight"><span class="counter-print">Seite </span></div>
	<!--Ende: Definition Seitenköpfe und Seitenfüße -->

		<table class="fixed-layout-100 no-space-pad">
			<colgroup>
				<col style="width: 80%;"/>
				<col style="width: 20%;"/>
			</colgroup>
			<thead>
			<tr>
				<td colspan="2" class="bob-grey"><h2 th:text="'Klausurplan ' + ${Schule.auswahlSchuljahresabschnitt().textSchuljahresabschnittLang()}">Klausurplan 2024/25 1. Halbjahr</h2></td>
			</tr>
			<tr>
				<td class="pad-top bob-grey"><h3 th:text="${schueler.nachname()} + ', ' + ${schueler.vorname()}">Mustermann, Max</h3></td>
				<td class="pad-top bob-grey ta-r"><h3 th:text="${schueler.auswahlLernabschnitt().klasse().kuerzel()}">EF</h3></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="2">
					<table class="fixed-layout-100 no-space-pad">
						<colgroup>
							<col style="width: 5%;"/>
							<col style="width: 16%;"/>
							<col style="width: 14%;"/>
							<col style="width: 13%;"/>
							<col style="width: 14%;"/>
							<col style="width: 14%;"/>
							<col style="width: 14%;"/>
							<col style="width: 10%;"/>
						</colgroup>
						<thead>
						<tr>
							<td class="spaltenkopf">KW</td>
							<td class="spaltenkopf">Datum</td>
							<td class="spaltenkopf">Kurs</td>
							<td class="spaltenkopf">Lehrkraft</td>
							<td class="spaltenkopf">Raum</td>
							<td class="spaltenkopf">Beginn</td>
							<td class="spaltenkopf ta-r">Dauer</td>
							<td class="spaltenkopf ta-r">Medien</td>
						</tr>
						</thead>
						<tbody>
						<th:block th:each="schuelerklausur,itStatSchuelerklausur : ${schueler.gostKlausurplanungSchuelerklausuren()}">
							<tr>
								<td class="small bot-grey pad-1001" th:text="${schuelerklausur.klausurtermin() != null ? #convert.toKalenderwocheDE(schuelerklausur.klausurtermin().datum()) : ''}">35</td>
								<td class="small bot-grey pad-1001" th:text="${schuelerklausur.klausurtermin() != null ? (#convert.toWochentagKurzDE(schuelerklausur.klausurtermin().datum()) + ' ' + #convert.toDateDE(schuelerklausur.klausurtermin().datum())) : ''}">Do. 02.10.2024</td>
								<td class="small bot-grey pad-1001" th:text="${schuelerklausur.kursklausur().kurs().kuerzel()}">ABC</td>
								<td class="small bot-grey pad-1001" th:text="${schuelerklausur.kursklausur().kurs().kursLehrer().kuerzel()}">ABC</td>
								<td class="small bot-grey pad-1001" th:text="${((schuelerklausur.klausurraum() == null) || (schuelerklausur.klausurraum().raumdaten() == null)) ? '' : schuelerklausur.klausurraum().raumdaten().kuerzel()}">A2.13</td>
								<td class="small bot-grey pad-1001" th:text="${schuelerklausur.startuhrzeit() + ' Uhr'}">08:00 Uhr</td>
								<td class="small bot-grey pad-1001 ta-r" th:text="${schuelerklausur.kursklausur().dauer() + ' Min.'}">180 Min.</td>
								<td class="small bot-grey pad-1001 ta-r" th:text="${(schuelerklausur.kursklausur().istAudioNotwendig() ? 'A' : '') + (schuelerklausur.kursklausur().istVideoNotwendig() ? 'V' : '')}">A</td>
							</tr>
							<tr th:if="${schuelerklausur.kursklausur() != null && schuelerklausur.kursklausur().istMdlPruefung()}">
								<td></td>
								<td></td>
								<td colspan="7" class="beschriftung pad-1001 ta-l">Hinweis: Mündliche Prüfung.</td>
							</tr>
							<tr th:if="${(schuelerklausur.klausurtermin() != null && schuelerklausur.klausurtermin().bemerkung() != null)}">
								<td></td>
								<td></td>
								<td colspan="7" class="beschriftung pad-1001 ta-l" th:text="${'Bemerkung zum Klausurtermin: ' + schuelerklausur.klausurtermin().bemerkung()}">Bemerkung zum Klausurtermin: Text zum Termin der Klausur</td>
							</tr>
							<tr th:if="${(schuelerklausur.bemerkung() != null)}">
								<td></td>
								<td></td>
								<td colspan="7" class="beschriftung pad-1001 ta-l" th:text="${'Bemerkung zu Schülerklausur: ' + schuelerklausur.bemerkung()}">Bemerkung zu Schülerklausur: Text zur Klausur des Schülers</td>
							</tr>
							<tr th:if="${(schuelerklausur.kursklausur() != null && schuelerklausur.kursklausur().bemerkung() != null)}">
								<td></td>
								<td></td>
								<td colspan="7" class="beschriftung pad-1001 ta-l" th:text="${'Bemerkung zu Kursklausur: ' + schuelerklausur.kursklausur().bemerkung()}">Bemerkung zu Kursklausur: Text zur Klausur des Kurses</td>
							</tr>
						</th:block>
						</tbody>
					</table>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
