<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
	<head th:with="mediaPrint = ${Parameter.ausgabeformat >= 2}">
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<title>Klausurtermine mit Kursen</title>
		<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-pdf.css}" href="../../css/reporting-pdf.css" />
		<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-A4-hoch.css}" href="../../css/reporting-A4-hoch.css" />
		<link rel="stylesheet" th:href="@{css/reporting-styles.css}" href="../../css/reporting-styles.css" />
		<link rel="stylesheet" th:href="@{gost/klausurplanung/GostKlausurplanungKlausurtermineMitKursen.css}" href="../../gost/klausurplanung/GostKlausurplanungKlausurtermineMitKursen.css" />
	</head>

	<body th:with="mediaPrint = ${Parameter.ausgabeformat >= 2},
	               mitKursklausuren = ${VorlageParameter.get('mitKursklausuren')},
				   mitNachschreibern = ${VorlageParameter.get('mitNachschreibern')},
				   mitKlausurschreiberNamen = ${VorlageParameter.get('mitKlausurschreiberNamen')}">
		<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
		<th:block th:if="${mediaPrint}">
			<div class="pageTopLeft" th:utext="${Schule.bezeichnungSchuleMehrzeiligHtml}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
			<div class="pageTopRight" th:utext="'Klausurplanung ' + ${Schule.auswahlSchuljahresabschnitt().textSchuljahresabschnittKurz()} + '<br/>Schulnummer: ' + ${Schule.schulnummer()}">Klausurplanung 2023.2<br/><br/>Schulnummer: 123456</div>
			<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')} + ' von ' + ${Benutzer.benutzername()}">Gedruckt am 02.02.2022 von ABC</div>
			<div class="pageBottomRight"><span class="page-nums-print">Seite </span></div>
		</th:block>
		<!--Ende: Definition Seitenköpfe und Seitenfüße -->

		<table class="fixed-100 p-0">
			<tr>
				<th class="bo-b-grey"><h2 th:text="'Klausurplan ' + ${Schule.auswahlSchuljahresabschnitt().textSchuljahresabschnittLang()} + ${(mitKursklausuren && !mitNachschreibern) ? ' - Kursklausuren' : ((!mitKursklausuren && mitNachschreibern) ? ' - Schülerklausuren' : '')}">Klausurplan 2024/25 1. Halbjahr</h2></th>
			</tr>
		</table>
		<th:block th:each="datum,iterationVarDatum : ${GostKlausurplan.datumsangabenKlausurtermine()}">
			<div style="page-break-inside: avoid;">
				<th:block th:each="termin,iterationVarTermin : ${GostKlausurplan.klausurtermineZumDatum(datum)}">
					<table th:if="${mitKursklausuren && !termin.kursklausuren().isEmpty()}" class="fixed-100 p-0">
						<colgroup>
							<col style="width: 6%;"/>
							<col style="width: 14%;"/>
							<col style="width: 14%;"/>
							<col style="width: 14%;"/>
							<col style="width: 11%;"/>
							<col style="width: 11%;"/>
							<col style="width: 11%;"/>
							<col style="width: 11%;"/>
							<col style="width: 8%;"/>
						</colgroup>
						<thead>
						<tr th:if="${iterationVarTermin.first}">
							<th colspan="7" class="p-t-25of100 bo-b-grey"><h3 th:text="${#convert.toWochentagDE(datum)} + ', ' + ${#convert.toDateDE(datum)}">Montag, 15.03.2024</h3></th>
							<th colspan="2" class="p-t-25of100 bo-b-grey ta-r"><h3 th:text="${'KW' + #convert.toKalenderwocheDE(datum)}">KW23</h3></th>
						</tr>
						<tr>
							<td colspan="9" style="height: 3mm"></td>
						</tr>
						<tr>
							<td class="f-bold bo-b-grey" th:text="${termin.gostHalbjahr().kuerzel}">Q2.2</td>
							<td colspan="2" class="f-bold bo-b-grey" th:text="${termin.startuhrzeit() + ' Uhr'}">08:00 Uhr</td>
							<td colspan="4" class="f-bold bo-b-grey" th:text="${termin.bezeichnung()}">Kursgruppe M-PH</td>
							<td colspan="2" class="f-bold bo-b-grey ta-r" th:text="${'Quartal ' + termin.quartal() + ' - ' + #convert.toDateDE(datum)}">Quartal 1 - 15.03.2024</td>
						</tr>
						<tr th:if="${!termin.raeumeUndStunden().isEmpty()}">
							<td></td>
							<td colspan="8" class="bo-b-grey cell-small-grey" th:text="${'Räume und Stunden:' + termin.raeumeUndStunden()}">Räume und Stunden: 1.02 (1.-4.), 2.13 (3.-4.)</td>
						</tr>
						<tr th:if="${termin.bemerkung() != null && !termin.bemerkung().isEmpty()}">
							<td></td>
							<td colspan="8"  class="cell-small-grey" th:text="${'Bemerkung: ' + termin.bemerkung()}">Bemerkung: Der Text mit Bemerkungen zum Klausurtermin</td>
						</tr>
						<tr>
							<td colspan="9" style="height: 2mm"></td>
						</tr>
						<tr>
							<td></td>
							<td colspan="8" class="f-bold">Kursklausuren:</td>
						</tr>
						<tr>
							<td></td>
							<td class="head-small-grey">Kurs</td>
							<td class="head-small-grey">Lehrkraft</td>
							<td class="head-small-grey">Räume</td>
							<td class="head-small-grey">Beginn</td>
							<td class="head-small-grey">Dauer</td>
							<td class="head-small-grey">Stunden</td>
							<td class="head-small-grey ta-r">Anzahl</td>
							<td class="head-small-grey ta-r">Medien</td>
						</tr>
						</thead>
						<th:block th:if="${!termin.kursklausuren().isEmpty()}">
							<tbody th:each="kursklausur,iterationVarKursklausur : ${termin.kursklausuren()}">
							<tr>
								<td></td>
								<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${kursklausur.kurs().kuerzel()}">GE-GK2</td>
								<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${(kursklausur.kurs().kursleitung() == null) ? '' : kursklausur.kurs().kursleitung().kuerzel()}">ABC</td>
								<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${kursklausur.textRaeume()}">A2.13</td>
								<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${kursklausur.startuhrzeit() + ' Uhr'}">08:00 Uhr</td>
								<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${kursklausur.dauer() + ' Min.'}">180 Min.</td>
								<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${kursklausur.textStunden()}">1-4</td>
								<td class="bo-t-grey p-tb-0 p-lr-1 ta-r" th:text="${kursklausur.anzahlSchuelerKlausur() + ' / ' + kursklausur.anzahlSchuelerKurs()}">12/19</td>
								<td class="bo-t-grey p-tb-0 p-lr-1 ta-r" th:text="${(kursklausur.istAudioNotwendig() ? 'A' : '') + (kursklausur.istVideoNotwendig() ? 'V' : '')}">A</td>
							</tr>
							<tr th:if="${kursklausur.istMdlPruefung()}">
								<td></td>
								<td class="cell-small-grey p-tb-0 p-lr-1 ta-l"></td>
								<td colspan="7" class="cell-small-grey p-tb-0 p-lr-1 ta-l">Hinweis: Mündliche Prüfung.</td>
							</tr>
							<tr th:if="${(kursklausur.bemerkung() != null && !kursklausur.bemerkung().isEmpty())}">
								<td></td>
								<td></td>
								<td colspan="7" class="cell-small-grey p-tb-0 p-lr-1 ta-l" th:text="${'Bemerkung: ' + kursklausur.bemerkung()}">Bemerkungen zur Klausur des Kurses.</td>
							</tr>
							<tr th:if="${mitKlausurschreiberNamen && !kursklausur.klausurschreiberNamen().isEmpty()}">
								<td></td>
								<td></td>
								<td colspan="7" class="cell-small-grey p-tb-0 p-lr-1 ta-l" th:text="${kursklausur.textKlausurschreiberNamen()}">Max Mustermann, Tina Test</td>
							</tr>
							</tbody>
						</th:block>
						<tr th:if="${mitNachschreibern && !termin.schuelerklausurenNachschreibtermin().isEmpty()}">
							<td colspan="9" style="height: 2mm"></td>
						</tr>
					</table>

					<table th:if="${mitNachschreibern && !termin.schuelerklausurenNachschreibtermin().isEmpty()}" class="fixed-100 p-0">
						<colgroup>
							<col style="width: 6%;"/>
							<col style="width: 14%;"/>
							<col style="width: 14%;"/>
							<col style="width: 14%;"/>
							<col style="width: 11%;"/>
							<col style="width: 11%;"/>
							<col style="width: 11%;"/>
							<col style="width: 11%;"/>
							<col style="width: 8%;"/>
						</colgroup>
						<thead>
						<tr th:if="${(termin.kursklausuren().isEmpty() || !mitKursklausuren) && iterationVarTermin.first}">
							<th colspan="7" class="p-t-25of100 bo-b-grey"><h3 th:text="${#convert.toWochentagDE(datum)} + ', ' + ${#convert.toDateDE(datum)}">15.03.2024</h3></th>
							<th colspan="2" class="p-t-25of100 bo-b-grey ta-r"><h3 th:text="${'KW' + #convert.toKalenderwocheDE(datum)}">KW23</h3></th>
						</tr>
						<tr>
							<td colspan="9" style="height: 3mm"></td>
						</tr>
						<tr th:if="${(termin.kursklausuren().isEmpty() || !mitKursklausuren)}">
							<td class="f-bold bo-b-grey" th:text="${termin.gostHalbjahr().kuerzel}">Q2.2</td>
							<td colspan="2" class="f-bold bo-b-grey" th:text="${termin.startuhrzeit() + ' Uhr'}">08:00 Uhr</td>
							<td colspan="7" class="f-bold bo-b-grey" th:text="${termin.bezeichnung()}">Kursgruppe M-PH</td>
						</tr>
						<tr th:if="${(termin.kursklausuren().isEmpty() || !mitKursklausuren) && !termin.raeumeUndStunden().isEmpty()}">
							<td></td>
							<td colspan="8" class="bo-b-grey cell-small-grey" th:text="${'Räume und Stunden:' + termin.raeumeUndStunden()}">Räume und Stunden: 1.02 (1.-4.), 2.13 (3.-4.)</td>
						</tr>
						<tr th:if="${(termin.kursklausuren().isEmpty() || !mitKursklausuren) && termin.bemerkung() != null && !termin.bemerkung().isEmpty()}">
							<td></td>
							<td colspan="8"  class="cell-small-grey" th:text="${'Bemerkung: ' + termin.bemerkung()}">Bemerkung: Der Text mit Bemerkungen zum Klausurtermin</td>
						</tr>
						<tr>
							<td colspan="9" style="height: 2mm"></td>
						</tr>
						<tr>
							<td></td>
							<td colspan="8" class="f-bold">Schülerklausuren:</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="2" class="head-small-grey">Schülerin / Schüler</td>
							<td class="head-small-grey">Kurs</td>
							<td class="head-small-grey">Lehrkraft</td>
							<td class="head-small-grey">Raum</td>
							<td class="head-small-grey">Beginn</td>
							<td class="head-small-grey">Dauer</td>
							<td class="head-small-grey ta-r">Medien</td>
						</tr>
						</thead>
						<tbody th:each="schuelerklausur,iterationVarSchuelerklausur : ${termin.schuelerklausurenNachschreibtermin()}">
						<tr>
							<td></td>
							<td colspan="2" class="bo-t-grey p-tb-0 p-lr-1" th:text="${schuelerklausur.schueler().nachname() + ', ' + schuelerklausur.schueler().vorname()}">Mustermann, Max</td>
							<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${schuelerklausur.kursklausur().kurs().kuerzel()}">GE-GK2</td>
							<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${schuelerklausur.kursklausur().kurs().kursleitung().kuerzel()}">ABC</td>
							<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${((schuelerklausur.klausurraum() == null) || (schuelerklausur.klausurraum().raumdaten() == null)) ? '' : schuelerklausur.klausurraum().raumdaten().kuerzel()}">A2.13</td>
							<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${schuelerklausur.startuhrzeit() + ' Uhr'}">08:00 Uhr</td>
							<td class="bo-t-grey p-tb-0 p-lr-1" th:text="${schuelerklausur.kursklausur().dauer() + ' Min.'}">180 Min.</td>
							<td class="bo-t-grey p-tb-0 p-lr-1 ta-r" th:text="${(schuelerklausur.kursklausur().istAudioNotwendig() ? 'A' : '') + (schuelerklausur.kursklausur().istVideoNotwendig() ? 'V' : '')}">A</td>
						</tr>
						<tr th:if="${schuelerklausur.kursklausur().istMdlPruefung()}">
							<td></td>
							<td class="cell-small-grey p-tb-0 p-lr-1 ta-l"></td>
							<td colspan="7" class="cell-small-grey p-tb-0 p-lr-1 ta-l">Hinweis: Mündliche Prüfung.</td>
						</tr>
						<tr th:if="${(schuelerklausur.bemerkung() != null && !schuelerklausur.bemerkung().isEmpty())}">
							<td></td>
							<td></td>
							<td colspan="7" class="cell-small-grey p-tb-0 p-lr-1 ta-l" th:text="${'Bemerkung: ' + schuelerklausur.bemerkung()}">Bemerkungen zur Klausur des Kurses.</td>
						</tr>
						</tbody>
					</table>
				</th:block>
			</div>
		</th:block>
	</body>
</html>
