<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Klausurtermine mit Kursen</title>
	<link rel="stylesheet" href="GostKlausurplanungKlausurtermineMitKursen.css"/>
</head>

<body>
<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
<div class="pageTopLeft" th:utext="${Schule.bezeichnungSchuleMehrzeiligHtml}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
<div class="pageTopRight"
	 th:utext="'Klausurplanung ' + ${Schule.auswahlSchuljahresabschnitt().textSchuljahresabschnittKurz()} + '<br/>Schulnummer: ' + ${Schule.schulnummer()}">
	Klausurplanung<br/><br/>Schulnummer: 123456
</div>
<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}">Gedruckt am: 02.02.2022</div>
<div class="pageBottomRight"><span class="counter-print">Seite </span></div>
<!--Ende: Definition Seitenköpfe und Seitenfüße -->

<table class="fixed-layout-100 no-space-pad">
	<tr>
		<td class="bob-grey"><h2 th:text="'Klausurplan ' + ${Schule.auswahlSchuljahresabschnitt().textSchuljahresabschnittLang()}">Klausurplan 2024/25 1.
			Halbjahr</h2></td>
	</tr>
</table>
<th:block th:each="datum,itStatDatum : ${GostKlausurplan.datumsangabenKlausurtermine()}">
	<table class="fixed-layout-100 no-space-pad">
		<colgroup>
			<col style="width: 6%;"/>
			<col style="width: 8%;"/>
			<col style="width: 11%;"/>
			<col style="width: 35%;"/>
			<col style="width: 40%;"/>
		</colgroup>
		<thead>
		<tr>
			<td colspan="5" class="pad-top bob-grey"><h3 th:text="${#convert.toDateDEWochentag(datum)} + ', ' + ${#convert.toDateDE(datum)}">15.03.2024</h3>
			</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="termin,itStatTermin : ${GostKlausurplan.klausurtermineZumDatum(datum)}">
			<td colspan="5">
				<table class="fixed-layout-100 no-space-pad">
					<colgroup>
						<col style="width: 6%;"/>
						<col style="width: 6%;"/>
						<col style="width: 13%;"/>
						<col style="width: 35%;"/>
						<col style="width: 40%;"/>
					</colgroup>
					<thead>
					<tr>
						<td class="bob-grey" th:text="${termin.gostHalbjahr().kuerzel}">Q2.2</td>
						<td colspan="2" class="bob-grey" th:text="${termin.startuhrzeit() + ' Uhr'}">Uhrzeit</td>
						<td colspan="2" class="bob-grey" th:text="${termin.bezeichnung()}">Bezeichnung</td>
					</tr>
					<tr th:if="${!termin.rauemeUndStunden().isEmpty()}">
						<td></td>
						<td colspan="4" class="bob-grey beschriftung ta-l" th:text="${'Räume und Stunden:' + termin.rauemeUndStunden()}">Räume und Stunden: 1.02 (1.-4.), 2.13 (3.-4.)</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="4" class="beschriftung ta-l" th:text="${(termin.bemerkung() == null || termin.bemerkung().isEmpty()) ? '' : 'Bemerkung: ' + termin.bemerkung()}">Bemerkung: Der Text mit Bemerkungen zum Klausurtermin</td>
					</tr>
					<tr>
						<td style="height: 2mm"></td>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${!termin.kursklausuren().isEmpty()}">
						<td></td>
						<td colspan="4">
							<table class="fixed-layout-100 no-space-pad">
								<colgroup>
									<col style="width: 17%;"/>
									<col style="width: 17%;"/>
									<col style="width: 15%;"/>
									<col style="width: 13%;"/>
									<col style="width: 13%;"/>
									<col style="width: 12%;"/>
									<col style="width: 13%;"/>
								</colgroup>
								<thead>
								<tr>
									<td class="spaltenkopf">Kurs</td>
									<td class="spaltenkopf">Lehrkraft</td>
									<td class="spaltenkopf">Anzahl</td>
									<td class="spaltenkopf">Beginn</td>
									<td class="spaltenkopf ta-r">Dauer</td>
									<td class="spaltenkopf ta-r">Auswahlzeit</td>
									<td class="spaltenkopf ta-r">Medien</td>
								</tr>
								</thead>
								<tbody>
								<th:block th:each="kursklausur,itStatKursklausur : ${termin.kursklausuren()}">
									<tr>
										<td class="bot-grey pad-1001" th:text="${kursklausur.kurs().kuerzel()}">GE-GK2</td>
										<td class="bot-grey pad-1001" th:text="${kursklausur.kurs().kursLehrer().kuerzel()}">ABC</td>
										<td class="bot-grey pad-1001"
											th:text="${kursklausur.anzahlSchuelerKlausur() + ' / ' + kursklausur.anzahlSchuelerKurs()}">12/19
										</td>
										<td class="bot-grey pad-1001" th:text="${kursklausur.startuhrzeit() + ' Uhr'}">08:00 Uhr</td>
										<td class="bot-grey pad-1001 ta-r" th:text="${kursklausur.dauer() + ' Min.'}">180 Min.</td>
										<td class="bot-grey pad-1001 ta-r" th:text="${kursklausur.auswahlzeit() + ' Min.'}">30 Min.</td>
										<td class="bot-grey pad-1001 ta-r"
											th:text="${(kursklausur.istAudioNotwendig() ? 'Audio' : '') + (kursklausur.istVideoNotwendig() ? 'Video' : '')}">
											Audio
										</td>
									</tr>
									<tr th:if="${kursklausur.istMdlPruefung()}">
										<td></td>
										<td colspan="6" class="beschriftung ta-l">Hinweis: Mündliche Prüfung.</td>
									</tr>
									<tr th:if="${(kursklausur.bemerkung() != null)}">
										<td></td>
										<td colspan="6" class="beschriftung ta-l" th:text="${'Bemerkung: ' + kursklausur.bemerkung()}">Bemerkungen zur Klausur
											des Kurses.
										</td>
									</tr>
								</th:block>
								</tbody>
								<!-- hier kommen noch die Schüler hin -->
							</table>
						</td>
					</tr>
					<tr>
						<td style="height: 5mm"></td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</th:block>
</body>
</html>
