<html lang="de" xmlns:th="http://www.thymeleaf.org">
	<head th:with="mediaPrint = ${Parameter.ausgabeformat == 2}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Klassenliste mit Schülerstammdaten</title>
		<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-pdf.css}" href="../css/reporting-pdf.css" />
		<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-A4-hoch-koepfe-fuesse.css}" href="../css/reporting-A4-hoch-koepfe-fuesse.css" />
		<link rel="stylesheet" th:href="@{css/reporting-styles.css}" href="../css/reporting-styles.css" />
		<link rel="stylesheet" th:href="@{klassen/KlasseSchuelerStammdatenliste.css}" href="../klassen/KlasseSchuelerStammdatenliste.css" />
	</head>

	<body th:with="mediaPrint = ${Parameter.ausgabeformat == 2}">
		<div class="reset-page-counter start-new-page-duplex" th:each="klasse,iterationVarKlasse : ${Klassen}">
			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<th:block th:if="${mediaPrint}">
				<div class="pageTopLeft" th:utext="${Schule.bezeichnungSchuleMehrzeiligHtml}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
				<div class="pageTopRight" th:utext="'Klasse: ' + ${klasse.kuerzel()} + '<br/>Klassenleitung: ' + ${(klasse.auflistungKlassenleitung() != '') ? klasse.auflistungKlassenleitung() : '---'} + '<br/>Schulnummer: ' + ${Schule.schulnummer()}">Kurs: GE-GK2<br/><br/>Schulnummer: 123456</div>
				<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}">Gedruckt am: 02.02.2022</div>
				<div class="pageBottomRight"><span class="page-nums-print">Seite </span></div>
			</th:block>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<table class="fixed-100 p-0">
				<colgroup>
					<col style="width: 14%;" />
					<col style="width: 2%;" />
					<col style="width: 20%;" />
					<col style="width: 2%;" />
					<col style="width: 10%;" />
					<col style="width: 2%;" />
					<col style="width: 10%;" />
					<col style="width: 2%;" />
					<col style="width: 38%;" />
				</colgroup>
				<thead>
				<tr>
					<td colspan="9" class="bo-b-grey"><h2>Klassenliste</h2></td>
				</tr>
				</thead>
				<tbody>
				<tr><td colspan="9" class="p-t-25of100"></td></tr>
				<tr>
					<td class="f-bold ta-lb" th:text="${klasse.kuerzel()}">06C</td>
					<td></td>
					<td class="f-bold ta-lb" th:text="${klasse.auflistungKlassenleitung()}">ABC</td>
					<td></td>
					<td class="f-bold ta-lb" th:text="${klasse.jahrgang().kuerzel()}">06</td>
					<td></td>
					<td class="f-small ta-cb" th:text="${klasse.schueler().size()}">27</td>
					<td></td>
					<td class="f-small ta-lb" th:text="${klasse.beschreibung()}">Streicherklasse</td>
				</tr>
				<tr>
					<td class="cell-small-grey">Klasse</td>
					<td></td>
					<td class="cell-small-grey">Klassenleitung</td>
					<td></td>
					<td class="cell-small-grey">Jahrgang</td>
					<td></td>
					<td class="cell-small-grey ta-c">Anzahl SuS.</td>
					<td></td>
					<td class="cell-small-grey">Beschreibung</td>
				</tr>
				<tr><td colspan="9" class="p-b-25of100"></td></tr>
				</tbody>
			</table>

			<table class="fixed-100 p-0">
				<colgroup>
					<col style="width: 4%;"/>
					<col style="width: 14%;"/>
					<col style="width: 16%;"/>
					<col style="width: 4%;"/>
					<col style="width: 10%;"/>
					<col style="width: 6%;"/>
					<col style="width: 24%;"/>
					<col style="width: 8%;"/>
					<col style="width: 14%;"/>
				</colgroup>
				<thead>
				<tr>
					<td class="head-small-grey"></td>
					<td class="head-small-grey">Name</td>
					<td class="head-small-grey">Vorname</td>
					<td class="head-small-grey ta-c">Ges.</td>
					<td class="head-small-grey">Geb. am</td>
					<td class="head-small-grey ta-c">Vollj.</td>
					<td class="head-small-grey">Straße</td>
					<td class="head-small-grey ta-r">PLZ</td>
					<td class="head-small-grey">Ort</td>
				</tr>
				</thead>
				<tbody th:each="schueler,iterationVarSchueler : ${klasse.schueler()}" th:classappend="${iterationVarSchueler.odd} ? 'bg-lightgrey'">
				<tr>
					<td class="f-tiny head-black-lines ta-r" th:text="${iterationVarSchueler.count + '. '}">1. </td>
					<td class="f-small head-black-lines" th:text="${schueler.nachname()}">Mustermann</td>
					<td class="f-small head-black-lines" th:text="${(Parameter.detailLevel % 2) == 1 ? schueler.vorname() : schueler.vornamen()}">Maximilian Moritz</td>
					<td class="f-small head-black-lines ta-c" th:text="${schueler.geschlecht().kuerzel}">m</td>
					<td class="f-small head-black-lines" th:text="${#convert.toDateDE(schueler.geburtsdatum())}">07.08.2010</td>
					<td class="f-small head-black-lines ta-c" th:text="${schueler.istVolljaehrig() ? 'ja' : 'nein'}">nein</td>
					<td class="f-small head-black-lines" th:text="${schueler.strassennameHausnummer()}">Musterstraße 13a</td>
					<td class="f-small head-black-lines ta-r" th:text="${schueler.wohnort() != null ? schueler.wohnort().plz : ''}">12345</td>
					<td class="f-small head-black-lines" th:text="${schueler.wohnort() != null ? schueler.wohnort().ortsname : ''}">Musterstadt</td>
				</tr>
				<th:block th:if="${Parameter.detailLevel >= 2 && schueler.erzieher() != null}">
					<tr><td colspan="9" class="f-tiny" style="height: 1mm;"></td></tr>
					<tr th:each="erziehergruppe,iterationVarErzieherGruppe : ${schueler.erzieherArtGruppen()}">
						<td class="f-tiny"></td>
						<td class="f-tiny p-tb-0-lr-1 f-ital t-ar " th:classappend="${!iterationVarErzieherGruppe.last} ? 'bo-b-grey'" th:text="${erziehergruppe.bezeichnung()}">Eltern</td>
						<td colspan="4" class="f-tiny p-tb-0-lr-1" th:classappend="${!iterationVarErzieherGruppe.last} ? 'bo-b-grey'" th:text="${erziehergruppe.vornameNachnameMitTitel()}">Dr. Erika und Norbert Mustermann</td>
						<td class="f-tiny p-tb-0-lr-1" th:classappend="${!iterationVarErzieherGruppe.last} ? 'bo-b-grey'" th:text="${erziehergruppe.strassennameHausnummer()}">Musterstraße 13a</td>
						<td class="f-tiny p-tb-0-lr-1 ta-r" th:classappend="${!iterationVarErzieherGruppe.last} ? 'bo-b-grey'" th:text="${erziehergruppe.plz()}">12345</td>
						<td class="f-tiny p-tb-0-lr-1" th:classappend="${!iterationVarErzieherGruppe.last} ? 'bo-b-grey'" th:text="${erziehergruppe.wohnortname()}">Musterstadt</td>
					</tr>
					<tr><td colspan="9" class="f-tiny p-tb-0-lr-1" style="height: 1mm;"></td></tr>
				</th:block>
				</tbody>
			</table>
		</div>
	</body>
</html>
