<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:with="mediaPrint = ${Parameter.ausgabeformat == 2}">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>NRW - Anlage 12 - Zeugnis der allgemeinen Hochschulreife</title>
	<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-pdf.css}" href="../../../../css/reporting-pdf.css" />
	<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-A4-hoch-randlos.css}" href="../../../../css/reporting-A4-hoch-randlos.css" />
	<link rel="stylesheet" th:href="@{css/reporting-styles.css}" href="../../../../css/reporting-styles.css" />
	<link rel="stylesheet" th:href="@{schueler/gost/abitur/apo/SchuelerGostAbiturApoAnlage12.css}" href="../../../../schueler/gost/abitur/apo/SchuelerGostAbiturApoAnlage12.css" />
</head>

<body>
<div th:each="schueler,iterationVarSchueler : ${Schueler}"
	 th:with="schuljahr = ${schueler.gostAbitur().abiturSchuljahr()}, abiturLernabschnitt = ${schueler.aktiverLernabschnittInSchuljahresabschnitt(schueler.gostAbitur().abiturSchuljahresabschnitt())}">
	<table class="fixed-100 mp-0 start-new-page">
		<tr>
			<td style="height: 6mm; "></td>
		</tr>
		<tr>
			<td class="bo-black p-4">
				<table  class="fixed-100 mp-0">
					<tr>
						<td style="width: 100%; height: 55mm"></td>
					</tr>
					<tr>
						<td style="width: 100%; height: 32mm" class="ta-cm p-l-4 p-r-4">
							<img style="height: 32mm" th:src="@{'data:image/png;base64,'+${Schule.schullogo()}}"  alt="Schullogo"/>
						</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 20mm; font-size: 24pt; " class="f-bold ta-cb">Z E U G N I S</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 13mm; font-size: 20pt; " class="f-bold ta-cb">DER ALLGEMEINEN HOCHSCHULREIFE</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 16mm; font-size: 16pt; " class="f-bold ta-cb" th:text="${schueler.vornamenNachname()}">Anna Mustermann</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 5mm" class="ta-ct p-l-4 p-r-4" th:text="${'(' + schueler.religion().bezeichnungZeugnis + ')'}">(Konfession)</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 15mm; font-size: 12pt; " class="ta-cb" th:text="${'geboren am ' + #convert.toDateDELong(schueler.geburtsdatum())  + ' in ' + schueler.wohnort().ortsname}">geboren am 31. September 2006 in Musterstadt am Rhein</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 13mm; font-size: 12pt; " class="ta-cb" th:text="${'wohnhaft in ' + schueler.geburtsort()}">wohnhaft in Musterstadt am Rhein</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 13mm; font-size: 12pt; " class="ta-cb">hat sich nach dem Besuch der gymnasialen Oberstufe der Abiturprüfung unterzogen.</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 84mm" class="p-4 ta-cb">
							<p style="margin-bottom: 1em" class="f-tiny">Dem Zeugnis liegen zugrunde:</p>
							<p style="margin-bottom: 1em" class="f-tiny">Vereinbarung zur Gestaltung der gymnasialen Oberstufe und der Abiturprüfung<br/>
								(Beschluss der Kultusministerkonferenz vom 7. Juli 1972 in der jeweils geltenden Fassung)</p>
							<p style="margin-bottom: 1em" class="f-tiny">Bildungsstandards für die Allgemeine Hochschulreife und Vereinbarungen über die Einheitlichen Prüfungsanforderungen in der
								Abiturprüfung</p>
							<p class="f-tiny">Verordnung über den Bildungsgang und die Abiturprüfung in der gymnasialen Oberstufe - APO-GOSt - vom 5. Oktober 1998 in der jeweils
								geltenden Fassung (BASS 13-32 Nr. 3.1)</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table class="fixed-100 mp-0 start-new-page">
		<tr>
			<td style="width: 100%; height: 6mm">
				<span class="f-small" th:text="${'2. Seite des Zeugnisses der allgemeinen Hochschulreife für ' + schueler.vornamenNachname()}">2. Seite des Zeugnisses der allgemeinen Hochschulreife für Anna Mustermann</span>
			</td>
		</tr>
		<tr>
			<td class="bo-black p-4">
				<table  class="fixed-100 mp-0">
					<tr>
						<td style="width: 100%; height: 5mm" class="ta-lt f-bold">
							Block I: Ergebnisse in der Qualifikationsphase
						</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 226mm" class="ta-ct">
							<table  class="fixed-100 mp-0">
								<colgroup>
									<col style="width: 50%" />
									<col style="width: 12.5%" />
									<col style="width: 12.5%" />
									<col style="width: 12.5%" />
									<col style="width: 12.5%" />
								</colgroup>
								<tr>
									<td rowspan="3" class="p-2 ta-lm bo-black">Fach <sup>1)</sup></td>
									<td colspan="4" class="p-2 ta-cm bo-black">Bewertung <sup>2)</sup><br/>Halbjahresergebnisse in einfacher Wertung</td>
								</tr>
								<tr>
									<td colspan="2" class="p-2 ta-cm bo-black">1. Jahr der<br/>Qualifikationsphase (Q1)</td>
									<td colspan="2" class="p-2 ta-cm bo-black">2. Jahr der<br/>Qualifikationsphase (Q2)</td>
								</tr>
								<tr>
									<td class="p-tb-1 p-lr-2 ta-cm bo-black">1. Halbjahr</td>
									<td class="p-tb-1 p-lr-2 ta-cm bo-black">2. Halbjahr</td>
									<td class="p-tb-1 p-lr-2 ta-cm bo-black">1. Halbjahr</td>
									<td class="p-tb-1 p-lr-2 ta-cm bo-black">2. Halbjahr</td>
								</tr>
								<tr>
									<td colspan="5" style="height: 10mm" class="p-tb-1 p-lr-2 ta-lb bo-black f-bold">Sprachlich-literarisch-künstlerisches Aufgabenfeld</td>
								</tr>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && fachbelegung.fach().istPruefungsordnungsRelevant() && (#strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'D') || #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'FS') || #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'MS') || #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'ME'))}">
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-black" th:text="${(fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis()}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[2] == null || !fachbelegung.halbjahresbelegungen()[2].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[2].block1gewertet() ? fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) + ')')}">06</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[3] == null || !fachbelegung.halbjahresbelegungen()[3].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[3].block1gewertet() ? fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) + ')')}">07</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[4] == null || !fachbelegung.halbjahresbelegungen()[4].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[4].block1gewertet() ? fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) + ')')}">08</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[5] == null || !fachbelegung.halbjahresbelegungen()[5].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[5].block1gewertet() ? fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) + ')')}">09</td>
									</tr>
								</th:block>
								<tr>
									<td colspan="5" style="height: 10mm" class="p-tb-1 p-lr-2 ta-lb bo-black f-bold">Gesellschaftswissenschaftliches Aufgabenfeld</td>
								</tr>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && fachbelegung.fach().istPruefungsordnungsRelevant() && (#strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'GS')  || #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'PL') )}">
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-black" th:text="${(fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis()}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[2] == null || !fachbelegung.halbjahresbelegungen()[2].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[2].block1gewertet() ? fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) + ')')}">06</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[3] == null || !fachbelegung.halbjahresbelegungen()[3].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[3].block1gewertet() ? fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) + ')')}">07</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[4] == null || !fachbelegung.halbjahresbelegungen()[4].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[4].block1gewertet() ? fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) + ')')}">08</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[5] == null || !fachbelegung.halbjahresbelegungen()[5].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[5].block1gewertet() ? fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) + ')')}">09</td>
									</tr>
								</th:block>
								<tr>
									<td colspan="5" style="height: 10mm" class="p-tb-1 p-lr-2 ta-lb bo-black f-bold">Mathematisch-naturwissenschaftlich-technisches Aufgabenfeld</td>
								</tr>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && fachbelegung.fach().istPruefungsordnungsRelevant() && (#strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'M')  || #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'NW')  || #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'WN') )}">
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-black" th:text="${(fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis()}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[2] == null || !fachbelegung.halbjahresbelegungen()[2].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[2].block1gewertet() ? fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) + ')')}">06</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[3] == null || !fachbelegung.halbjahresbelegungen()[3].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[3].block1gewertet() ? fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) + ')')}">07</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[4] == null || !fachbelegung.halbjahresbelegungen()[4].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[4].block1gewertet() ? fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) + ')')}">08</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[5] == null || !fachbelegung.halbjahresbelegungen()[5].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[5].block1gewertet() ? fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) + ')')}">09</td>
									</tr>
								</th:block>
								<tr>
									<td colspan="5" style="height: 10mm" class="p-tb-1 p-lr-2 ta-lb bo-black"></td>
								</tr>
								<th:block th:if="${schueler.gostAbitur().religionVorhanden()}">
									<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
										<tr th:if="${fachbelegung.fach().aufZeugnis() && fachbelegung.fach().istPruefungsordnungsRelevant() && #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'RE')}">
											<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-black" th:text="${(fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis()}">Fachbezeichnung</td>
											<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[2] == null || !fachbelegung.halbjahresbelegungen()[2].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[2].block1gewertet() ? fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) + ')')}">06</td>
											<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[3] == null || !fachbelegung.halbjahresbelegungen()[3].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[3].block1gewertet() ? fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) + ')')}">07</td>
											<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[4] == null || !fachbelegung.halbjahresbelegungen()[4].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[4].block1gewertet() ? fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) + ')')}">08</td>
											<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[5] == null || !fachbelegung.halbjahresbelegungen()[5].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[5].block1gewertet() ? fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) + ')')}">09</td>
										</tr>
									</th:block>
									<tr>
										<td colspan="5" style="height: 4mm" class="p-tb-1 p-lr-2 ta-lb bo-black"></td>
									</tr>
								</th:block>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && fachbelegung.fach().istPruefungsordnungsRelevant() && #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'SP')}">
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-black" th:text="${(fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis()}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[2] == null || !fachbelegung.halbjahresbelegungen()[2].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[2].block1gewertet() ? fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) + ')')}">06</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[3] == null || !fachbelegung.halbjahresbelegungen()[3].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[3].block1gewertet() ? fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) + ')')}">07</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[4] == null || !fachbelegung.halbjahresbelegungen()[4].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[4].block1gewertet() ? fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) + ')')}">08</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[5] == null || !fachbelegung.halbjahresbelegungen()[5].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[5].block1gewertet() ? fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) + ')')}">09</td>
									</tr>
								</th:block>
								<tr>
									<td colspan="5" style="height: 4mm" class="p-tb-1 p-lr-2 ta-lb bo-black f-bold"></td>
								</tr>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${schueler.gostAbitur().projektkursVorhanden() && fachbelegung.fach().aufZeugnis() && fachbelegung.fach().istPruefungsordnungsRelevant() && #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'PX')}">
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-t-black bo-lr-black"><b>Projektkurs</b> <sup>3)</sup></td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[2] == null || !fachbelegung.halbjahresbelegungen()[2].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[2].block1gewertet() ? fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[2].note().getNotenpunkteZweistellig(schuljahr) + ')')}">06</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[3] == null || !fachbelegung.halbjahresbelegungen()[3].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[3].block1gewertet() ? fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[3].note().getNotenpunkteZweistellig(schuljahr) + ')')}">07</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[4] == null || !fachbelegung.halbjahresbelegungen()[4].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[4].block1gewertet() ? fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[4].note().getNotenpunkteZweistellig(schuljahr) + ')')}">08</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[5] == null || !fachbelegung.halbjahresbelegungen()[5].block1kursAufZeugnis()) ? '--' : (fachbelegung.halbjahresbelegungen()[5].block1gewertet() ? fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) : '(' + fachbelegung.halbjahresbelegungen()[5].note().getNotenpunkteZweistellig(schuljahr) + ')')}">09</td>
									</tr>
								</th:block>
								<tr th:if="${schueler.gostAbitur().projektkursVorhanden()}">
									<td colspan="5" style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-b-black bo-lr-black f-ital" th:text="${'Thema: ' + schueler.gostAbitur().projektkursThema()}">Thema: Das Thema des Projektkurses aus den fachbezogenen Bemerkungen zum Projektkurs.</td>
								</tr>
								<tr th:if="${!schueler.gostAbitur().projektkursVorhanden()}">
									<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-t-black bo-lr-black"><b>Projektkurs</b> <sup>3)</sup></td>
									<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black">--</td>
									<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black">--</td>
									<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black">--</td>
									<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black">--</td>
								</tr>
								<tr th:if="${!schueler.gostAbitur().projektkursVorhanden()}">
									<td colspan="5" style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-b-black bo-lr-black f-ital">Thema: ---</td>
								</tr>
								<tr>
									<td colspan="5" style="height: 10mm" class="p-tb-1 p-lr-2 ta-lb bo-black"><b>Vertiefungsfächer</b></td>
								</tr>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && fachbelegung.fach().istPruefungsordnungsRelevant() && schueler.gostAbitur().vertiefungskursVorhanden() && #strings.equals(fachbelegung.fach().fachgruppe().daten(schuljahr).kuerzel, 'VX')}">
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-black" th:text="${fachbelegung.fach().bezeichnungZeugnis()}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[2] == null || !fachbelegung.halbjahresbelegungen()[2].block1kursAufZeugnis()) ? '--' : 'teilg.'}">teilg.</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[3] == null || !fachbelegung.halbjahresbelegungen()[3].block1kursAufZeugnis()) ? '--' : 'teilg.'}">teilg.</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[4] == null || !fachbelegung.halbjahresbelegungen()[4].block1kursAufZeugnis()) ? '--' : 'teilg.'}">teilg.</td>
										<td style="height: 7mm" class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(fachbelegung.halbjahresbelegungen()[5] == null || !fachbelegung.halbjahresbelegungen()[5].block1kursAufZeugnis()) ? '--' : 'teilg.'}">teilg.</td>
									</tr>
								</th:block>
								<tr th:if="${!schueler.gostAbitur().vertiefungskursVorhanden()}">
									<td colspan="5" style="height: 7mm" class="p-tb-1 p-lr-2 ta-lm bo-black">- keine -</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<table>
					<tr>
						<td style="width: 20%; height: 1mm;" class="bo-t-black"></td>
						<td colspan="4" style="width: 80%; height: 1mm;"></td>
					</tr>
					<tr>
						<td colspan="5" style="width: 100%; height: 36mm" class="f-small ta-lt fixed-100">
							<table>
								<colgroup>
									<col style="width: 2%" />
									<col style="width: 98%" />
								</colgroup>
								<tr>
									<td class="ta-lt"><sup>1) </sup></td>
									<td class="ta-lt">Leistungskursfächer werden mit dem Klammerzusatz „LK/eA“ (Leistungskurs/erhöhtes Anforderungsniveau) gekennzeichnet. Grundkurse bleiben ohne besondere Kennzeichnung.</td>
								</tr>
								<tr>
									<td class="ta-lt"><sup>2) </sup></td>
									<td class="ta-lt">Für die Umsetzung der Noten in Punkte gilt:</td>
								</tr>
								<tr>
									<td class="ta-lt"></td>
									<td style="padding-left: 0.5mm; padding-top: 1mm; padding-bottom: 1mm" class="ta-cm">
										<table class="fixed-100 m-0">
											<colgroup>
												<col style="width: 14.5%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
												<col style="width: 4.75%" />
											</colgroup>
											<tr>
												<td rowspan="2" class="bo-black">Noten</td>
												<td colspan="3" class="bo-black">sehr gut</td>
												<td colspan="3" class="bo-black">gut</td>
												<td colspan="3" class="bo-black">befriedigend</td>
												<td colspan="3" class="bo-black">ausreichend</td>
												<td colspan="3" class="bo-black">mangelhaft</td>
												<td colspan="3" class="bo-black">ungenügend</td>
											</tr>
											<tr>
												<td class="bo-l-black bo-tb-black">+</td>
												<td class="bo-tb-black">1</td>
												<td class="bo-r-black bo-tb-black">-</td>
												<td class="bo-l-black bo-tb-black">+</td>
												<td class="bo-tb-black">2</td>
												<td class="bo-r-black bo-tb-black">-</td>
												<td class="bo-l-black bo-tb-black">+</td>
												<td class="bo-tb-black">3</td>
												<td class="bo-r-black bo-tb-black">-</td>
												<td class="bo-l-black bo-tb-black">+</td>
												<td class="bo-tb-black">4</td>
												<td class="bo-r-black bo-tb-black">-</td>
												<td class="bo-l-black bo-tb-black">+</td>
												<td class="bo-tb-black">5</td>
												<td class="bo-r-black bo-tb-black">-</td>
												<td class="bo-l-black bo-tb-black"></td>
												<td class="bo-tb-black">6</td>
												<td class="bo-r-black bo-tb-black"></td>
											</tr>
											<tr>
												<td class="bo-black">Punkte</td>
												<td class="bo-l-black bo-tb-black">15</td>
												<td class="bo-tb-black">14</td>
												<td class="bo-r-black bo-tb-black">13</td>
												<td class="bo-l-black bo-tb-black">12</td>
												<td class="bo-tb-black">11</td>
												<td class="bo-r-black bo-tb-black">10</td>
												<td class="bo-l-black bo-tb-black">09</td>
												<td class="bo-tb-black">08</td>
												<td class="bo-r-black bo-tb-black">07</td>
												<td class="bo-l-black bo-tb-black">06</td>
												<td class="bo-tb-black">05</td>
												<td class="bo-r-black bo-tb-black">04</td>
												<td class="bo-l-black bo-tb-black">03</td>
												<td class="bo-tb-black">02</td>
												<td class="bo-r-black bo-tb-black">01</td>
												<td class="bo-l-black bo-tb-black"></td>
												<td class="bo-tb-black">00</td>
												<td class="bo-r-black bo-tb-black"></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class="ta-lt"></td>
									<td class="ta-lt">Die Punktzahlen in Klammern sind nicht in die Gesamtqualifikation einbezogen worden. Punktzahlen werden in einfacher Wertung und stets zweistellig angegeben.</td>
								</tr>
								<tr>
									<td class="ta-lt"><sup>3) </sup></td>
									<td class="ta-lt">Wird der Projektkurs als besondere Lernleistung eingebracht, wird hier nur die Belegung ausgewiesen.</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table class="fixed-100 mp-0 start-new-page">
		<tr>
			<td style="width: 100%; height: 6mm">
				<span class="f-small" th:text="${'3. Seite des Zeugnisses der allgemeinen Hochschulreife für ' + schueler.vornamenNachname()}">3. Seite des Zeugnisses der allgemeinen Hochschulreife für Anna Mustermann</span>
			</td>
		</tr>
		<tr>
			<td class="bo-black p-4">
				<table  class="fixed-100 mp-0">
					<tr>
						<td style="width: 100%; height: 5mm" class="ta-lt f-bold">
							Block II: Ergebnisse der Abiturprüfung
						</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 226mm" class="ta-ct">
							<table  class="fixed-100 mp-0">
								<colgroup>
									<col style="width: 60%" />
									<col style="width: 20%" />
									<col style="width: 20%" />
								</colgroup>
								<tr>
									<td rowspan="2" class="p-tb-1 p-lr-2 ta-lb bo-black">Prüfungsfach <sup>4)</sup></td>
									<td colspan="2" class="p-tb-1 p-lr-2 ta-cm bo-black">Prüfungsergebnis in einfacher Wertung</td>
								</tr>
								<tr>
									<td class="p-tb-1 p-lr-2 ta-cm bo-black">schriftlich</td>
									<td class="p-tb-1 p-lr-2 ta-cm bo-black">mündlich</td>
								</tr>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && (fachbelegung.abiturFach() != null && fachbelegung.abiturFach() == 1)}">
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-lm bo-black" th:text="${'1. ' + ((fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis())}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-cm bo-black" th:text="${fachbelegung.block2PruefungNote().getNotenpunkteZweistellig(schuljahr) == null ? '--' : fachbelegung.block2PruefungNote().getNotenpunkteZweistellig(schuljahr)}">06</td>
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-cm bo-black" th:text="${fachbelegung.block2MuendlichePruefungNote().getNotenpunkteZweistellig(schuljahr) == null ? '--' : fachbelegung.block2MuendlichePruefungNote().getNotenpunkteZweistellig(schuljahr)}">07</td>
									</tr>
								</th:block>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && (fachbelegung.abiturFach() != null && fachbelegung.abiturFach() == 2)}">
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-lm bo-black" th:text="${'2. ' + ((fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis())}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-cm bo-black" th:text="${fachbelegung.block2PruefungNote().getNotenpunkteZweistellig(schuljahr) == null ? '--' : fachbelegung.block2PruefungNote().getNotenpunkteZweistellig(schuljahr)}">06</td>
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-cm bo-black" th:text="${fachbelegung.block2MuendlichePruefungNote().getNotenpunkteZweistellig(schuljahr) == null ? '--' : fachbelegung.block2MuendlichePruefungNote().getNotenpunkteZweistellig(schuljahr)}">07</td>
									</tr>
								</th:block>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && (fachbelegung.abiturFach() != null && fachbelegung.abiturFach() == 3)}">
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-lm bo-black" th:text="${'3. ' + ((fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis())}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-cm bo-black" th:text="${fachbelegung.block2PruefungNote().getNotenpunkteZweistellig(schuljahr) == null ? '--' : fachbelegung.block2PruefungNote().getNotenpunkteZweistellig(schuljahr)}">06</td>
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-cm bo-black" th:text="${fachbelegung.block2MuendlichePruefungNote().getNotenpunkteZweistellig(schuljahr) == null ? '--' : fachbelegung.block2MuendlichePruefungNote().getNotenpunkteZweistellig(schuljahr)}">07</td>
									</tr>
								</th:block>
								<th:block th:each="fachbelegung : ${schueler.gostAbitur().fachbelegungen()}">
									<tr th:if="${fachbelegung.fach().aufZeugnis() && (fachbelegung.abiturFach() != null && fachbelegung.abiturFach() == 4)}">
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-lm bo-black" th:text="${'4. ' + ((fachbelegung.abiturFach() != null && fachbelegung.abiturFach() <= 2) ? fachbelegung.fach().bezeichnungZeugnis() + ' (LK/eA)' : fachbelegung.fach().bezeichnungZeugnis())}">Fachbezeichnung</td>
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-cm bo-black">--</td>
										<td style="height: 7mm" class="p-tb-3 p-lr-2 ta-cm bo-black" th:text="${fachbelegung.block2PruefungNote().getNotenpunkteZweistellig(schuljahr) == null ? '--' : fachbelegung.block2PruefungNote().getNotenpunkteZweistellig(schuljahr)}">06</td>
									</tr>
								</th:block>
							</table>
						</td>
					</tr>
				</table>
				<table>
					<tr>
						<td style="width: 20%; height: 1mm;" class="bo-t-black"></td>
						<td colspan="4" style="width: 80%; height: 1mm;"></td>
					</tr>
					<tr>
						<td colspan="5" style="width: 100%; height: 36mm" class="f-small ta-lt fixed-100">
							<table>
								<colgroup>
									<col style="width: 2%" />
									<col style="width: 98%" />
								</colgroup>
								<tr>
									<td class="ta-lt"><sup>4) </sup></td>
									<td class="ta-lt">Leistungskursfächer werden mit dem Klammerzusatz „LK/eA“ (Leistungskurs/erhöhtes Anforderungsniveau) gekennzeichnet. Die Ergebnisse der Leistungskursfächer werden in Block I doppelt gewichtet.</td>
								</tr>
								<tr>
									<td class="ta-lt"><sup>5) </sup></td>
									<td class="ta-lt">Eine besondere Lernleistung kann als 5. Prüfungselement angerechnet werden (Nummer 9.3.5 der „Vereinbarung zur Gestaltung der gymnasialen	Oberstufe und der Abiturprüfung“, Beschluss der Kultusministerkonferenz vom 07.07.1972 in der jeweils geltenden Fassung).</td>
								</tr>
								<tr>
									<td class="ta-lt"><sup>6) </sup></td>
									<td class="ta-lt">Bei der Bildung des Gesamtergebnisses wird auf eine ganzzahlige Punktzahl gerundet; dabei wird ab der Dezimalen 5 aufgerundet.</td>
								</tr>
								<tr>
									<td class="ta-lt"><sup>7) </sup></td>
									<td class="ta-lt">Wird zusätzlich eine besondere Lernleistung eingebracht, werden die Prüfungsfächer nur 4-fach gewertet.</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table class="fixed-100 mp-0 start-new-page">
		<tr>
			<td style="width: 100%; height: 6mm">
				<span class="f-small" th:text="${'4. Seite des Zeugnisses der allgemeinen Hochschulreife für ' + schueler.vornamenNachname()}">4. Seite des Zeugnisses der allgemeinen Hochschulreife für Anna Mustermann</span>
			</td>
		</tr>
		<tr>
			<td class="bo-black p-4">
				<table class="fixed-100 mp-0">
					<tr>
						<td style="width: 100%; height: 123mm;" class="ta-lt">
							<table class="fixed-100 mp-0">
								<tr>
									<td style="width: 100%; height: 5mm" class="ta-lt">
										<span class="f-bold">Fremdsprachen</span> <sup>8)</sup>
									</td>
								</tr>
								<tr>
									<td>
										<table class="fixed-100 mp-0">
											<colgroup>
												<col style="width: 46%" />
												<col style="width: 18%" />
												<col style="width: 18%" />
												<col style="width: 18%" />
											</colgroup>
											<tr>
												<td class="p-tb-1 p-lr-2 f-bold ta-lm bo-black">Fach</td>
												<td colspan="2" class="p-tb-1 p-lr-2 f-bold ta-cm bo-black">Jahrgangsstufe</td>
												<td class="p-tb-1 p-lr-2 ta-cm f-bold bo-black">GeR</td>
											</tr>
											<th:block th:each="sprachbelegung : ${schueler.sprachbelegungen()}">
												<tr>
													<td class="p-tb-1 p-lr-2 ta-lm bo-black" th:text="${(sprachbelegung.statistikfach().fach() != null) ? sprachbelegung.statistikfach().fach().bezeichnungZeugnis() : sprachbelegung.statistikfach().bezeichnung()}">Fachbezeichnung</td>
													<td class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(sprachbelegung.belegungVonJahrgang() == null || sprachbelegung.belegungVonJahrgang().isEmpty()) ? '--' : 'von ' + sprachbelegung.belegungVonJahrgang() + ((sprachbelegung.belegungVonAbschnitt() == null || sprachbelegung.belegungVonAbschnitt() < 1) ? '.1' : '.' + sprachbelegung.belegungVonAbschnitt())}">05.1</td>
													<td class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(sprachbelegung.belegungBisJahrgang() == null || sprachbelegung.belegungBisJahrgang().isEmpty()) ? '--' : 'bis ' + sprachbelegung.belegungBisJahrgang() + ((sprachbelegung.belegungBisAbschnitt() == null || sprachbelegung.belegungBisAbschnitt() < 1) ? '.1' : '.' + sprachbelegung.belegungBisAbschnitt())}">Q2.2</td>
													<td class="p-tb-1 p-lr-2 ta-cm bo-black" th:text="${(sprachbelegung.referenzniveau() == null) ? '--' : sprachbelegung.referenzniveau().daten(schuljahr).text}">B2/C1</td>
												</tr>
											</th:block>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										Für die modernen Fremdsprachen schließt dieses Zeugnis Kompetenzen des Gemeinsamen europäischen Referenzrahmens für Sprachen (GeR) ein. <sup>9)</sup>
									</td>
								</tr>
								<tr th:if="${!schueler.alteSprachenQualifikationen().isEmpty()}">
									<td th:text="${'Dieses Zeugnis schließt das ' + schueler.alteSprachenQualifikationen() + ' gemäß „Vereinbarung über das Latinum und das Graecum“ (Beschluss der Kultusministerkonferenz vom 22.09.2005) ein.'}">
										Dieses Zeugnis schließt das Latinum/Graecum/Hebraicum gemäß „Vereinbarung über das Latinum und das Graecum“ (Beschluss der Kultusministerkonferenz vom 22.09.2005) ein.
									</td>
								</tr>
								<tr th:if="${schueler.hatKleinesLatinum()}">
									<td>
										Das Zeugnis schließt Lateinkenntnisse im Umfang eines Kleinen Latinums (BASS 13 - 32 Nr. 3.2) ein.
									</td>
								</tr>
							</table>
							<table class="fixed-100 mp-0">
								<tr>
									<td style="width: 100%; height: 7mm" class="ta-lb">
										<span class="f-bold">Bemerkungen</span> <sup>10)</sup>
									</td>
								</tr>
								<tr>
									<td style="width: 100%;" class="ta-lt" th:text="${(abiturLernabschnitt == null || abiturLernabschnitt.zeugnisBemerkungText().isEmpty()) ? '- keine -' : abiturLernabschnitt.zeugnisBemerkungText()}">
										Eingetragene Zeugnisbemerkungen werden hier ausgegeben oder '- keine -'.
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<table class="fixed-100 mp-0">
					<tr>
						<td style="height: 40mm;" class="ta-lt">
							<table class="fixed-100 mp-0">
								<tr>
									<td style="width: 100%;" class="ta-lt" th:text="${schueler.anredeVornamenNachname() + ' hat die Abiturprüfung bestanden und damit die Berechtigung zum Studium an einer Hochschule in der Bundesrepublik Deutschland erworben.'}">
										Frau/Herr N. N. hat die Abiturprüfung bestanden und damit die Berechtigung zum Studium an einer Hochschule in der Bundesrepublik Deutschland erworben.
									</td>
								</tr>
								<tr>
									<td style="width: 100%;" class="ta-lt">
										Die allgemeine Hochschulreife ist im Deutschen und Europäischen Qualifikationsrahmen dem Niveau 4 zugeordnet.
									</td>
								</tr>
								<tr>
									<td style="width: 100%; height: 14mm;" class="ta-cm" th:text="${Schule.ort() + ', ' + #convert.toDateDELong(schueler.schulbesuch().entlassungDatum())}">
										Ort, Datum
									</td>
								</tr>
								<tr>
									<td style="width: 100%; height: 15mm;" class="ta-cm f-small">
										(Siegel)
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="height: 45mm;" >
							<table class="fixed-100 mp-0">
								<colgroup>
									<col style="width: 40%" />
									<col style="width: 20%" />
									<col style="width: 40%" />
								</colgroup>
								<tr>
									<td style="height: 5mm;" class="ta-cb f-small"></td>
									<td style="height: 5mm;" class="ta-cb f-small"></td>
									<td style="height: 5mm;" class="ta-cb f-small"></td>
								</tr>
								<tr th:if="${((Parameter.detailLevel == 0) || (Schule.schulleitung() == null)) }">
									<td class="bo-t-black ta-ct f-small">
										Vorsitzende/r des Zentralen Abiturausschusses
									</td>
									<td class="ta-ct f-small"></td>
									<td class="bo-t-black ta-ct f-small">
										Schulleiter/in
									</td>
								</tr>
								<tr th:if="${((Parameter.detailLevel > 0) && (Schule.schulleitung() != null))}">
									<td class="bo-t-black ta-ct f-small" th:text="${Schule.schulleitung().unterschriftfeld(true, true)}">
										N. N., OStD
									</td>
									<td class="ta-ct f-small"></td>
									<td class="bo-t-black ta-ct f-small" th:text="${Schule.schulleitung().unterschriftfeld(true, true)}">
										N. N., OStD
									</td>
								</tr>
								<tr th:if="${((Parameter.detailLevel > 0) && (Schule.schulleitung() != null))}">
									<td class="ta-ct f-small" th:text="${Schule.schulleitung().geschlecht().kuerzel.equalsIgnoreCase('W') ? '(Vorsitzende des Zentralen Abiturausschusses)' : (Schule.schulleitung().geschlecht().kuerzel.equalsIgnoreCase('M') ?  '(Vorsitzender des Zentralen Abiturausschusses)' : '(Vorsitz des Zentralen Abiturausschusses)')}">
										(Vorsitzende/r des Zentralen Abiturausschusses)
									</td>
									<td class="ta-ct f-small"></td>
									<td class="ta-ct f-small" th:text="${'(' + Schule.schulleitung().schulleitungsfunktion().bezeichnung() + ')'}">
										(Schulleiter/in)
									</td>
								</tr>
								<tr>
									<td style="height: 14mm;" class="ta-cb f-small"></td>
									<td style="height: 14mm;" class="ta-cb f-small"></td>
									<td style="height: 14mm;" class="ta-cb f-small"></td>
								</tr>
								<tr th:if="${((Parameter.detailLevel == 0) || (abiturLernabschnitt.klasse().klassenleitungen().isEmpty()))}">
									<td class="bo-t-black ta-ct f-small">
										Vertreter/in des Schulträgers
									</td>
									<td class="ta-tm f-small"></td>
									<td class="bo-t-black ta-ct f-small">
										Beratungslehrer/in
									</td>
								</tr>
								<th:block th:if="${((Parameter.detailLevel == 1)  && (!abiturLernabschnitt.klasse().klassenleitungen().isEmpty()))}">
									<tr>
										<td class="bo-t-black ta-ct f-small">
											Vertreter/in des Schulträgers
										</td>
										<td class="ta-tm f-small"></td>
										<td class="bo-t-black ta-ct f-small" th:text="${abiturLernabschnitt.klasse().klassenleitungen().getFirst().unterschriftfeld(true, true)}">
											N. N., OStR
										</td>
									</tr>
									<tr>
										<td class="ta-ct f-small"></td>
										<td class="ta-tm f-small"></td>
										<td class="ta-ct f-small" th:text="${abiturLernabschnitt.klasse().klassenleitungen().getFirst().geschlecht().kuerzel.equalsIgnoreCase('W') ? '(Beratungslehrerin)' : (abiturLernabschnitt.klasse().klassenleitungen().getFirst().geschlecht().kuerzel.equalsIgnoreCase('M') ?  '(Beratungslehrer)' : '(Beratungslehrkraft)')}">
											(Beratungslehrer/in)
										</td>
									</tr>
								</th:block>
								<th:block th:if="${((Parameter.detailLevel == 2)  && (abiturLernabschnitt.klasse().klassenleitungen().size() > 1))}">
									<tr>
										<td class="bo-t-black ta-ct f-small" th:text="${abiturLernabschnitt.klasse().klassenleitungen().get(0).unterschriftfeld(true, true)}">
											N. N., OStR
										</td>
										<td class="ta-tm f-small"></td>
										<td class="bo-t-black ta-ct f-small" th:text="${abiturLernabschnitt.klasse().klassenleitungen().get(1).unterschriftfeld(true, true)}">
											N. N., OStR
										</td>
									</tr>
									<tr>
										<td class="ta-ct f-small" th:text="${abiturLernabschnitt.klasse().klassenleitungen().get(0).geschlecht().kuerzel.equalsIgnoreCase('W') ? '(Beratungslehrerin)' : (abiturLernabschnitt.klasse().klassenleitungen().get(0).geschlecht().kuerzel.equalsIgnoreCase('M') ?  '(Beratungslehrer)' : '(Beratungslehrkraft)')}">
											(Beratungslehrer/in)
										</td><td class="ta-tm f-small"></td>
										<td class="ta-ct f-small" th:text="${abiturLernabschnitt.klasse().klassenleitungen().get(1).geschlecht().kuerzel.equalsIgnoreCase('W') ? '(Beratungslehrerin)' : (abiturLernabschnitt.klasse().klassenleitungen().get(1).geschlecht().kuerzel.equalsIgnoreCase('M') ?  '(Beratungslehrer)' : '(Beratungslehrkraft)')}">
											(Beratungslehrer/in)
										</td>
									</tr>
								</th:block>
								<tr>
									<td style="height: 10mm;" class="ta-cb f-small"></td>
									<td style="height: 10mm;" class="ta-cb f-small"></td>
									<td style="height: 10mm;" class="ta-cb f-small"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="width: 100%; height: 20mm;" class="ta-lt">
							<span class="f-bold">Rechtsbehelfsbelehrung: </span>
							<span th:text="${'Gegen die Leistungen in der Abiturprüfung und die Berechnung der Gesamtqualifikation einschließlich der Durchschnittsnote kann innerhalb eines Monats nach Bekanntgabe des Zeugnisses Widerspruch erhoben werden. Der Widerspruch ist bei der Schule ' + Schule.anschriftEinzeilig() + ' schriftlich oder zur Niederschrift zu erheben.'}">
								Gegen die Leistungen in der Abiturprüfung und die Berechnung der Gesamtqualifikation einschließlich der Durchschnittsnote kann innerhalb eines Monats nach Bekanntgabe des Zeugnisses Widerspruch erhoben werden. Der Widerspruch ist bei der Schule N. N. schriftlich oder zur Niederschrift zu erheben.
							</span>
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td style="width: 20%; height: 1mm;" class="bo-t-black"></td>
						<td colspan="4" style="width: 80%; height: 1mm;"></td>
					</tr>
					<tr>
						<td colspan="5" style="width: 100%; height: 36mm" class="f-small ta-lt fixed-100">
							<table>
								<colgroup>
									<col style="width: 2%" />
									<col style="width: 98%" />
								</colgroup>
								<tr>
									<td class="ta-lt"><sup>8) </sup></td>
									<td class="ta-lt">Außer Arbeitsgemeinschaften</td>
								</tr>
								<tr>
									<td class="ta-lt"><sup>9) </sup></td>
									<td class="ta-lt">Sind für eine Sprache zwei Referenzniveaus ausgewiesen, ist das niedrigere in vollem Umfang, das höhere in Anteilen erreicht. Das ausgewiesene Niveau kann auch in einem vorangegangenen Schuljahr erreicht worden sein.</td>
								</tr>
								<tr>
									<td class="ta-lt"><sup>10) </sup></td>
									<td class="ta-lt">Auf Wunsch der Schülerin/des Schülers kann hier die Teilnahme an Arbeitsgemeinschaften in der Qualifikationsphase oder die erfolgreiche Teilnahme an Landes- oder Bundeswettbewerben vermerkt werden. Auch können hier gemäß § 49 Abs. 3 SchulG Aussagen zum außerunterrichtlichen Engagement aufgenommen werden.</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
