<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <!--/* @thymesVar id="#inline" type="de.svws_nrw.module.reporting.html.dialects.InlineExpressionHelper" */-->
	<!--
		Fragment: reportingHead
		Parameter:
		  - title: Der Titel der Seite (String)
		  - htmlTemplatePfad: Der Pfad zur aufrufenden HTML-Datei (String, z.B. 'schueler/SchuelerListe.html')
		  - namePageCSS: Der Dateiname des Seitenformat-CSS (String, z.B. 'reporting-A4-hoch-duplex.css')
	-->
	<head th:fragment="htmlHead(title, htmlTemplatePfad, namePageCSS)"
		  th:with="customCssPath = ${#strings.replace(htmlTemplatePfad, '.html', '.css')}">

		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>

		<title th:text="${title}">Report-Titel</title>

		<!-- ##### CSS für PDF-Ausgabe: Beginn ############################################################################################################# -->
		<style th:utext="${#inline.css('css/reporting-pdf.css')}">
			/* Inline-CSS für PDF-Ausgabe */
		</style>
		<!-- ##### CSS für PDF-Ausgabe: Ende ############################################################################################################### -->

		<!-- ##### CSS für Globale Styles: Beginn ########################################################################################################## -->
		<style th:utext="${#inline.css('css/reporting-styles.css')}">
			/* Inline-CSS für globale Styles */
		</style>
		<!-- ##### CSS für Globale Styles: Ende ############################################################################################################ -->

		<!-- ##### CSS für Seitenformat: Beginn ############################################################################################################ -->
		<style th:if="${namePageCSS != null}" th:utext="${#inline.css('css/' + namePageCSS)}">
			/* Inline-CSS für Seitenformat */
		</style>
		<!-- ##### CSS für Seitenformat: Ende ############################################################################################################## -->

		<!-- ##### CSS für reportspezifische Einstellungen (abgeleitet vom Template-Pfad): Beginn ########################################################## -->
		<style th:if="${customCssPath != null}" th:utext="${#inline.css(customCssPath)}">
			/* Inline-CSS für Report spezifische Styles */
		</style>
		<!-- ##### CSS für reportspezifische Einstellungen (abgeleitet vom Template-Pfad): Ende ############################################################ -->
	</head>

	<body>

	</body>
</html>
