<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
	<head>
		<title></title>
	</head>
	<body>
		<!--
			Fragment: pageHeaderFooter
			Parameter:
			  - headerRight: Der HTML-Inhalt für den rechten oberen Bereich (String)
			  - footerCenter (optional): Der HTML-Inhalt für den zentrierten unteren Bereich (String)
			  - footerRight (optional): Ergänzt Druck 1/10 - Seite 1 von 2
		-->
		<th:block th:fragment="pageHeaderFooter(headerRight)">
			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<!--/*@thymesVar id="istDruckausgabe" type="boolean"*/-->
			<th:block th:if="${istDruckausgabe}">
				<div class="pageTopLeft" th:utext="${Schule.bezeichnungSchuleMehrzeiligHtml}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
				<div class="pageTopRight" th:utext="${headerRight} +
					'<br/>Abschnitt: ' + ${Schule.auswahlSchuljahresabschnitt().textSchuljahresabschnittKurz()} +
					'<br/>Schulnummer: ' + ${Schule.schulnummer()}">Inhalt oben rechts</div>
				<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')} + ' von ' + ${Benutzer.benutzername()}">Gedruckt am 02.02.2022 von ABC</div>
				<!--/*@thymesVar id="footerCenter" type="String"*/-->
				<div class="pageBottomCenter" th:text="${footerCenter}">Inhalt unten zentriert</div>
				<!--/*@thymesVar id="footerRight" type="String"*/-->
				<div class="pageBottomRight"><span class="page-nums-print" th:text="${footerRight != null ? footerRight + ' - Seite ' : 'Seite '}">Seite </span></div>
			</th:block>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->
		</th:block>

	</body>
</html>
