<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:with="istDruckausgabe = ${Parameter.istDruckausgabe()}, duplex = ${Parameter.duplexdruck}">
	<head th:replace="~{fragments/reportHtmlHead :: htmlHead(
		title='Leistungsdaten',
		htmlTemplatePfad=${Parameter.htmlTemplateDefinition().getPfadHtmlTemplate()},
		namePageCSS='reporting-A4-hoch' + (${duplex} ? '-duplex' : '') + '.css')}">
		<title></title>
	</head>

	<body>
		<div class="reset-page-counter start-new-page" th:each="kurs,iterationVarKurs : ${Kurse}">
			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<!--headerRight: Der Abschnitt und die Schulnummer werden über das Fragment hinzugefügt-->
			<th:block th:replace="~{fragments/reportPageHeaderFooter :: pageHeaderFooter(
				headerRight='Kurs: ' + ${kurs.kuerzel()} +
					'<br/>Kursleitung: ' + ${(kurs.kursleitung() != '') ? kurs.kursleitung().kuerzel() : '---'})}">
			</th:block>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<table class="fixed-100 mp-0">
				<colgroup>
					<col style="width: 7mm;"/> <!-- lfd. Nr. -->
					<col style="width: 56mm;"/> <!-- Name. Vorname (Ges.) -->
					<col style="width: 12mm;"/> <!-- Klasse -->
					<col style="width: 12mm;"/> <!-- Kursart -->
					<col style="width: 12mm;"/> <!-- Quartalsnote -->
					<col style="width: 12mm;"/> <!-- Note -->
					<col style="width: 12mm;"/> <!-- gemahnt -->
					<col style="width: 12mm;"/> <!-- FS -->
					<col style="width: 12mm;"/> <!-- FSU -->
					<col/> <!-- Füllt auf 100% der Breite auf - fachbezogene Bemerkungen -->
				</colgroup>
				<thead>
					<tr>
						<th colspan="10">
							<table class="fixed-100 mp-0">
								<tr>
									<th class="ta-lb bo-b-grey" style="width: 35%; font-size: 13pt; font-weight: bold;" th:text="${'Leistungsdaten ' + kurs.kuerzel()}">
										Leistungsdaten GE-GK-2
									</th>
									<th class="ta-rb bo-b-grey" style="width: 65%; font-size: 9pt;"
										th:text="${((!kurs.auflistungJahrgaenge().isEmpty()) ? ((kurs.jahrgaenge().size() == 1) ? ('Jahrgangsstufe: ' + kurs.auflistungJahrgaenge() + ' - ') : ('Jahrgangsstufen: ' + kurs.auflistungJahrgaenge() + ' - ')) : '')  + ((kurs.kurslehrer().size == 1) ? 'Lehrkraft: ' : 'Lehrkräfte: ') + kurs.auflistungKurslehrerkuerzel()}">
										Jahrgangsstufe: EF - Lehrkräfte: ABC,DEF"
									</th>
								</tr>
								<tr>
									<td class="ta-lt" style="width: 35%; font-size: 9pt;" th:text="${kurs.schueler().size() + ' Personen ' + kurs.statistikGeschlechter()}">
										22 Personen (12/10/0)
									</td>
									<td class="ta-rt" style="width: 65%; font-size: 9pt;"
										th:text="${'Klassen: ' + kurs.auflistungKlassen() + ' - Belegung: ' + kurs.statistikIndividuelleKursarten()}">
										Klassen: EFA,EFB - Belegung: GKM: 12, GKS: 10"
									</td>
								</tr>
								<tr>
									<td colspan="2" class="ta-lb" style="height: 2mm"></td>
								</tr>
							</table>
						</th>
					</tr>
					<tr>
						<td class="head-small-grey"></td>
						<td class="head-small-grey">Name</td>
						<td class="head-small-grey">Klasse</td>
						<td class="head-small-grey">Art</td>
						<td class="head-small-grey ta-c">Quartal</td>
						<td class="head-small-grey ta-c" th:text="${VorlageParameter.get('mitPunktenStattNoten') ? 'Punkte' : 'Note'}">Note</td>
						<td class="head-small-grey ta-c">Mahnung</td>
						<td class="head-small-grey ta-r">FS</td>
						<td class="head-small-grey ta-r">FSU</td>
						<td class="head-small-grey">Bemerkung</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="schueler,iterationVarSchueler : ${kurs.schueler()}"
						th:with="leistungsdaten = ${schueler.aktiverLernabschnittInSchuljahresabschnitt(kurs.schuljahresabschnitt()).leistungsdatenZurIdKurs(kurs.id())},
								 bemerkung = ${leistungsdaten.textFachbezogeneLernentwicklung()}"
						th:classappend="${iterationVarSchueler.odd} ? 'bg-lightgrey'">
						<td class="f-small ta-r bo-t-grey p-tb-0 p-lr-1" th:text="${iterationVarSchueler.count + '. '}">1.</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${schueler.nachnameVorname()}">Mustermann, Max</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${schueler.auswahlLernabschnitt().klasse().kuerzel()}">10a</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${leistungsdaten.kursart()}">GKM</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1 ta-c" th:text="${VorlageParameter.get('mitPunktenStattNoten') ? leistungsdaten.noteQuartalPunkte() : leistungsdaten.noteQuartalKuerzel()}">3+</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1 ta-c" th:text="${VorlageParameter.get('mitPunktenStattNoten') ? leistungsdaten.notePunkte() : leistungsdaten.noteKuerzel()}">2-</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1 ta-c" th:text="${leistungsdaten.istGemahnt()} ? 'ja' : ''">ja</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1 ta-r" th:text="${leistungsdaten.fehlstundenGesamt()}">25</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1 ta-r" th:text="${leistungsdaten.fehlstundenUnentschuldigt()}">5</td>
						<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${#strings.isEmpty(bemerkung) ? '' : 'ja'}">ja</td>
					</tr>
				</tbody>
			</table>

			<th:block th:if="${VorlageParameter.get('mitBemerkungen') && kurs.hatSchuelerMitFachbezogenerBemerkung()}">
				<table class="fixed-100 mp-0 m-t-6">
					<colgroup>
						<col style="width: 7mm;"/> <!-- lfd. Nr. -->
						<col style="width: 56mm;"/> <!-- Name, Vorname (Ges.) -->
						<col/> <!-- Füllt auf 100% der Breite auf - fachbezogene Bemerkungen -->
					</colgroup>
					<thead>
						<tr>
							<th colspan="3">
								<table class="fixed-100 mp-0">
									<tr>
										<th class="ta-lb bo-b-grey" style="width: 100%; font-size: 13pt; font-weight: bold;">
											Fachbezogene Bemerkungen
										</th>
									</tr>
									<tr>
										<td class="ta-lb" style="height: 2mm"></td>
									</tr>
								</table>
							</th>
						</tr>
						<tr>
							<td class="head-small-grey">Nr.</td>
							<td class="head-small-grey">Name</td>
							<td class="head-small-grey">Bemerkung</td>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="schueler,iterationVarSchueler : ${kurs.schueler()}"
								  th:with="leistungsdaten = ${schueler.aktiverLernabschnittInSchuljahresabschnitt(kurs.schuljahresabschnitt()).leistungsdatenZurIdKurs(kurs.id())},
										   bemerkung = ${leistungsdaten.textFachbezogeneLernentwicklung()}">
							<tr th:if="${!#strings.isEmpty(bemerkung)}" th:classappend="${iterationVarSchueler.odd} ? 'bg-lightgrey'">
								<td class="f-small bo-t-grey p-tb-0 p-lr-1 ta-r" th:text="${iterationVarSchueler.count + '. '}">1.</td>
								<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${schueler.nachnameVorname()}">Mustermann, Max</td>
								<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${bemerkung}">fachbezogene Bemerkungen</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</th:block>
		</div>
	</body>
</html>
