<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
	<head th:with="mediaPrint = ${Parameter.ausgabeformat >= 2}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Wahlbogen-GOSt-Laufbahnplanung</title>
		<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-pdf.css}" href="../../../css/reporting-pdf.css" />
		<link th:if="${mediaPrint}" rel="stylesheet" th:href="@{css/reporting-A4-hoch.css}" href="../../../css/reporting-A4-hoch.css" />
		<link rel="stylesheet" th:href="@{css/reporting-styles.css}" href="../../../css/reporting-styles.css" />
		<link rel="stylesheet" th:href="@{schueler/gost/laufbahnplanung/SchuelerGostLaufbahnplanungWahlbogen.css}" href="../../../schueler/gost/laufbahnplanung/SchuelerGostLaufbahnplanungWahlbogen.css" />
	</head>

	<body th:with="mediaPrint = ${Parameter.ausgabeformat >= 2},
                   nurBelegteFaecher = ${VorlageParameter.get('nurBelegteFaecher')}">
		<div class="reset-page-counter start-new-page" th:each="schueler,iterationVarSchueler : ${Schueler}">
			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<th:block th:if="${mediaPrint}">
				<div class="pageTopLeft" th:utext="${Schule.bezeichnungSchuleMehrzeiligHtml}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
				<div class="pageTopRight" th:utext="'Abitur ' + ${schueler.gostLaufbahnplanung().abiturjahr()} + '<br/> Wahl ab ' +  ${schueler.gostLaufbahnplanung().folgeAuswahlGOStHalbjahr()} + '<br/>' + ${schueler.gostLaufbahnplanung().pruefungsordnung()}">Abitur 2023<br/>Wahl ab Q2.1<br/>APO-GOSt</div>
				<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')} + ' von ' + ${Benutzer.benutzername()}">Gedruckt am 02.02.2022 von ABC</div>
				<div class="pageBottomRight"><span class="page-nums-print" th:text="'Druck ' + ${iterationVarSchueler.count} + '/' + ${#lists.size(Schueler)} + ' - Seite '">Druck 13/57 - Seite </span></div>
			</th:block>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<table class="fixed-100 p-0">
				<colgroup>
					<col style="width: 30%;" />
					<col style="width: 45%;" />
					<col style="width: 25%;" />
				</colgroup>
				<tr>
					<td colspan="2" style="text-align: left; font-size: 8pt; vertical-align: top;" th:text="'Abitur ' + ${schueler.gostLaufbahnplanung().abiturjahr()} + ' - Wahl ab ' +  ${schueler.gostLaufbahnplanung().folgeAuswahlGOStHalbjahr()} + ' - ' + ${schueler.gostLaufbahnplanung().pruefungsordnung()}">Abitur 2023 - Wahl ab Q2.1 - APO-GOSt</td>
					<td style="text-align: right; font-size: 8pt; vertical-align: top;" th:text="${schueler.gostLaufbahnplanung().aktuelleKlasse() != '' ? 'Klasse ' + schueler.gostLaufbahnplanung().aktuelleKlasse() : schueler.status().toString()}">Klasse: Q1</td>
				</tr>
				<tr>
					<td style="border-bottom: 1px grey solid; text-align: left; vertical-align: middle;"><h3>Wahlbogen <span th:if="${nurBelegteFaecher}" class="f-very-tiny">(nur belegte Fächer)</span></h3></td>
					<td colspan="2" style="border-bottom: 1px grey solid; text-align: right; vertical-align: middle"><h3 th:text="${schueler.nachname() + ', ' + schueler.vorname()}">Musterfrau, Anna</h3></td>
				</tr>
			</table>
			<p class="f-small" th:if="${!#strings.isEmpty(schueler.gostLaufbahnplanung().beratungsbogenText())}" th:text="${schueler.gostLaufbahnplanung().beratungsbogenText()}">Text der Schule für den Beratungsbogen.</p>
			<table class="fixed-100" style="margin-top: 20px; margin-bottom: 20px; border-collapse: collapse;">
				<colgroup>
					<col style="width: 8%;" />
					<col style="width: 35%;" />
					<col style="width: 15%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
				</colgroup>
				<thead>
				<tr>
					<td colspan="2" class="ta-l f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">Fach</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">Fremdsprache</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">EF.1</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">EF.2</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">Q1.1</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">Q1.2</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">Q2.1</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">Q2.2</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid; border-right: 1px grey solid;">Abitur</td>
				</tr>
				</thead>
				<tr th:each="Fachwahl : ${schueler.gostLaufbahnplanung().fachwahlen()}" th:if="${(!nurBelegteFaecher || Fachwahl.fachIstBelegtInGOSt()) && Fachwahl.fach().istPruefungsordnungsRelevant()}"  th:style="'background-color: ' + ${Fachwahl.fach().statistikfach().htmlFarbeRGB()} + ';'">
					<td class="ta-l f-bold bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${Fachwahl.fach().kuerzel()}"><b>D</b></td>
					<td class="ta-l f-bold bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${Fachwahl.fach().bezeichnung()}"><b>Deutsch</b></td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:switch="${Fachwahl.jahrgangFremdsprachenbeginn()}">
						<span th:case="'HSU'">HSU-Prüfung</span>
						<span th:case="'SFP'">Festst.prüf.</span>
						<span th:case="*" th:if="${!#strings.isEmpty(Fachwahl.jahrgangFremdsprachenbeginn())}" th:text="${Fachwahl.positionFremdsprachenfolge()} + ' (ab Jg. ' + ${Fachwahl.jahrgangFremdsprachenbeginn()} + ')'">2 (ab Jg. 7)</span>
					</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${Fachwahl.belegungEF1()}">S</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${Fachwahl.belegungEF2()}">S</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${Fachwahl.belegungQ11()}">LK</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${Fachwahl.belegungQ12()}">LK</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${Fachwahl.belegungQ21()}">LK</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${Fachwahl.belegungQ22()}">LK</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid; border-right: 1px grey solid;" th:text="${Fachwahl.abiturfach()}">1</td>
				</tr>
				<tfoot>
					<tr>
						<td colspan="3" class="p-tb-0 p-lr-1 m-0 bo-t-black" style="padding-right: 6px; text-align: right;"><b>Anzahl anrechenbare Kurse:</b></td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-t-black bo-l-grey bo-b-grey" style="border-left: 1px grey solid;" th:styleappend="${schueler.gostLaufbahnplanung().kursanzahlEF1() < 10  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().kursanzahlEF1() <= 10  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().kursanzahlEF1()}">12</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-t-black bo-l-grey bo-b-grey" th:styleappend="${schueler.gostLaufbahnplanung().kursanzahlEF2() < 10  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().kursanzahlEF2() <= 10  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().kursanzahlEF2()}">11</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-t-black bo-l-grey bo-b-grey" style="border-top: 1px black solid; border-bottom: 1px black solid; border-left: 1px black solid;" th:styleappend="${schueler.gostLaufbahnplanung().kursanzahlQ11() < 9  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().kursanzahlQ11() <= 9  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().kursanzahlQ11()}">11</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-t-black bo-l-grey bo-b-grey" style="border-top: 1px black solid; border-bottom: 1px black solid;" th:styleappend="${schueler.gostLaufbahnplanung().kursanzahlQ12() < 9  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().kursanzahlQ12() <= 9  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().kursanzahlQ12()}">10</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-t-black bo-l-grey bo-b-grey" style="border-top: 1px black solid; border-bottom: 1px black solid;" th:styleappend="${schueler.gostLaufbahnplanung().kursanzahlQ21() < 9  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().kursanzahlQ21() <= 9  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().kursanzahlQ21()}">10</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-t-black bo-l-grey bo-b-grey" style="border-top: 1px black solid; border-bottom: 1px black solid;" th:styleappend="${schueler.gostLaufbahnplanung().kursanzahlQ22() < 9  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().kursanzahlQ22() <= 9  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().kursanzahlQ22()}">10</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-t-black bo-l-grey bo-b-grey" style="border-top: 1px black solid; border-bottom: 1px black solid; border-right: 1px black solid; border-left: 1px grey solid;" th:styleappend="${schueler.gostLaufbahnplanung().kursanzahlAnrechenbarBlockI() < 38  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().kursanzahlAnrechenbarBlockI() <= 39  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().kursanzahlAnrechenbarBlockI()}"><b>41</b></td>
					</tr>
					<tr>
						<td colspan="3" class="p-tb-0 p-lr-1 m-0" style="padding-right: 6px; text-align: right;"><b>Wochenstundensumme:</b></td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-grey" style="border-left: 1px grey solid;" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenEF1() < 32  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().wochenstundenEF1() <= 32  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().wochenstundenEF1()}">36</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-grey" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenEF2() < 32  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().wochenstundenEF2() <= 32  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().wochenstundenEF2()}">33</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-grey" style="border-left: 1px grey solid;" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenQ11() < 31  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().wochenstundenQ11() <= 33  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().wochenstundenQ11()}">37</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-grey" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenQ12() < 31  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().wochenstundenQ12() <= 33  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().wochenstundenQ12()}">34</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-grey" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenQ21() < 31  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().wochenstundenQ21() <= 33  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().wochenstundenQ21()}">34</td>
						<td class="p-tb-0 p-lr-1 m-0 ta-c bo-grey" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenQ22() < 31  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().wochenstundenQ22() <= 33  ? 'background-color: yellow;' : '')}" th:text="${schueler.gostLaufbahnplanung().wochenstundenQ22()}">34</td>
						<td rowspan="2" class="p-tb-0 p-lr-1 m-0 ta-c  bo-grey" style="border-left: 1px grey solid; border-right: 1px grey solid; vertical-align: middle;" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenGesamt() < 100  ? 'background-color: lightcoral;' : (schueler.gostLaufbahnplanung().wochenstundenGesamt() < 102  ? 'background-color: yellow;' : '')}" th:text="${#numbers.formatDecimal(schueler.gostLaufbahnplanung().wochenstundenGesamt(), 1, 1)}"><b>104,0</b></td>
					</tr>
					<tr>
						<td colspan="3" class="p-tb-0 p-lr-1 m-0 f-small ta-c" style="padding-right: 6px; text-align: right;">(pro Schuljahr)</td>
						<td colspan="2" class="p-tb-0 p-lr-1 m-0 f-small ta-c bo-grey" style="border-left: 1px grey solid;" th:text="${#numbers.formatDecimal(schueler.gostLaufbahnplanung().wochenstundenDurchschnittEF(), 1, 1)}">34,5</td>
						<td colspan="2" class="p-tb-0 p-lr-1 m-0 f-small ta-c bo-grey" style="border-left: 1px grey solid;" th:text="${#numbers.formatDecimal(schueler.gostLaufbahnplanung().wochenstundenDurchschnittQ1(), 1, 1)}">35,5</td>
						<td colspan="2" class="p-tb-0 p-lr-1 m-0 f-small ta-c bo-grey" th:text="${#numbers.formatDecimal(schueler.gostLaufbahnplanung().wochenstundenDurchschnittQ2(), 1, 1)}">34,0</td>
					</tr>
					<tr>
						<td colspan="3" class="p-tb-0 p-lr-1 m-0" style="padding-right: 6px; text-align: right;"><b>Wochenstundendurchschnitt:</b></td>
						<td colspan="2" class="p-tb-0 p-lr-1 m-0 ta-c bo-grey" style="border-left: 1px grey solid;" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenDurchschnittEF() < 34 ? 'background-color: lightcoral;' : ''}" th:text="${#numbers.formatDecimal(schueler.gostLaufbahnplanung().wochenstundenDurchschnittEF(), 1, 1)}"><b>34,5</b></td>
						<td colspan="4" class="p-tb-0 p-lr-1 m-0 ta-c bo-grey" style="border-left: 1px grey solid;" th:styleappend="${schueler.gostLaufbahnplanung().wochenstundenDurchschnittQPh() < 34 ? 'background-color: lightcoral;' : ''}" th:text="${#numbers.formatDecimal(schueler.gostLaufbahnplanung().wochenstundenDurchschnittQPh(), 1, 2)}"><b>34,75</b></td>
						<td class="p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;"></td>
					</tr>
					<tr th:if="${nurBelegteFaecher}">
						<td colspan="10" class="f-tiny" style="font-style: italic">
							<p class="f-small">Wählbare Fächer des Abiturjahrgangs: <span th:each="Fachwahl,iterationVarFach : ${schueler.gostLaufbahnplanung().fachwahlen()}" th:text="${Fachwahl.fach().bezeichnung()} + ${iterationVarFach.count != iterationVarFach.size ? ', ' : ''}">Deutsch, Englisch</span></p>
						</td>
					</tr>
				</tfoot>
			</table>
			<div style="page-break-inside: avoid;">
				<p class="f-small"><u>Bemerkungen der Schule zur Gesamtlaufbahn:</u></p>
				<p class="f-small" th:if="${#strings.isEmpty(schueler.gostLaufbahnplanung().kommentar()) && #lists.isEmpty(schueler.gostLaufbahnplanung().fehler())}"><i>- keine -</i></p>
				<ul class="f-small" th:if="${!(#strings.isEmpty(schueler.gostLaufbahnplanung().kommentar()) && #lists.isEmpty(schueler.gostLaufbahnplanung().fehler()))}">
					<li th:if="${!#lists.isEmpty(schueler.gostLaufbahnplanung().fehler())}" th:each="FehlerBelegung : ${schueler.gostLaufbahnplanung().fehler()}" th:text="${FehlerBelegung.meldung()}">Fehlertext</li>
					<li th:if="${!#strings.isEmpty(schueler.gostLaufbahnplanung().kommentar())}" th:text="${schueler.gostLaufbahnplanung().kommentar()}">Kommentar</li>
				</ul>
			</div>
			<div style="page-break-inside: avoid;">
				<p class="f-small"><u>Sonstige Hinweise zur Gesamtlaufbahn:</u></p>
				<p class="f-small" th:if="${#lists.isEmpty(schueler.gostLaufbahnplanung().hinweise())}"><i>- keine -</i></p>
				<ul class="f-small" th:if="${!#lists.isEmpty(schueler.gostLaufbahnplanung().hinweise())}">
					<li th:each="HinweisBelegung : ${schueler.gostLaufbahnplanung().hinweise()}" th:text="${HinweisBelegung.meldung()}">Hinweistext</li>
				</ul>
			</div>
			<div style="page-break-inside: avoid;">
				<p class="f-small">Die oben aufgeführten Fachwahlen gelten für die weitere Schullaufbahn als verbindlich gewählt, solange keine Änderungswünsche den Beratungslehrkräften mitgeteilt werden.
				Änderungen können vor jedem Halbjahreswechsel nach Rücksprache mit den Beratungslehrkräften durchgeführt werden.
				Schulorganisatorische Gründe können zu einer Änderung der Fachwahlen und der Laufbahn führen.</p>
				<p class="f-small" th:text="${schueler.gostLaufbahnplanung().letzteBeratungText()}">Die letzte Beratung wurde durchgeführt am 16.05.2022 von M. Mustermann.</p>
				<table class="fixed-100 p-0" style="page-break-inside: avoid;">
					<tr style="height: 3em;">
						<td style="width: 30%;"> </td>
						<td style="width: 5%;"> </td>
						<td style="width: 30%;"> </td>
						<td style="width: 5%;"> </td>
						<td style="width: 30%;"> </td>
					</tr>
					<tr>
						<td class="f-small" style="text-align: center; vertical-align: top; border: 0.5px black; border-style: solid none none none" th:utext="${schueler.gostLaufbahnplanung().unterschriftfeldBeratungslehrkraefteMehrzeiligHtml()}">M. Mustermann</td>
						<td> </td>
						<td class="f-small" style="text-align: center; vertical-align: top; border: 0.5px black; border-style: solid none none none" th:text="${schueler.vorname()} + ' ' + ${schueler.nachname()}">Anna Musterfrau</td>
						<td> </td>
						<td class="f-small" style="text-align: center; vertical-align: top; border: 0.5px black; border-style: solid none none none">Erziehungsberechtigte</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
