<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:with="istDruckausgabe = ${Parameter.istDruckausgabe()}">
	<head th:replace="~{fragments/reportHtmlHead :: htmlHead(
		title='Lehrerliste mit Lehrerstammdaten',
		htmlTemplatePfad=${Parameter.htmlTemplateDefinition().getPfadHtmlTemplate()},
		namePageCSS='reporting-A4-hoch.css')}">
		<title></title>
	</head>

	<body>
		<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
		<!--headerRight: Der Abschnitt und die Schulnummer werden über das Fragment hinzugefügt-->
		<th:block th:replace="~{fragments/reportPageHeaderFooter :: pageHeaderFooter(
			headerRight='Lehrerliste')}">
		</th:block>
		<!--Ende: Definition Seitenköpfe und Seitenfüße -->

		<table class="fixed-100 p-0">
            <colgroup>
                <col style="width: 14%;" />
                <col style="width: 2%;" />
                <col style="width: 20%;" />
                <col style="width: 2%;" />
                <col style="width: 10%;" />
                <col style="width: 2%;" />
                <col style="width: 10%;" />
                <col style="width: 2%;" />
                <col style="width: 38%;" />
            </colgroup>
            <thead>
				<tr>
					<th colspan="9" class="bo-b-grey"><h2>Lehrerliste</h2></th>
				</tr>
            </thead>
            <tbody>
            	<tr><td colspan="9" class="p-t-25of100"></td></tr>
            </tbody>
        </table>

		<table class="fixed-100 p-0">
			<colgroup>
                <col style="width: 4%;"/>
                <col style="width: 13%;"/>
                <col style="width: 14%;"/>
                <col style="width: 9%;"/>
                <col style="width: 4%;"/>
                <col style="width: 10%;"/>
                <col style="width: 24%;"/>
                <col style="width: 8%;"/>
                <col style="width: 14%;"/>
			</colgroup>
			<thead>
				<tr>
					<th class="head-small-grey"></th>
					<th class="head-small-grey">Name</th>
					<th class="head-small-grey">Vorname</th>
					<th class="head-small-grey">Amtsbez.</th>
					<th class="head-small-grey ta-c">Ges.</th>
					<th class="head-small-grey">Geb. am</th>
					<th class="head-small-grey">Straße</th>
					<th class="head-small-grey ta-r">PLZ</th>
					<th class="head-small-grey">Ort</th>
				</tr>
			</thead>
			<tbody>
				<tr style="page-break-inside: avoid;" th:each="lehrer,iterationVarLehrer : ${Lehrer}" th:classappend="${iterationVarLehrer.odd} ? 'bg-lightgrey'">
					<td class="f-small ta-r bo-t-grey p-tb-0 p-lr-1" th:text="${iterationVarLehrer.count + '. '}">1. </td>
					<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${lehrer.nachname()}">Mustermann</td>
					<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${lehrer.vorname()}">Maximilian Moritz</td>
					<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${lehrer.amtsbezeichnung()}">OStR</td>
					<td class="f-small bo-t-grey p-tb-0 p-lr-1 ta-c" th:text="${lehrer.geschlecht().kuerzel}">m</td>
					<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${#convert.toDateDE(lehrer.geburtsdatum())}">07.08.2010</td>
					<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${lehrer.strassennameHausnummer()}">Musterstraße 13a</td>
					<td class="f-small bo-t-grey p-tb-0 p-lr-1 ta-r" th:text="${lehrer.wohnort().plz}">12345</td>
					<td class="f-small bo-t-grey p-tb-0 p-lr-1" th:text="${lehrer.wohnort().ortsname}">Musterstadt</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
