<html lang="de" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Schüler mit Kursen</title>
		<link rel="stylesheet" href="GostKursplanungSchuelerMitKursen.css" />
	</head>

	<body>
		<div style="page-break-inside: avoid;" th:each="schueler,iterStatSchueler : ${Blockungsergebnis.schuelerGefiltert()}">
			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<div class="pageTopLeft" th:utext="${Schule.bezeichnungSchuleMehrzeiligHtml}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
			<div class="pageTopRight" th:utext="'Kursbelegungen<br/>' + 'Abitur ' + ${Blockungsergebnis.abiturjahr()} + ' - ' + ${Blockungsergebnis.gostHalbjahr()}">Kursbelegungen der Schülerinnen und Schüler<br/>Abitur 2023 - Q1.2<br/></div>
			<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}">Gedruckt am: 02.02.2022</div>
			<div class="pageBottomCenter" th:text="${Blockungsergebnis.bezeichnung() + ' (Erg-ID ' + Blockungsergebnis.id() + ')'}">A23 - Q1.2 (Erg-ID 4)</div>
			<div class="pageBottomRight"><span class="counter-print">Seite </span></div>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<table th:if="${iterStatSchueler.count == iterStatSchueler.first}" class="fixed-layout-100 no-space-pad">
				<tr>
					<td style="width: 100%; border-bottom: 1px grey solid; vertical-align: middle"><h3 th:text="${'Kursbelegungen - Abitur ' + Blockungsergebnis.abiturjahr() + ' - ' + Blockungsergebnis.gostHalbjahr()}">Kursbelegungen der Schülerinnen und Schüler - Abitur 2023 - Q1.2</h3></td>
				</tr>
			</table>
			<!--Definiere pro Schüler eine Tabelle mit seinen Kursen. Um ein ruhigeres und lesbares Layout zu erhalten definiere zwei
				Standard-Spalten-Anzahlen und die passende Schriftgrößen. -->
			<table class="fixed-layout-100 no-space-pad"
				th:with="
					kursanzahl = ${#lists.size(schueler.gostKursplanungKursbelegungen())},
					spaltenzahl = ${kursanzahl <= 12 ? 12 : (kursanzahl <= 14 ? 14 : kursanzahl)},
					restspalten = ${spaltenzahl <= 14 ? 1 : 0},
					spaltenbreite = ${spaltenzahl == 12 ? 8 : (spaltenzahl == 14 ? 7 : (100 / kursanzahl))},
					restspaltenbreite = ${spaltenzahl == 12 ? 4 : (spaltenzahl == 14 ? 2 : 0)},
					schriftgroesse = ${kursanzahl <= 12 ? '7.5pt' : '6.5pt'}
				">
				<colgroup>
					<col th:each="i : ${#numbers.sequence(1, spaltenzahl)}" th:style="${'width: ' + spaltenbreite + '%;'}" />
					<col th:if="${restspaltenbreite > 0}" th:style="${'width: ' + restspaltenbreite + '%;'}" />
				</colgroup>
				<tr style="height: 5px;">
					<td></td>
				</tr>
				<tr>
					<td colspan="12"> <p th:utext="${#numbers.formatInteger(iterStatSchueler.count, 3) + '. <b>' + schueler.nachname() + ', ' + schueler.vorname() + '</b>'}">083. Mustermann, Max</p></td>
				</tr>
				<tr style="height: 1px;">
					<td></td>
				</tr>
				<tr>
					<td class="bo-grey" th:each="Kursbelegung : ${schueler.gostKursplanungKursbelegungen()}" th:style="${((Kursbelegung.kurs().farbeClientRGB() == null || (Kursbelegung.kurs().farbeClientRGB().isEmpty())) ? '' : ' background-color: ' + Kursbelegung.kurs().farbeClientRGB() + ';')}">
						<p class="no-mt f-bold" th:style="${'font-size: ' + schriftgroesse + ';'}" th:text="${Kursbelegung.kurs().bezeichnung()}">M-GK2</p>
						<p class="no-mt" style="font-size: 6pt;" th:utext="${Kursbelegung.kurs().kursart() + '-' + (Kursbelegung.istSchriftlich() ? 's' : 'm') + ((Kursbelegung.abiturfach() == null || Kursbelegung.abiturfach().isEmpty()) ? '' : ' Abifach ' + Kursbelegung.abiturfach()) + '<br/>' + Kursbelegung.kurs().lehrkraefteAuflistung()}">GK-s Abifach 3<br/>ABC</p>
					</td>
				</tr>
				<tr style="height: 3px;">
					<td></td>
				</tr>
			</table>
		</div>
	</body>
</html>
