@tailwind base;
@tailwind components;
@tailwind utilities;

.app-wrapper {
	@apply flex h-screen w-full flex-grow flex-col;
}

.content-wrapper {
	@apply flex flex-row items-start space-x-4;
}

.input-wrapper-1-col {
	@apply grid flex-grow grid-cols-1 gap-3;
}

.input-wrapper {
	@apply grid flex-grow grid-cols-1 gap-3 md:grid-cols-2;
}

.input-wrapper--checkboxes {
	@apply gap-x-3 gap-y-0;
}

.input-wrapper .col-span-2 {
	@apply max-md:col-span-1;
}

.secondary-menu--header .input-wrapper {
	@apply max-2xl:grid-cols-1;
}

.input-wrapper-3-cols {
	@apply col-span-2 grid grid-cols-3 gap-3;
}

.app-container {
	@apply grid grid-cols-1 lg:grid-cols-2 4xl:grid-cols-3;
	@apply gap-12 lg:gap-16;
	@apply min-h-full;
	grid-template-rows: min-content;
}

.overflow-y-auto {
	-webkit-overflow-scrolling: touch;
}

.color--error {
	color: rgb(var(--color-error));
}

.color--dark {
	color: rgb(var(--color-dark));
}

/* Defaults zu den Schriften */

.default-font {
	font-family: "Roboto", sans-serif;
	line-height: 1.5em;
	font-size: medium;
}

.default-font-small {
	font-family: "Roboto", sans-serif;
	line-height: 1.5em;
	font-size: small;
}

.text-left {
	text-align: left;
}

.center {
	text-align: center;
}

.separate-items--custom > *:not(:last-child):after {
	content: ', ';
}

/* Effekte */

.elevation-5 {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 5px 8px 0px rgba(0, 0, 0, 0.14),
		0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
}

/* Mauscursor */

.pointer {
	cursor: pointer;
}

/* Default Theme (Light) */
:root {
	--table-head-background-color: rgb(50, 156, 213);
	--table-head-foreground-color: rgb(36, 36, 36);
	--table-selection-background-color: rgb(184, 221, 233);
	--table-selection-foreground-color: rgb(0, 0, 0, 1);
	--table-cell-default-padding: 0px 0.25em 0px 0.25em;
}

.text-ellipsis-line-clamp {
	@apply text-ellipsis overflow-hidden;
	max-width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	word-break: break-all;
}

.link-hover--primary:hover, .link-hover--primary:focus {
	color: rgb(var(--color-primary));
}
