@tailwind base;
@tailwind components;
@tailwind utilities;

.app-wrapper {
	@apply flex h-screen w-full flex-grow flex-col;
}

.secondary-menu--header .input-wrapper {
	@apply max-2xl:grid-cols-1;
}

.page--content {
	@apply grid grid-cols-1 lg:grid-cols-2;
	@apply gap-x-6 gap-y-16 lg:gap-y-20 lg:gap-x-16;
	@apply px-6 lg:px-9 3xl:px-12 4xl:px-16 pt-8 pb-16;
	grid-auto-rows: min-content;
	max-width: 123rem;
	@apply mx-auto;
}

.page--content .page--content {
	@apply p-0 !important;
}

.page--content--single {
	@apply lg:grid-cols-1;
}

.page--content--full {
	@apply flex;
	max-width: unset;
}

.page--content.page--content--gost-grid {
	@apply grid overflow-y-hidden overflow-x-auto h-full pb-8;
	grid-auto-rows: 100%;
	grid-template-columns: minmax(64rem, 2fr) minmax(18rem, 0.4fr) minmax(64rem, 1fr);
	grid-auto-columns: max-content;
}

.separate-items--custom > *:not(:last-child):after {
	content: ', ';
}

input[type="file"]::file-selector-button {
	@apply bg-svws text-white;
	@apply rounded-md border-0;
	@apply select-none relative;
	@apply text-button font-bold;
	@apply inline-flex items-center;
	gap: 0.25em;
	padding: 0.45em 0.75em;
	@apply shadow-none;
}

input[type="file"] {
	@apply text-black/50 cursor-pointer;
}

input[type="file"]:hover {
	@apply text-black/75;
}

input[type="file"]:hover::file-selector-button {
	@apply brightness-110;
}

input[type="file"]:focus,
input[type="file"]:focus::file-selector-button {
	 @apply outline-none;
}

input[type="file"]:focus-visible {
	@apply ring ring-svws/50 rounded-md;
}

input[type="file"]:focus::file-selector-button {
	@apply ring-0;
}

input[type="file"]::file-selector-button:active {
	@apply ring-0 brightness-100;
}

input[type="file"]:invalid {
	@apply text-error;
}

input[type="file"]:hover::file-selector-button,
input[type="file"]:focus-visible::file-selector-button {
	@apply opacity-100;
}


/* Default Theme (Light) */
:root {
	--table-head-background-color: rgb(50, 156, 213);
	--table-head-foreground-color: rgb(36, 36, 36);
	--table-selection-background-color: rgb(184, 221, 233);
	--table-selection-foreground-color: rgb(0, 0, 0, 1);
	--table-cell-default-padding: 0px 0.25em 0px 0.25em;
}
