<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:with="istDruckausgabe = ${Parameter.istDruckausgabe()}"><!--/* @thymesVar id="#icon" type="de.svws_nrw.module.reporting.html.dialects.IconExpressionHelper" */-->
    <!--/* @thymesVar id="#convert" type="de.svws_nrw.module.reporting.html.dialects.ConvertExpressionHelper" */--><!--/* @thymesVar id="#aktuell" type="de.svws_nrw.module.reporting.html.dialects.AktuellExpressionHelper" */-->
	<head th:replace="~{fragments/reportHtmlHead :: htmlHead(
		title='Schulbescheinigung',
		htmlTemplatePfad=${Parameter.reportVorlage().getPfadHtmlTemplate()},
		namePageCSS='reporting-A4-DIN5008.css')}">
		<title></title>
	</head>

	<body th:with="fuerErzieher = ${VorlageParameter.get('fuerErzieher')},
				   mitBildBriefkopf = ${VorlageParameter.get('mitBildBriefkopf')},
				   mitSchullogo = ${VorlageParameter.get('mitSchullogo')},
				   keineAnschrift = ${VorlageParameter.get('keineAnschrift')},
				   keinInfoblock = ${VorlageParameter.get('keinInfoblock')},
				   keinUnterzeichner = ${VorlageParameter.get('keinUnterzeichner')},
				   mitDigitaleSignatur = ${VorlageParameter.get('mitDigitaleSignatur')},
				   qrCodeBreite = ${VorlageParameter.get('qrCodeBreite')},
				   qrCodeHoehe = ${VorlageParameter.get('qrCodeHoehe')},
				   versandinformationen = ${VorlageParameter.get('versandinformationen')}">

	<th:block th:each="schueler,iterationVarSchueler : ${Schueler}"
              th:with="istAktuell = ${(schueler.schulbesuch() == null) || schueler.schulbesuch().entlassungDatum().isEmpty()},
                       anzahlEmpfaenger = ${fuerErzieher ? schueler.erzieherArtGruppen().size() : 1 }">

		<th:block th:if="${anzahlEmpfaenger >= 1}" th:each="empfaenger,iterationVarEmpfaenger : ${#numbers.sequence(1, anzahlEmpfaenger)}">
			<!--Beginn: Definition des linken Seitenbereiches mit Faltmarken. Diese werden per CSS in den @page-Boxen positioniert-->
			<th:block th:if="${istDruckausgabe}">
				<div class="pageLeftMiddle">
					<hr class="faltmarke1" />
					<hr class="lochmarke" />
					<hr class="faltmarke2" />
				</div>
			</th:block>
			<!--Ende: Definition des linken Seitenbereiches -->

			<!-- WICHTIG: Absolut-positionierte Elemente müssen von einem relativen Element mit einer Höhe größer 0 umschlossen sein, damit sie auf mehreren Seiten gedruckt werden! -->
			<div class="din5008-seitenrahmen start-new-page" style="position: relative;">

				<!-- Briefkopfbereich -->
				<div th:if="${mitBildBriefkopf}" class="briefkopfbereich">
					<!-- Hier kann eine Grafik (35mm hoch und 190mm breit) als Ersatz für den gesamten Briefkopf eingebunden werden. -->
				</div>

				<!-- Schulbezeichnung und Anschrift -->
				<div th:if="${!mitBildBriefkopf}" class="absenderanschrift">
					<span th:utext="${Schule.anschriftVollstaendigHtml()}">Schulbezeichnung1<br/>Schulbezeichnung2<br/>Schulbezeichnung3<br/>Musterstraße 123A<br/>12345 Musterstadt</span>
				</div>

				<!-- Schullogo -->
				<div th:if="${!mitBildBriefkopf && mitSchullogo}" class="schullogo">
					<img style="max-height: 100%; max-width: 100%; object-fit: scale-down;" th:src="@{${Schule.schullogoHtmlImageSource()}}" alt="Schullogo"/>
				</div>

				<!-- Rücksendeinformationen -->
				<div th:if="${!keineAnschrift}" class="ruecksendeinformationen bo-b-grey">
					<p class="f-very-tiny ta-lb ruecksendeinformationentext" th:text="${Schule.ruecksendeinformation()}">Adresse der Schule als Rücksendeinformation</p>
				</div>

				<!-- Versandinformationen -->
				<div th:if="${!keineAnschrift}" class="versandinformationen">
					<p class="f-tiny f-bold ta-lb" th:text="${versandinformationen}">Einschreiben</p>
				</div>

				<!-- Anschrift -->
				<div th:if="${!keineAnschrift}" class="empfaengeranschrift">
					<p th:utext="${fuerErzieher ? schueler.erzieherArtGruppen().get(empfaenger - 1).anschriftVornamenNachname() : schueler.anschriftVornamenNachname()}">Frau Sabine und Herrn Otto Mustermann<br/>Musterstraße 123A<br/>12345 Musterstadt</p>
				</div>

				<!-- Infoblock -->
				<div th:if="${!keinInfoblock}" class="infoblock">
					<table>
						<colgroup>
							<col style="width: 23%;"/>
							<col style="width: 2%;"/>
							<col style="width: 75%;"/>
						</colgroup>
						<tr>
							<th class="ta-l">Kontakt:</th>
							<th class="ta-l"></th>
							<th class="ta-l" th:text="${Benutzer.hatLehrkraftdaten() ? Benutzer.lehrer().anredeNachname() : Benutzer.anzeigename()}">Herr Mustermann-Schuster</th>
						</tr>
						<tr>
							<td class="ta-l">Telefon:</td>
							<td class="ta-l"></td>
							<td class="ta-l" th:text="${Schule.telefon()}">01234 567 899-0</td>
						</tr>
						<tr>
							<td class="ta-l">Telefax:</td>
							<td class="ta-l"></td>
							<td class="ta-l" th:text="${Schule.fax()}">01234 567 899-99</td>
						</tr>
						<tr>
							<td class="ta-l">Webseite:</td>
							<td class="ta-l"></td>
							<td class="ta-l" th:text="${Schule.webAdresse()}">https://www.die-beste-schule-in-nrw.de</td>
						</tr>
						<tr>
							<td class="ta-l">E-Mail:</td>
							<td class="ta-l"></td>
							<td class="ta-l" th:text="${Benutzer.hatLehrkraftdaten() ? Benutzer.lehrer().emailSchule() : Schule.email()}">sekretariat@schule-email.de</td>
						</tr>
						<tr>
							<td class="ta-l">Schulnummer:</td>
							<td class="ta-l"></td>
							<td class="ta-l" th:text="${Schule.schulnummer()}">1234567</td>
						</tr>
					</table>
				</div>

				<!-- OrtUndDatum -->
				<div class="ortunddatum">
					<p th:text="${Schule.ort() + ', den ' + #aktuell.formatiert('dd.MM.yyyy')}">Düsseldorf, den 15.03.2024</p>
				</div>

				<!-- Optionales Ordnungsmerkmal: leeres, rechtsbündiges Feld zum Selbstausfüllen durch den Empfänger (siehe Hinweistext). Die Beschriftungen sitzen auf dem Rahmen und unterbrechen ihn. Wird immer gedruckt. -->
				<div class="ordnungsmerkmal-box">
					<span class="om-titel">optionales Ordnungsmerkmal</span>
					<span class="om-fussnote">(nicht von der Schule auszufüllen)</span>
				</div>

				<!-- Schreiben -->
				<div class="schreiben">
					<p class="f-bold m-b-2em">Schulbescheinigung</p>
					<!-- Formular ab Abschnitt I. -->
					<div class="formular">
						<!-- Abschnitt I.: Person und Status -->
						<div class="bescheinigung-abschnitt">
							<p class="person-satz" th:text="${schueler.vornamen() + ' ' + schueler.nachname() + ', geboren am ' + #convert.toDateDE(schueler.geburtsdatum()) + ','}">Julia Musterfrau, geboren am 23.10.2012,</p>

							<table class="status-tabelle">
								<colgroup>
									<col style="width: 7mm;"/>
									<col style="width: 55mm;"/>
									<col style="width: auto;"/>
								</colgroup>
								<tr>
									<th class="ankreuz-zelle ta-l"><img class="ankreuz" th:src="${#convert.toCheckboxSVG(istAktuell, 14)}" width="14" height="14" alt="[]"/></th>
									<th class="ta-l" colspan="2">besucht aktuell unsere Schule:</th>
								</tr>
								<tr>
									<td></td>
									<td class="label ta-l">aktuelles Datum</td>
									<td class="ta-l" th:with="wert=${istAktuell ? #aktuell.formatiert('dd.MM.yyyy') : ''}"><span class="formularfeld"><span th:if="${wert.isEmpty()}" class="formularfeld-strich"></span><span th:unless="${wert.isEmpty()}" th:text="${wert}"></span></span>,</td>
								</tr>
								<tr class="zeile-abstand-klein">
									<td></td>
									<td class="label ta-l">voraussichtlich bis</td>
									<td class="ta-l" th:with="wert=${(istAktuell && schueler.aktuellerLernabschnitt() != null && !schueler.aktuellerLernabschnitt().jahrVoraussichtlicheEntlassung().isEmpty()) ? ('31.07.' + schueler.aktuellerLernabschnitt().jahrVoraussichtlicheEntlassung()) : ''}"><span class="formularfeld"><span th:if="${wert.isEmpty()}" class="formularfeld-strich"></span><span th:unless="${wert.isEmpty()}" th:text="${wert}"></span></span>.</td>
								</tr>
								<tr class="zeile-abstand">
									<td class="ankreuz-zelle ta-l"><img class="ankreuz" th:src="${#convert.toCheckboxSVG(!istAktuell, 14)}" width="14" height="14" alt="[]"/></td>
									<td class="label ta-l">besuchte unsere Schule bis zum</td>
									<td class="ta-l" th:with="wert=${(!istAktuell && schueler.schulbesuch() != null) ? #convert.toDateDE(schueler.schulbesuch().entlassungDatum()) : ''}"><span class="formularfeld"><span th:if="${wert.isEmpty()}" class="formularfeld-strich"></span><span th:unless="${wert.isEmpty()}" th:text="${wert}"></span></span>.</td>
								</tr>
							</table>

						</div>

						<!-- Abschnitt II.: Unterschrift. Unterzeichner wird einmal definiert -->
						<div class="bescheinigung-abschnitt" th:with="unterzeichner = ${keinUnterzeichner ? 'Unterschrift' : (Benutzer.hatLehrkraftdaten() ? Benutzer.lehrer().unterschriftfeld(true, true) : Benutzer.anzeigename())}">
							<table class="unterschrift-tabelle">
								<colgroup>
									<col style="width: 45%;"/>
									<col style="width: 55%;"/>
								</colgroup>
								<tr style="height: 14mm"><td></td><td></td></tr>
								<tr>
									<th class="bo-t-grey f-very-tiny ta-l" scope="col" th:text="${unterzeichner}">Unterschrift</th>
									<th class="f-very-tiny ta-c" scope="col">(Stempel der Schule)</th>
								</tr>
							</table>
						</div>

						<!-- Hinweis zum optionalen Ordnungsmerkmal -->
						<div class="hinweis">
							<p class="f-tiny"><span class="hinweis-label">Hinweise:</span></p>
							<!-- &#173; = weiche Trennstellen (Soft Hyphen): unsichtbar, außer wenn der Blocksatz an dieser Stelle umbricht. Minimiert die Wortabstände bei langen Komposita. -->
							<p class="f-tiny">Im Feld „optionales Ord&#173;nungs&#173;merkmal“ kann von der Emp&#173;fängerin/dem Emp&#173;fänger der Be&#173;schei&#173;nigung, d.h. der Schüle&#173;rin/dem Schüler bzw. der/dem Er&#173;ziehungs&#173;berech&#173;tigten, ein Ord&#173;nungs&#173;merkmal wie z.B. eine Mit&#173;glieds&#173;nummer, eine Kinder&#173;geld&#173;nummer, eine Be&#173;darfs&#173;gemein&#173;schafts&#173;nummer, eine An&#173;schrift o.Ä. einge&#173;tragen werden, wenn und wie dies von der Stelle ge&#173;fordert ist, der die Be&#173;schei&#173;nigung vor&#173;gelegt werden soll. (Dieses Feld ist nicht von der Schule aus&#173;zufüllen und der Inhalt dieses Feldes wird nicht von der Schule be&#173;scheinigt.)</p>
							<p class="f-tiny">Das unter "voraussichtlich bis" genannte Enddatum entspricht dem rechnerischen Ende des aktuell besuchten Bildungsgangs.</p>
						</div>
					</div>
				</div>

					<!-- QR-Codes der signierten Schulbescheinigung am Seitenende. Direkt im (relativen) Seitenrahmen verankert.
						 bottom: -10mm schiebt den Block 10 mm unter die Seitenrahmen-Unterkante; das passt jetzt, weil der untere
						 Seitenrand in dieser Vorlage auf 10 mm reduziert ist (siehe @page in der CSS). -->
					<!-- WICHTIG: th:with und th:if NICHT auf dasselbe Element setzen - th:if hat höhere Präzedenz und liefe vor der Definition von qr. -->
					<div th:if="${mitDigitaleSignatur}" style="position: absolute; bottom: -10mm; left: 15mm;" th:with="qr = ${schueler.schulbescheinigungQrDaten()}">
						<th:block th:if="${qr != null}">
							<div th:if="${qr.istSigniert()}">
								<table class="qr-tabelle">
									<tr>
										<!-- Explizite mm-Maße am img (aus den Vorlage-Parametern): die intrinsische SVG-Größe wird von Renderern wie openhtmltopdf nicht zuverlässig honoriert. -->
										<th><img th:style="'width: ' + ${qrCodeBreite} + 'mm; height: ' + ${qrCodeHoehe} + 'mm;'" th:src="${qr.qr1Svg()}" alt="QR-Code mit dem Inhalt der Schulbescheinigung"/></th>
										<th style="width: 20mm;"></th>
										<th><img th:style="'width: ' + ${qrCodeBreite} + 'mm; height: ' + ${qrCodeHoehe} + 'mm;'" th:src="${qr.qr2Svg()}" alt="QR-Code mit der Signatur der Schulbescheinigung"/></th>
									</tr>
									<tr>
										<td class="f-very-tiny qr-beschriftung"><span class="qr-nr">1</span> xschule.schueler.schulbescheinigung.xml.gz.base45</td>
										<td></td>
										<td class="f-very-tiny qr-beschriftung"><span class="qr-nr">2</span> signature_cms.p7s.gz.base45</td>
									</tr>
								</table>
							</div>
							<th:block th:unless="${qr.istSigniert()}">
								<!-- Statt eines halben Signaturblocks erscheinen zwei identische Fehlerbilder mit einem festen Text je Fehlerart.
									 Technische Fehlertexte stehen nie auf der Bescheinigung; sie stehen im Server-Log. -->
								<table class="qr-tabelle">
									<tr>
										<th><img th:style="'width: ' + ${qrCodeBreite} + 'mm; height: ' + ${qrCodeHoehe} + 'mm; border: 0.3mm solid #888888; padding: 1.5mm; box-sizing: border-box;'" th:src="${#icon.getSrc('error_warning', '#444444')}" alt="Kein QR-Code: Die Bescheinigung ist nicht digital signiert"/></th>
										<th style="width: 20mm;"></th>
										<th><img th:style="'width: ' + ${qrCodeBreite} + 'mm; height: ' + ${qrCodeHoehe} + 'mm; border: 0.3mm solid #888888; padding: 1.5mm; box-sizing: border-box;'" th:src="${#icon.getSrc('error_warning', '#444444')}" alt="Kein QR-Code: Die Bescheinigung ist nicht digital signiert"/></th>
									</tr>
								</table>
								<p class="f-tiny" th:text="${qr.hatDatenfehler()} ? 'Diese Bescheinigung wurde aufgrund fehlender oder fehlerhafter Daten ohne digitale Signatur ausgestellt.' : 'Diese Bescheinigung wurde aufgrund eines Fehlers im Signierprozess ohne digitale Signatur ausgestellt.'">Hinweis zur fehlenden Signatur</p>
							</th:block>
						</th:block>
					</div>
			</div>

			</th:block>
		</th:block>
	</body>
</html>
