@Page {
	size: A4 portrait;
	margin-top: 4mm;
	margin-left: 10mm;
	margin-right: 10mm;
	margin-bottom: 10mm;

	/*noinspection CssNoGenericFontName*/
	font-family: "liberation";

	/* Boxen im Seitenrand. Für die Einträge in den Seitenköpfen und -füßen wird pro Bereich im body der
	   html-Datei ein div definiert, die als Running Header bzw. Footer in den @page-Boxen eingefügt werden sollen.
	############################################################################################################### */
	@top-left {
		content: element(pageTopLeft);
		padding-top: 2mm;
		padding-left: 2mm;
	}

	@top-right {
		content: element(pageTopRight);
		padding-top: 2mm;
		padding-right: 2mm;
	}

	@bottom-left {
		content: element(pageBottomLeft);
		padding-bottom: 2mm;
		padding-left: 2mm;
	}

	@bottom-right {
		content: element(pageBottomRight);
		padding-bottom: 2mm;
		padding-right: 2mm;
	}
}


/* Für die Einträge in den Seitenköpfen und -füßen wird pro Bereich im body der html-Datei ein div definiert,
   die als Running Header bzw. Footer in den @page-Boxen eingefügt werden sollen.
############################################################################################################### */
.pageTopLeft {
	position: running(pageTopLeft);
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: grey;
}

.pageTopRight {
	position: running(pageTopRight);
	text-align: right;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: grey;
}

.pageBottomLeft {
	position: running(pageBottomLeft);
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: grey;
}

.pageBottomRight {
	position: running(pageBottomRight);
	text-align: right;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: grey;
}


/* Um evtl. Zähler im div einzufügen, ergänze einen span, an den die Zähler angehängt werden. */
span.counter-print { padding: 0; margin: 0; }
span.counter-print:after { content: ''; }


/* Seitenumbrüche: Wenn Style angewendet wird, wird davor ein Seitenumbruch eingefügt.
   Ausnahme ist die erste Seite.
############################################################################################################### */
.start-new-page { page-break-before: always; }
.start-new-page:first-child { page-break-before: avoid; }
.no-new-page { page-break-before: avoid; page-break-after: avoid; }

/* Definitionen body: Festlegen der Schrift mit Unicode Unterstützung.
############################################################################################################### */
body {
	/*noinspection CssNoGenericFontName*/
	font-family: 'liberation';
	font-weight: normal;
	font-size: 9pt;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


/* Definitionen für Text-Elemente
############################################################################################################### */
h1 { font-size: 14pt; font-weight: bold; margin-top: 1em; margin-bottom: 0.1em;}
h2 { font-size: 13pt; font-weight: bold; margin-top: 0.8em; margin-bottom: 0.1em;}
h3 { font-size: 12pt; font-weight: bold; margin-top: 0.6em; margin-bottom: 0.1em;}
h4 { font-size: 11pt; font-weight: bold; margin-top: 0.5em; margin-bottom: 0.1em;}
p	{ margin-top: 0em; margin-bottom: 0; margin-left: 0; margin-right: 0; padding: 0;	}
ul 	{ margin-top: 0em; margin-bottom: 0; margin-left: 1em; margin-right: 0; padding: 0;	}
sup { vertical-align: 0.6em; font-size: 0.75em; }

.no-mt { margin-top: 0 }

.f-bold { font-weight: bold; }
.f-ital { font-style: italic; }

.small { font-size: 0.9em; }
.tiny { font-size: 0.8em; }
.very-tiny { font-size: 0.7em; }

.ta-lt { text-align: left; vertical-align: top; }
.ta-ct { text-align: center; vertical-align: top; }
.ta-rt { text-align: right; vertical-align: top; }
.ta-lm { text-align: left; vertical-align: middle; }
.ta-cm { text-align: center; vertical-align: middle; }
.ta-rm { text-align: right; vertical-align: middle; }
.ta-lb { text-align: left; vertical-align: bottom; }
.ta-cb { text-align: center; vertical-align: bottom; }
.ta-rb { text-align: right; vertical-align: bottom; }

/* Definitionen für Tabellen
############################################################################################################### */
table {
	border-spacing: 0;
	border-collapse: collapse;
}

thead {
	display: table-header-group;
	page-break-inside: avoid;
}

tfoot {
	page-break-inside: avoid;
}

tr {
	page-break-inside: avoid;
}

.fixed-layout-100 { width: 100%; table-layout:fixed; }
.zero-height { height: 0; }

.bo-black { border: 0.5px solid black; }
.bo-t-black { border-top: 0.5px solid black; }
.bo-b-black { border-bottom: 0.5px solid black; }
.bo-tb-black { border-top: 0.5px solid black; border-bottom: 0.5px solid black; }
.bo-l-black { border-left: 0.5px solid black; }
.bo-r-black { border-right: 0.5px solid black; }
.bo-lr-black { border-left: 0.5px solid black; border-right: 0.5px solid black; }

.bg-lightgrey { background-color: #DADADA; }
.bg-lightyellow { background-color: #FFFDAF; }

.marg-0 { margin: 0; }

.pad-0 { padding: 0; }

.pad-2 { padding: 2mm; }
.pad-2t { padding-top: 2mm; }
.pad-2l { padding-left: 2mm; }
.pad-2r { padding-right: 2mm; }
.pad-2b { padding-bottom: 2mm; }

.pad-1122 { padding: 1mm 2mm; }
.pad-3322 { padding: 3mm 2mm; }

.pad-4 { padding: 4mm; }
.pad-4t { padding-top: 4mm; }
.pad-4l { padding-left: 4mm; }
.pad-4r { padding-right: 4mm; }
.pad-4b { padding-bottom: 4mm; }

