<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:with="istDruckausgabe = ${Parameter.istDruckausgabe()}">
	<head th:replace="~{fragments/reportHtmlHead :: htmlHead(
		title='Fachwahlstatistiken',
		htmlTemplatePfad=${Parameter.htmlTemplateDefinition().getPfadHtmlTemplate()},
		namePageCSS='reporting-A4-hoch.css')}">
		<title></title>
	</head>

	<body>
		<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
		<!--headerRight: Der Abschnitt und die Schulnummer werden über das Fragment hinzugefügt-->
		<th:block th:replace="~{fragments/reportPageHeaderFooter :: pageHeaderFooter(
			headerRight='Fachwahlstatistiken')}">
		</th:block>
		<!--Ende: Definition Seitenköpfe und Seitenfüße -->

		<table class="fixed-100 p-0">
			<thead>
				<tr>
					<th class="bo-b-grey"><h2 th:text="'Laufbahnplanung Abitur ' + ${GostLaufbahnplanungAbiturjahrgangFachwahlstatistikenAbiturjahr} + ' - Übersicht der Fachwahlen'">Laufbahnplanung Abitur 2024 - Übersicht der Fachwahlen</h2></th>
				</tr>
			</thead>
		</table>

		<table class="fixed-100" style="margin-top: 20px; margin-bottom: 20px; border-collapse: collapse;">
			<colgroup>
				<col style="width: 15%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
				<col style="width: 5%;" />
			</colgroup>
			<thead>
				<tr>
					<th class="ta-l f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0"></th>
					<th colspan="2" class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">EF.1</th>
					<th colspan="2" class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">EF.2</th>
					<th colspan="2" class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">Q1.1</th>
					<th colspan="2" class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">Q1.2</th>
					<th colspan="3" class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">Q2.1</th>
					<th colspan="3" class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid; border-right: 1px grey solid;">Q2.2</th>
					<th colspan="3" class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid; border-right: 1px grey solid;">Abitur</th>
				</tr>
				<tr>
					<td class="ta-l f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">Fach</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">G</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">S</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">G</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">S</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">G</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">S</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">G</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">S</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">G</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">S</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">Z</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">G</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">S</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">Z</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;">L</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0">3</td>
					<td class="ta-c f-bold bo-b-black-strong p-tb-0 p-lr-1 m-0" style="border-right: 1px grey solid;">4</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fachwahlstatistik : ${GostLaufbahnplanungAbiturjahrgangFachwahlstatistiken}" th:style="'background-color: ' + ${fachwahlstatistik.fach().statistikfach().htmlFarbeRGB()} + ';'">
					<td class="ta-l bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.fach().kuerzel()}">D</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${fachwahlstatistik.ef1().wahlenGK()}">87</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.ef1().wahlenGKSchriftlich()}">47</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${fachwahlstatistik.ef2().wahlenGK()}">87</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.ef2().wahlenGKSchriftlich()}">47</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${fachwahlstatistik.q11().wahlenGK()}">87</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.q11().wahlenGKSchriftlich()}">47</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${fachwahlstatistik.q12().wahlenGK()}">87</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.q12().wahlenGKSchriftlich()}">47</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${fachwahlstatistik.q21().wahlenGK()}">87</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.q21().wahlenGKSchriftlich()}">47</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.q21().wahlenZK()}">40</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${fachwahlstatistik.q22().wahlenGK()}">87</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.q22().wahlenGKSchriftlich()}">47</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.q22().wahlenZK()}">40</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-left: 1px grey solid;" th:text="${fachwahlstatistik.q22().wahlenLK()}">42</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" th:text="${fachwahlstatistik.q22().wahlenAB3()}">87</td>
					<td class="ta-c bo-b-grey p-tb-0 p-lr-1 m-0" style="border-right: 1px grey solid;" th:text="${fachwahlstatistik.q22().wahlenAB4()}">47</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
