@Page {
	size: A4 portrait;
	margin: 10mm 10mm 20mm 10mm;

	/* Boxen im Seitenrand. Für die Einträge in den Seitenköpfen und -füßen wird pro Bereich im body der
	   html-Datei ein div definiert, die als Running Header bzw. Footer in den @page-Boxen eingefügt werden sollen.
	############################################################################################################### */
	@top-left {
		content: element(pageTopLeft);
		padding-top: 0;
		padding-left: 0;
	}

	@top-right {
		content: element(pageTopRight);
		padding-top: 0;
		padding-right: 0;
	}

	@left-middle {
		content: element(pageLeftMiddle);
		padding-top: 0;
		padding-left: 0;
	}

	@bottom-center {
		content: element(pageBottomCenter);
		padding-bottom: 1mm;
		padding-left: 0;
		padding-right: 0;
	}

	@bottom-left {
		content: element(pageBottomLeft);
		padding-bottom: 1mm;
		padding-left: 0;
	}

	@bottom-right {
		content: element(pageBottomRight);
		padding-bottom: 1mm;
		padding-right: 0;
	}
}

/* Für die Einträge in den Seitenköpfen und -füßen wird pro Bereich im body der html-Datei ein div definiert,
   die als Running Header bzw. Footer in den @page-Boxen eingefügt werden sollen.
############################################################################################################### */
.pageTopLeft {
	position: running(pageTopLeft);
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: #808080;
}

.pageTopRight {
	position: running(pageTopRight);
	text-align: right;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: #808080;
}

.pageLeftMiddle {
	position: running(pageLeftMiddle);
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: #808080;
}

.pageBottomLeft {
	position: running(pageBottomLeft);
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: #808080;
}


.pageBottomCenter {
	position: running(pageBottomCenter);
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: grey;
}

.pageBottomRight {
	position: running(pageBottomRight);
	text-align: right;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 7pt;
	color: #808080;
}


/* Seitenumbrüche: Wenn Style angewendet wird, wird beim Druck ein Seitenumbruch eingefügt, evtl. mit Ausnahme.
############################################################################################################### */
.start-new-page {
	page-break-before: always;
}
.start-new-page:first-child {
	page-break-before: avoid;
}


/* Um evtl. Zähler im div einzufügen, ergänze einen span, an den die Zähler angehängt werden.
############################################################################################################### */
span.page-num-print {
	padding: 0;
	margin: 0;
}
span.page-num-print:after {
	content: counter(page);
}
span.page-nums-print {
	padding: 0;
	margin: 0;
}
span.page-nums-print:after {
	content: counter(page) " von " counter(pages);
}


/* Elemente für Schreiben nach DIN5008
############################################################################################################### */
.briefkopfbereich {
	/* Umfasst den gesamten Briefkopf, z. B. für ein Bild als Ersatz */
	position: absolute;
	top: 0;
	left: 0;
	width: 190mm;
	height: 35mm;
}

.absenderanschrift {
	position: absolute;
	top: 0;
	left: 15mm;
	width: 85mm;
	height: 35mm;
}

.schullogo {
	position: absolute;
	top: 0;
	left: 115mm;
	width: 75mm;
	height: 35mm;
	text-align: right
}

.ruecksendeinformationen {
	position: absolute;
	top: 37mm;
	left: 15mm;
	width: 73mm;
	height: 5mm;
}

.versandinformationen {
	position: absolute;
	top: 42mm;
	left: 15mm;
	width: 73mm;
	height: 5mm;
}

.infoblock {
	position: absolute;
	top: 40mm;
	left: 115mm;
	width: 75mm;
	height: 35mm;
}

.empfaengeranschrift {
	position: absolute;
	top: 47mm;
	left: 15mm;
	width: 73mm;
	height: 31mm;
}

.ortunddatum {
	position: absolute;
	top: 75mm;
	left: 115mm;
	width: 75mm;
	height: 5mm;
}

.schreiben {
	position: absolute;
	top: 89mm;
	left: 15mm;
	width: 165mm;
}

.faltmarke1 {
	position: absolute;
	top: 95mm;
	left: 0;
	width: 6mm;
	border-width: 0.5px;
	border-color: #404040;
}

.faltmarke2 {
	position: absolute;
	top: 200mm;
	left: 0;
	width: 6mm;
	border-width: 0.5px;
	border-color: #404040;
}

.lochmarke {
	position: absolute;
	top: 138.5mm;
	left: 0;
	width: 8mm;
	border-width: 0.5px;
	border-color: #404040;
}
