.radio--label {
	@apply cursor-pointer relative;
	@apply select-none;
	@apply text-button;

	&:focus-within input {
		@apply rounded;
		outline-color: var(--color-ring-ui-brand);
	}
}

.radio--label--text {
	@apply flex items-center rounded-md;
	@apply gap-x-1 py-1.5 pr-3 pl-7;
	min-height: 1.25rem;

	.radio--label--no-text & {
		padding-left: 1.5em;
	}

	.radio--icon-type-view:not(.radio--label--checked) & {
		padding-left: 0.75em;
	}

	.radio--row .radio--label--no-icon & {
		padding-left: 0.75em;
	}
}

.radio--label:hover {
	.radio--label--text {
		@apply bg-ui-hover text-ui-hover;
	}

	.radio--indicator ~ .radio--indicator-icon {
		@apply opacity-100;
	}
}

.radio--indicator {
	@apply appearance-none absolute inset-0 w-full h-full pointer-events-none;
}

.radio--indicator:checked ~ .radio--label--text,
.radio--label--checked .radio--label--text {
	@apply bg-ui-selected text-ui-onselected;

	.svws-sub-nav-target & {
		@apply bg-ui;
	}
}

.radio--indicator ~ .radio--indicator-icon {
	@apply absolute inset-0 opacity-70 pointer-events-none left-1.5 top-1.5 w-5 h-5;
}

.radio--label:not(.radio--label--checked) .radio--indicator-icon .radio--indicator-icon--checked {
	@apply hidden;
}

.radio--indicator:checked ~ .radio--indicator-icon,
.radio--label--checked .radio--indicator-icon {
	@apply opacity-100 text-ui-brand;

	.icon {
		@apply icon-ui-onselected;
	}
}

.radio--indicator:checked ~ .radio--indicator-icon,
.radio--label--checked .radio--indicator-icon {
	.radio--indicator-icon--blank {
		@apply hidden;
	}

	.radio--indicator-icon--checked {
		@apply block;
	}
}

.radio--statistic-icon {
	@apply icon-ui-statistic;
	@apply pointer-events-auto -my-0.5;
}

.radio--label--disabled {
	@apply cursor-not-allowed pointer-events-none;

	.radio--statistic-icon {
		@apply icon-ui-disabled;
	}

	.radio--label--text {
		@apply bg-ui-disabled text-ui-disabled;
	}

	.icon {
		@apply opacity-50;
	}

	.radio--indicator:checked ~ .radio--indicator-icon,
	&.radio--label--checked .radio--indicator-icon {
		@apply text-ui-disabled;

		.radio--statistics &,
		.page--statistik & {
			@apply text-ui-disabled;
		}
	}

	.radio--indicator:checked ~ .radio--label--text,
	&.radio--label--checked .radio--label--text {
		@apply bg-ui-disabled text-ui-disabled;

		.radio--statistics &,
		.page--statistik & {
			@apply bg-ui-disabled text-ui-disabled;
		}
	}
}
