.ui-docs-bg {
	@apply px-1 py-0.5;
}

html:not(.htw-dark) .ui-docs-bg {
	@apply bg-ui-neutral text-ui-contrast-100;
}

html:not(.htw-dark) .ui-docs-bg.dark {
	@apply bg-ui-contrast-0 text-ui-contrast-100;
	color-scheme: dark;
}

.htw-dark .ui-docs-bg.dark {
	display: none;
}

.contrast-value {
	@apply ml-auto;
}

.darkOnDisabled {
	@apply relative;
}
.darkOnDisabled:before {
	content: '';
	@apply absolute inset-0 -z-10;
	@apply bg-ui-neutral
}

.ui-docs-color-swatch,
.ui-docs-preview-checkbox {
	@apply p-2 w-12 h-8 rounded-lg;
}