.notification {
	@apply bg-ui text-ui border border-ui-neutral;
	@apply flex flex-col shrink-0;
	@apply w-full;
	@apply relative z-40;
	@apply rounded-lg overflow-hidden;
	@apply shadow-xl;
	@apply text-base pointer-events-auto;
	@apply font-bold;
	transition: transform 0.2s ease-out;

	.notification--icon {
		@apply opacity-75;

		span {
			@apply inline-block -my-1;
		}
	}

	.button:not(.button--secondary), .button--icon {
		@apply rounded-md;

		&:hover {
			@apply ring-0 bg-ui;
		}
	}
}

.notification--info {
	@apply dark:bg-ui-neutral-weak;
}

.notification--success,
.notification--error,
.dark .notification--info,
.htw-dark .notification--info {
	span.icon {
		-webkit-filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
		filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
	}
	/* TODO: COLORS icon */
}

.notification--error {
	@apply bg-ui-danger text-ui-ondanger border-ui-danger;

	.notification--icon {
		@apply animate-pulse opacity-100;
	}
}

.notification--success {
	@apply bg-ui-success text-ui-onsuccess border-ui-success;
}

.notification--warning {
	@apply bg-ui-warning text-ui-onwarning border-ui-warning;

	.dark & span.icon,
	.htw-dark & span.icon {
		-webkit-filter: none;
		filter: none;
	}
}

.notification--content-wrapper {
	@apply h-full overflow-y-auto w-full;
	-webkit-overflow-scrolling: touch;
}

.notification--wrapper {
	@apply fixed inset-0 z-50;
	@apply overflow-y-auto;
}

.notification--content {
	@apply grow flex flex-wrap gap-x-1;
	@apply px-3 py-2 overflow-hidden;

	.notification--icon {
		@apply inline-block text-base leading-none;
	}

	.notification--text {
		@apply text-base font-bold;
	}

	.notification--stack {
		@apply whitespace-pre-wrap bg-ui-black mt-2 -mb-2 -mx-3 p-3 font-mono overflow-auto min-w-full rounded-b-md;
	}
}

.notification--content--has-header {
	.notification--icon {
		@apply text-headline-sm;
	}

	.notification--header {
		@apply w-auto text-headline-sm font-bold mb-0.5;
	}

	.notification--text {
		@apply w-full font-medium break-words;
	}
}

.notification .notification--content-wrapper .notification--close-button {
	@apply w-6 h-6 inline-flex items-center justify-center p-0 opacity-75;

	&:hover,
	&:focus-visible {
		@apply bg-ui opacity-100;

		span.icon {
			-webkit-filter: none;
			filter: none;

			.dark &,
			.htw-dark & {
				-webkit-filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
				filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
			}
		}
	}
}

.notification--info .notification--content-wrapper .notification--close-button {
	@apply border border-transparent;

	&:hover,
	&:focus-visible {
		@apply bg-ui-hover border-ui-neutral-hover;

		span.icon {
			-webkit-filter: none;
			filter: none;

			.dark &,
			.htw-dark & {
				-webkit-filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
				filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
			}
		}
	}
}

.notification--send-button,
.notification--details-button,
.notification--copy-button {
	&:hover,
	&:focus-visible {
		@apply !bg-ui !text-ui;

		.dark &,
		.htw-dark & {
			@apply !border-ui-dark-gray;
		}

		span.icon {
			-webkit-filter: none;
			filter: none;

			.dark &,
			.htw-dark & {
				-webkit-filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
				filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
			}
		}
	}
}

.notification--details-button,
.notification--copy-button {
	@apply flex items-center gap-1 text-sm font-bold px-2 rounded-md;

	span.icon {
		@apply w-5 h-5 inline-block -mr-1;
	}
}

.notification--details-button {
	@apply ml-auto;
}
