.svws-ui-avatar {
	@apply relative;

	.avatar--edit-trigger {
		@apply bg-ui border border-ui-neutral;
		@apply w-6 h-6 p-0.5 rounded-sm mt-auto ml-auto -mr-1.5 -mb-0.5;
		/* TODO: COLORS icon */
	}
}

.avatar {
	@apply bg-ui-neutral border border-ui;
	@apply w-full rounded-xl overflow-hidden relative;
	padding-bottom: 100%;


	svg {
		@apply text-ui-secondary opacity-50;
		@apply absolute -bottom-0.5 w-full h-5/6;
		margin-bottom: -5%;
	}

	img,
	video {
		@apply w-full h-full absolute top-0 left-0 object-cover object-center z-10;
	}

	video {
		@apply bg-ui-neutral;
	}

	.is-capturing & {
		@apply opacity-100;
	}
}

.avatar--has-image {
	@apply border-transparent;
}

.avatar--edit {
	@apply absolute top-0 left-0 z-20 w-full h-full;
	@apply flex items-center justify-center;

	.is-capturing & {
		@apply hidden;
	}

	.button {
		@apply hidden;
	}

	.button--icon {
		padding: 0.4rem;
	}

	&:hover,
	&:focus,
	&:focus-within {
		@apply outline-hidden bg-ui rounded-xl border border-ui-disabled;

		.avatar--edit-trigger {
			@apply hidden;
		}

		.button {
			@apply block;
		}
	}

	&:focus-visible {
		+ .avatar {
			@apply ring-3 ring-ui-brand;
		}
	}
}

.avatar--capture-control {
	@apply flex items-center justify-center gap-1 mt-4;
}

.is-capturing {
	@apply bg-ui;
	@apply fixed z-50 h-screen;
	@apply flex flex-col justify-center items-center;

	.avatar {
		@apply p-0 -order-1 border-none;
		@apply rounded-3xl;
		width: 90vmin;
		height: 90vmin;
		@apply md:w-[37.5rem] md:h-[37.5rem];
	}
}
