<html lang="de" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Kursplanung - Kurs mit Teilnehmern</title>
		<link rel="stylesheet" href="SchuelerWahlbogen.css" />
	</head>

	<body>
		<div class="start-new-page" th:each="SchuelerLaufbahndaten,itStatSchueler : ${LaufbahnplanungSchueler}">
			<!--Beginn: Definition der Seitenköpfe und Seitenfüße. Diese werden per CSS in den @page-Boxen positioniert-->
			<div class="pageTopLeft" th:utext="${(Schule.bezeichnung1 != null) ? Schule.bezeichnung1 : ''} + '<br/>' + ${(Schule.bezeichnung2 != null) ? Schule.bezeichnung2 : ''} + '<br/>' + ${(Schule.bezeichnung3 != null) ? Schule.bezeichnung3 : ''}">schulbezeichnung1<br/>schulbezeichnung2<br/>schulbezeichnung3</div>
			<div class="pageTopRight" th:utext="'Abitur ' + ${SchuelerLaufbahndaten.Abiturjahr} + ' - ' + ${SchuelerLaufbahndaten.AktuellesGOStHalbjahr} + '<br/> Wahl ab ' +  ${SchuelerLaufbahndaten.BeratungsGOStHalbjahr} + '<br/>' + ${SchuelerLaufbahndaten.Pruefungsordnung}">Abitur 2023<br/>Q1.2 Wahl ab Q2.1<br/>APO-GOSt</div>
			<div class="pageBottomLeft" th:text="'Gedruckt am ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}">Gedruckt am: 02.02.2022</div>
			<div class="pageBottomRight"><span class="counter-print" th:text="'Gesamtdruck Wahlbogen ' + ${itStatSchueler.count} + '/' + ${#lists.size(LaufbahnplanungSchueler)}">Gesamtdruck Wahlbogen 13/57</span></div>
			<!--Ende: Definition Seitenköpfe und Seitenfüße -->

			<table  class="fixed-layout-100 no-space-pad">
				<tr>
					<td style="width: 50%; text-align: left; font-size: 7pt; vertical-align: top;"></td>
					<td style="width: 50%; text-align: right; font-size: 7pt; color: grey; vertical-align: top;" th:text="'Klasse: ' + ${SchuelerLaufbahndaten.AktuelleKlasse}">Klasse: Q1</td>
				</tr>
				<tr>
					<td style="width: 25%; border-bottom: 1px grey solid; text-align: left; vertical-align: middle;"><h3>Wahlbogen <span th:if="${DruckparameterNurBelegteFaecher}" class="very-tiny">(nur belegte Fächer)</span></h3></td>
					<td style="width: 75%; border-bottom: 1px grey solid; text-align: right; vertical-align: middle"><h3 th:text="${SchuelerLaufbahndaten.Nachname + ', ' + SchuelerLaufbahndaten.Vorname}">Musterfrau, Anna</h3></td>
				</tr>
			</table>
			<p th:if="${!#strings.isEmpty(SchuelerLaufbahndaten.Beratungsbogentext)}" th:text="${SchuelerLaufbahndaten.Beratungsbogentext}">Text der Schule für den Beratungsbogen.</p>
			<table class="fixed-layout-100" style="margin-top: 20px; margin-bottom: 20px; border-collapse: collapse;">
				<colgroup>
					<col style="width: 8%;" />
					<col style="width: 35%;" />
					<col style="width: 15%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
					<col style="width: 6%;" />
				</colgroup>
				<thead>
					<tr>
						<td colspan="2" class="kopffachbezeichnung kompakt">Fach</td>
						<td class="kopffachdetails kompakt" style="border-left: 1px grey solid;">Fremdsprache</td>
						<td class="kopffachdetails kompakt" style="border-left: 1px grey solid;">EF.1</td>
						<td class="kopffachdetails kompakt">EF.2</td>
						<td class="kopffachdetails kompakt" style="border-left: 1px grey solid;">Q1.1</td>
						<td class="kopffachdetails kompakt">Q1.2</td>
						<td class="kopffachdetails kompakt">Q2.1</td>
						<td class="kopffachdetails kompakt">Q2.2</td>
						<td class="kopffachdetails kompakt" style="border-left: 1px grey solid; border-right: 1px grey solid;">Abitur</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Fachwahl : ${SchuelerLaufbahndaten.Fachwahlen}" th:if="${!DruckparameterNurBelegteFaecher || Fachwahl.FachIstBelegtInGOSt}"  th:style="'background-color: rgb(' + ${Fachwahl.FarbeClientRGB} + ');'">
						<td class="fachbezeichnung kompakt" th:text="${Fachwahl.Kuerzel}"><b>D</b></td>
						<td class="fachbezeichnung kompakt" th:text="${Fachwahl.Bezeichnung}"><b>Deutsch</b></td>
						<td class="fachdetails kompakt" style="border-left: 1px grey solid;" th:switch="${Fachwahl.JahrgangFremdsprachenbeginn}">
							<span th:case="'HSU'">HSU-Prüfung</span>
							<span th:case="'SFP'">Festst.prüf.</span>
							<span th:case="*" th:if="${!#strings.isEmpty(Fachwahl.JahrgangFremdsprachenbeginn)}" th:text="${Fachwahl.PositionFremdsprachenfolge} + ' (ab Jg. ' + ${Fachwahl.JahrgangFremdsprachenbeginn} + ')'">2 (ab Jg. 7)</span>
						</td>
						<td class="fachdetails kompakt" style="border-left: 1px grey solid;" th:text="${Fachwahl.BelegungEF1}">S</td>
						<td class="fachdetails kompakt" th:text="${Fachwahl.BelegungEF2}">S</td>
						<td class="fachdetails kompakt" style="border-left: 1px grey solid;" th:text="${Fachwahl.BelegungQ11}">LK</td>
						<td class="fachdetails kompakt" th:text="${Fachwahl.BelegungQ12}">LK</td>
						<td class="fachdetails kompakt" th:text="${Fachwahl.BelegungQ21}">LK</td>
						<td class="fachdetails kompakt" th:text="${Fachwahl.BelegungQ22}">LK</td>
						<td class="fachdetails kompakt" style="border-left: 1px grey solid; border-right: 1px grey solid;" th:text="${Fachwahl.Abiturfach}">1</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" class="kompakt bot-black" style="padding-right: 6px; text-align: right;"><b>Anzahl anrechenbare Kurse:</b></td>
						<td class="kompakt ta-c bot-black bol-grey bob-grey" style="border-left: 1px grey solid;" th:text="${SchuelerLaufbahndaten.KursanzahlEF1}">12</td>
						<td class="kompakt ta-c bot-black bol-grey bob-grey" th:text="${SchuelerLaufbahndaten.KursanzahlEF2}">11</td>
						<td class="kompakt ta-c bot-black bol-grey bob-grey bg-lightyellow" style="border-left: 1px grey solid;" th:text="${SchuelerLaufbahndaten.KursanzahlQ11}">11</td>
						<td class="kompakt ta-c bot-black bol-grey bob-grey bg-lightyellow" th:text="${SchuelerLaufbahndaten.KursanzahlQ12}">10</td>
						<td class="kompakt ta-c bot-black bol-grey bob-grey bg-lightyellow" th:text="${SchuelerLaufbahndaten.KursanzahlQ21}">10</td>
						<td class="kompakt ta-c bot-black bol-grey bob-grey bg-lightyellow" th:text="${SchuelerLaufbahndaten.KursanzahlQ22}">10</td>
						<td class="kompakt ta-c bot-black bol-grey bob-grey bg-lightyellow" style="border-left: 1px grey solid; border-right: 1px grey solid;" th:text="${SchuelerLaufbahndaten.KursanzahlQPh}"><b>41</b></td>
					</tr>
					<tr>
						<td colspan="3" class="kompakt" style="padding-right: 6px; text-align: right;"><b>Wochenstundensumme:</b></td>
						<td class="kompakt ta-c bo-grey" style="border-left: 1px grey solid;" th:text="${SchuelerLaufbahndaten.WochenstundenEF1}">36</td>
						<td class="kompakt ta-c bo-grey" th:text="${SchuelerLaufbahndaten.WochenstundenEF2}">33</td>
						<td class="kompakt ta-c bo-grey" style="border-left: 1px grey solid;" th:text="${SchuelerLaufbahndaten.WochenstundenQ11}">37</td>
						<td class="kompakt ta-c bo-grey" th:text="${SchuelerLaufbahndaten.WochenstundenQ12}">34</td>
						<td class="kompakt ta-c bo-grey" th:text="${SchuelerLaufbahndaten.WochenstundenQ21}">34</td>
						<td class="kompakt ta-c bo-grey" th:text="${SchuelerLaufbahndaten.WochenstundenQ22}">34</td>
						<td rowspan="2" class="kompakt ta-c  bo-grey" style="border-left: 1px grey solid; border-right: 1px grey solid; vertical-align: middle;" th:text="${#numbers.formatDecimal(SchuelerLaufbahndaten.WochenstundenGesamt, 1, 1)}"><b>104,0</b></td>
					</tr>
					<tr>
						<td colspan="3" class="kompakt small ta-c" style="padding-right: 6px; text-align: right;">(pro Schuljahr)</td>
						<td colspan="2" class="kompakt small ta-c bo-grey" style="border-left: 1px grey solid;" th:text="${#numbers.formatDecimal(SchuelerLaufbahndaten.WochenstundenDurchschnittEF, 1, 1)}">34,5</td>
						<td colspan="2" class="kompakt small ta-c bo-grey" style="border-left: 1px grey solid;" th:text="${#numbers.formatDecimal(SchuelerLaufbahndaten.WochenstundenDurchschnittQ1, 1, 1)}">35,5</td>
						<td colspan="2" class="kompakt small ta-c bo-grey" th:text="${#numbers.formatDecimal(SchuelerLaufbahndaten.WochenstundenDurchschnittQ2, 1, 1)}">34,0</td>
					</tr>
					<tr>
						<td colspan="3" class="kompakt" style="padding-right: 6px; text-align: right;"><b>Wochenstundendurchschnitt:</b></td>
						<td colspan="2" class="kompakt ta-c bo-grey" style="border-left: 1px grey solid;" th:text="${#numbers.formatDecimal(SchuelerLaufbahndaten.WochenstundenDurchschnittEF, 1, 1)}"><b>34,5</b></td>
						<td colspan="4" class="kompakt ta-c bo-grey" style="border-left: 1px grey solid;" th:text="${#numbers.formatDecimal(SchuelerLaufbahndaten.WochenstundenDurchschnittQPh, 1, 2)}"><b>34,75</b></td>
						<td class="kompakt" style="border-left: 1px grey solid;"></td>
					</tr>
					<tr th:if="${DruckparameterNurBelegteFaecher}">
						<td colspan="10" class="tiny" style="font-style: italic">
							<p>Wählbare Fächer des Abiturjahrgangs: <span th:each="Fachwahl,iterFach : ${SchuelerLaufbahndaten.Fachwahlen}" th:text="${Fachwahl.Bezeichnung} + ${iterFach.count != iterFach.size ? ', ' : ''}">Deutsch, Englisch</span></p>
						</td>
					</tr>
				</tfoot>
			</table>
			<div style="page-break-inside: avoid;">
				<p><u>Bemerkungen der Schule zur Gesamtlaufbahn:</u></p>
				<p th:if="${#strings.isEmpty(SchuelerLaufbahndaten.Kommentar) && #lists.isEmpty(SchuelerLaufbahndaten.Fehler)}"><i>- keine -</i></p>
				<ul th:if="${!(#strings.isEmpty(SchuelerLaufbahndaten.Kommentar) && #lists.isEmpty(SchuelerLaufbahndaten.Fehler))}">
					<li th:if="${!#lists.isEmpty(SchuelerLaufbahndaten.Fehler)}" th:each="FehlerBelegung : ${SchuelerLaufbahndaten.Fehler}" th:text="${FehlerBelegung.belegungsfehler}">Fehlertext</li>
					<li th:if="${!#strings.isEmpty(SchuelerLaufbahndaten.Kommentar)}" th:text="${SchuelerLaufbahndaten.Kommentar}">Kommentar</li>
				</ul>
			</div>
			<div style="page-break-inside: avoid;">
				<p><u>Sonstige Hinweise zur Gesamtlaufbahn:</u></p>
				<p th:if="${#lists.isEmpty(SchuelerLaufbahndaten.Hinweise)}"><i>- keine -</i></p>
				<ul th:if="${!#lists.isEmpty(SchuelerLaufbahndaten.Hinweise)}">
					<li th:each="HinweisBelegung : ${SchuelerLaufbahndaten.Hinweise}" th:text="${HinweisBelegung.belegungshinweis}">Hinweistext</li>
				</ul>
			</div>
			<div style="page-break-inside: avoid;">
				<p>Die oben aufgeführten Fachwahlen gelten für die weitere Schullaufbahn als verbindlich gewählt, solange keine Korrekturwünsche den Beratungslehrkräften mitgeteilt werden.
				Korrekturwünsche können vor jedem Halbjahreswechsel nach Rücksprache mit den Beratungslehrkräften durchgeführt werden.
				Schulorganisatorische Gründe können zu einer Änderung der Fachwahlen und der Laufbahn führen.</p>
				<p th:text="${SchuelerLaufbahndaten.LetzteBeratungText}">Die letzte Beratung wurde durchgeführt am 16.05.2022 von M. Mustermann.</p>
				<table class="fixed-layout-100 no-space-pad" style="page-break-inside: avoid;">
					<tr style="height: 3em;">
						<td style="width: 30%;"> </td>
						<td style="width: 5%;"> </td>
						<td style="width: 30%;"> </td>
						<td style="width: 5%;"> </td>
						<td style="width: 30%;"> </td>
					</tr>
					<tr>
						<td class="small" style="text-align: center; border: 0.5px black; border-style: solid none none none" th:text="${SchuelerLaufbahndaten.Beratungslehrkraefte}">M. Mustermann</td>
						<td> </td>
						<td class="small" style="text-align: center; border: 0.5px black; border-style: solid none none none" th:text="${SchuelerLaufbahndaten.Vorname} + ' ' + ${SchuelerLaufbahndaten.Nachname}">Anna Musterfrau</td>
						<td> </td>
						<td class="small" style="text-align: center; border: 0.5px black; border-style: solid none none none">Erziehungsberechtigte</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
