always-auth=true

# registry=https://artifactory.svws-nrw.de/repository/npm-group/
# //artifactory.svws-nrw.de/repository/npm-group/:_auth=${NPM_TOKEN_BASE64}
 
@svws-nrw:registry=https://artifactory.svws-nrw.de/repository/npm-private/
//artifactory.svws-nrw.de/repository/npm-private/:_auth=${NPM_TOKEN_BASE64} 
